{% extends "statistics/read_base.html" %}

{% block pre_primary %}
  <div class="page-hero"></div>
 <div data-module="statistics" class="statistics-page">
    <div class="js-statistics-loading statistics-loading">
      <div class="js-statistics-loading-steps statistics-loading-steps">
        <div class="js-statistics-loading-loaded statistics-loading-loaded">
        </div>
      </div>
      <p class="js-statistics-loading-text statistics-loading-text">{{ _('Loading') }}</p>
    </div>
    <h1 class="page-heading js-statistics-main-title"></h1>
    <nav class="statistics-nav">
      <div class="statistics-nav-content">
        <ul class="statistics-nav-items">
          <li><a href="#summary"></a></li>
          <li><a href="#datasets"></a></li>
          <li><a href="#apps"></a></li>
        </ul>
      </div>
    </nav>
    <nav class="statistics-nav statistics-nav-filters" id="statistics-filters-navbar">
     <div class="statistics-nav-content" id="statistics-filters">
       <div class="js-statistics-filter-datespan-fields">

         <div class="row">
           <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-1 col-xs-4 col-statistics-condensed">
             <div class="form-group has-datepicker">
               <input class="form-control js-statistics-filter-start-date" type="text" />
             </div>
           </div>
           <div class="col-lg-2 col-md-3 col-xs-4 col-statistics-condensed">
             <div class="form-group has-datepicker">
               <input class="form-control js-statistics-filter-end-date" type="text" />
             </div>
           </div>
           <div class="col-lg-2 col-md-4 col-xs-4 col-statistics-condensed">
             <div class="dropdown dropdown-modal statistics-filter-dropdown">
               <button class="btn btn-block btn-secondary dropdown-toggle" type="button">
                 <span class="fa fa-filter"></span>&nbsp{{ _('Filter') }}
               </button>
               <div class="dropdown-menu dropdown-menu-right">
                 <div class="panel-group">

                   <div class="panel panel-default">
                     <div class="panel-heading">
                        <span class="panel-title">
                          <a data-toggle="collapse" class="collapsed" href="#range-panel-body">
                            {{ _('Range') }}<span class="fa fa-plus collapse-icon"></span>
                          </a>
                        </span>
                     </div>
                     <div id="range-panel-body" class="panel-collapse collapse">
                       <div class="panel-body">
                         <span class="js-statistics-filter-datespan js-statistics-filter-datespan-all"></span>
                         <span class="js-statistics-filter-datespan js-statistics-filter-datespan-back-2-years"></span>
                         <span class="js-statistics-filter-datespan js-statistics-filter-datespan-back-1-year"></span>
                         <span class="js-statistics-filter-datespan js-statistics-filter-datespan-this-year"></span>
                       </div>
                     </div>
                   </div>

                   <div class="panel panel-default">
                     <div class="panel-heading">
                        <span class="panel-title">
                          <a data-toggle="collapse" class="collapsed" href="#publishers-panel-body">
                            {{ _('Publisher') }}<span class="fa fa-plus collapse-icon"></span>
                          </a>
                        </span>
                     </div>
                     <div id="publishers-panel-body" class="panel-collapse collapse">
                       <div class="panel-body">
                         <div class="js-statistics-filter-organization"></div>
                       </div>
                     </div>
                   </div>

                   <div class="panel panel-default">
                     <div class="panel-heading">
                        <span class="panel-title">
                          <a data-toggle="collapse" class="collapsed" href="#categories-panel-body">
                            {{ _('Category') }}<span class="fa fa-plus collapse-icon"></span>
                          </a>
                        </span>
                     </div>
                     <div id="categories-panel-body" class="panel-collapse collapse">
                       <div class="panel-body">
                         <div class="js-statistics-filter-category"></div>
                       </div>
                     </div>
                   </div>

                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </nav>


    <span id="filters-nav-trigger"></span>

    <div class="statistics-section summary-section js-statistics-summary-section">
      <div class="statistics-section-content">
        <div class="js-summary-attention-numbers"></div>
      </div>
    </div>

    <div class="statistics-section statistics-dataset-section js-statistics-datasets-section">
      <div class="statistics-section-content">
        <h2 class="js-statistics-datasets-section-title"></h2>
        <div class="js-most-visited-datasets"></div>
        <div class="js-dataset-totals-timeline"></div>
        <div class="js-category-dataset-counts"></div>
        <div class="js-format-dataset-counts"></div>
        <div class="js-organization-dataset-counts"></div>
      </div>
    </div>

    <div class="statistics-section statistics-app-section js-statistics-apps-section">
      <div class="statistics-section-content">
        <h2 class="js-statistics-apps-section-title"></h2>
        <div class="js-app-totals-timeline"></div>
        <div class="js-category-app-counts"></div>
      </div>
    </div>

  </div>
{% endblock %}
