{#
Displays a single dataset of type 'showcase'.

package        - A package to display.
item_class     - The class name to use on the list item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_remove    - If True, show the remove button to remove showcase/dataset association.

#}
{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(h.get_translated(package, 'notes'), extract_length=truncate) %}

{% block package_item %}

<li class="media-item media-item-success">
  <a href="{{ h.url_for('sixodp_showcase.read', id=package.name) }}"
     title="{{ _('View {showcase_title}').format(showcase_title=package.title) }}"
     class="media-link">
  {% block item_inner %}
    {% block image %}
      <img src="{{ package.image_1_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ package.name }}" class="media-image">
    {% endblock %}

    <div class="item-content">
      {% block title %}
        <h2 class="media-heading">
          {{ h.truncate(title, truncate_title) }}
        </h2>
      {% endblock %}

      <span>{{h.render_datetime(package.metadata_created, '%-d.%-m.%Y')}}</span>
      {% block rating %}
        {# Ratings are disabled for now
        {% snippet "rating/snippets/stars_inactive.html", package=package %}
        #}
      {% endblock %}
      {% block notes %}
      {% endblock %}
      {% block datasets %}{% endblock %}
      {% block link %}
      {% endblock %}
      {% if show_remove %}
        <form method="post"><input type="hidden" value="{{ package.id }}" name="remove_showcase_id" /><input value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-small media-edit" title="{{ _('Remove dataset from this showcase') }}"/></form>
      {% endif %}
    </div>
  {% endblock %}
  </a>
</li>
{% endblock %}
{# {% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %} #}
