<ul class="horizontal-list">
  {% for item in store_links %}
    {% if item | length > 0 %}
      <li>
        {% if 'apps.apple.com' in item or 'itunes.apple.com' in item %}
          <a href="{{item}}">
            <img src="/assets/images/apple-app-store-badge-{{ h.get_current_lang() }}.svg">
          </a>
        {% elif 'play.google.com' in item %}
          <a href="{{item}}">
            <img src="/assets/images/google-play-badge-{{ h.get_current_lang() }}.png">
          </a>
        {% elif 'microsoft.com' in item %}
          <a href="{{item}}">
            <img src="/assets/images/microsoft-store-badge-{{ h.get_current_lang() }}.png">
          </a>
        {% else %}
          <a href="{{item}}">
            <img src="/assets/images/website-badge-{{ h.get_current_lang() }}.png">
          </a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>