[DEFAULT]

debug = {{ debug_enabled }}

[server:main]

use = egg:Paste#http
host = 0.0.0.0
port = 5000

[app:main]

use = egg:ckan
full_stack = true
cache_dir = /tmp/%(ckan.site_id)s/

beaker.session.key = ckan
beaker.session.secret = {{ secret.ckan_config.beaker_session_secret }}

app_instance_uuid = {{ secret.ckan_config.app_instance_uuid }}

who.config_file = %(here)s/who.ini
who.log_level = warning
who.log_file = %(cache_dir)s/who_log.ini

# Secure cookie
who.secure = True

sqlalchemy.url = postgres://{{ postgres.users.ckan.username }}:{{ postgres.users.ckan.password }}@{{ postgres.server.host }}/{{ postgres.databases.ckan.name }}

ckan.datastore.write_url = postgres://{{ postgres.users.ckan.username }}:{{ postgres.users.ckan.password }}@{{ postgres.server.host }}/{{ postgres.databases.ckan_datastore.name }}
ckan.datastore.read_url = postgres://{{ postgres.users.ckan_datastore.username }}:{{ postgres.users.ckan_datastore.password }}@{{ postgres.server.host }}/{{ postgres.databases.ckan_datastore.name }}

ckan.site_url = https://{{ public_facing_hostname }}
ckan.site_url_internally = https://{{ public_facing_hostname }}/data/
{% raw %}
ckan.root_path = /data/{{LANG}}
{% endraw %}

ckan.auth.anon_create_dataset = false
ckan.auth.create_unowned_dataset = false
ckan.auth.create_dataset_if_not_in_organization = false
ckan.auth.user_create_groups = true
ckan.auth.user_create_organizations = true
ckan.auth.user_delete_groups = true
ckan.auth.user_delete_organizations = true
ckan.auth.create_user_via_api = false
ckan.auth.create_user_via_web = false
ckan.auth.roles_that_cascade_to_sub_groups = admin

ckan.site_id = {{ ckan_site_id }}
ckan.site_title = {{ ckan_site_name }}
ckan.site_logo =
ckan.site_description =

ckan.featured_orgs = {{ ckan_featured_orgs }}

ckan.plugins = {{ enabled_ckan_extensions | join(" ") }} {% if AWS.enabled  -%} {{ enabled_ckan_aws_extensions }} {%- endif %}

ckan.preview.xml_formats = xml xsd xsd+xml soap soap+xml rdf rdf+xml owl+xml atom rss wsdl wsdl+xml
ckan.views.default_views = text_view

ckanext.geoview.ol_viewer.formats = wms kml wfs

ckanext.pages.editor = ckeditor

ckan.favicon = /images/icons/ckan.ico
ckan.gravatar_default = identicon

# Use this once ckan issue #2882 is fixed
#ckan.display_timezone = Europe/Helsinki

ckan.locale_default = fi
ckan.locale_order = fi en_GB sv en pt_BR ja it cs_CZ ca es fr el sv sr sr@latin no sk fi ru de pl nl bg ko_KR hu sa sl lv
ckan.locales_offered = fi sv en_GB
ckan.locales_filtered_out =
ckan.feeds.authority_name =
ckan.feeds.date =
ckan.feeds.author_name =
ckan.feeds.author_link =

scheming.presets = ckanext.scheming:presets.json
                   ckanext.fluent:presets.json
                   ckanext.sixodp_scheming:presets.json

scheming.dataset_schemas = ckanext.sixodp_scheming.schemas:dataset.json
                           ckanext.sixodp_showcase.schemas:showcase.json

scheming.group_schemas = ckanext.sixodp_scheming.schemas:group.json
                         ckanext.collection.schemas:collection.json

licenses_group_url = file://{{ckanext_sync_path}}/ckanext-sixodp_scheming/ckanext/sixodp_scheming/licenses/licenses.json

ckanext.sixodp_ui.cms_site_url = {{ cms_site_url }}
ckanext.sixodp_ui.wp_api_base_url = /wp-json/wp/v2

ckanext.sixodp_ui.wp_api_menus_base_url = /wp-json/wp-api-menus/v2
ckanext.sixodp_ui.wp_main_menu_location = primary
ckanext.sixodp_ui.wp_footer_menu_location = footer
ckanext.sixodp_ui.wp_social_menu_location = socialmedia

# Disable sending error emails. Commented out because the default is None, and "None" is interpreted here as a string.
# email_to = 
# error_email_from =

smtp.server = {{ email.smtp_server }}
smtp.starttls = False
smtp.mail_from = no-reply

ckan.harvest.mq.type = redis
ckan.harvest.mq.hostname = {{ redis.host }}
ckan.harvest.mq.port = {{ redis.port }}
ckan.harvest.mq.redis_db = {{ redis_harvest_database }}

ckanext-archiver.archive_dir = {{ resource_cache_path }}
ckanext-archiver.max_content_length = 50000000
ckanext-archiver.cache_url_root = https://{{ public_facing_hostname }}/resource_cache/
ckanext-archiver.user_agent_string = {{ public_facing_hostname }} archiver

# 2.2 filestore:
ckan.storage_path = {{ ckan_storage_path }}

solr_url = http://{{ solr.host }}:{{ solr.port }}/solr/ckan

ckan.datapusher.url = http://0.0.0.0:8800/

{% if AWS.enabled -%}
ckanext.cloudstorage.driver = {{ AWS.region }}
ckanext.cloudstorage.container_name = {{ AWS.ckan_s3_bucket }}
ckanext.cloudstorage.use_secure_urls = 1
{% if AWS.use_iam_role -%}
ckanext.cloudstorage.driver_options = {}
{%- endif %}

{% if not AWS.use_iam_role -%}
ckanext.cloudstorage.driver_options = {"key": "{{ AWS.access_key }}", "secret": "{{ AWS.secret_access_key }}"}

{%- endif %}
{%- endif %}

ckan.tracking_enabled = true

ckan.max_resource_size = {{ ckan_max_resource_size }}

# Rating configuration
ckanext.rating.enabled_dataset_types = dataset showcase

# Reminder configuration
ckanext.reminder.site_url = https://{{ public_facing_hostname }}/data
ckanext.reminder.email = {{ ckan_users.admin.email }}
ckanext.reminder.date_field = reminder

# Editor configuration
ckanext.editor.editable_fields = title_translated name keywords geographical_coverage notes_translated external_urls owner_org url maintainer maintainer_email maintainer_website private date_released date_updated update_frequency licence_id reminder global_id search_synonyms
ckanext.editor.default_field = title_translated
ckanext.editor.appendable_fields = title_translated name keywords geographical_coverage notes_translated external_urls url maintainer maintainer_email maintainer_website update_frequency global_id search_synonyms
ckanext.editor.enable_group_editing = true
ckanext.editor.enable_collection_editing = true # Use only when ckanext-collection is in use

ckanext.hierarchy.show_organizations_without_datasets = True

ckanext.datasubmitter.creating_user_username = {{ ckan_users.admin.username }}
ckanext.datasubmitter.organization_name_or_id = replace-with-actual-organization-name
ckanext.datasubmitter.recaptcha_sitekey = {{ recaptcha_sitekey }}
ckanext.datasubmitter.recaptcha_secret = {{ secret.recaptcha_secret }}
ckanext.datasubmitter.recipient_emails = {{ ckan_users.admin.email }}

ckanext.sixodp_showcasesubmit.creating_user_username = {{ ckan_users.admin.username }}
ckanext.sixodp_showcasesubmit.recaptcha_sitekey = {{ recaptcha_sitekey }}
ckanext.sixodp_showcasesubmit.recaptcha_secret = {{ secret.recaptcha_secret }}
ckanext.sixodp_showcasesubmit.recipient_emails = {{ ckan_users.admin.email }}

# Disqus configuration
disqus.name = {{ secret.disqus_short_name }}

# ckanext-googleanalytics
{% if google_analytics is defined %}
googleanalytics.track_events = true
googleanalytics.show_downloads = true
googleanalytics.domain = auto
googleanalytics.id = {{ google_analytics.id }}
googleanalytics.account = {{ google_analytics.account }}
googleanalytics.token.filepath = {{ google_analytics_secrets_file_path }}
ga-report.period = monthly
ga-report.bounce_url = /
{% endif %}

# ckanext-collection
ckanext.collection.api_collection_name_or_id: rajapinnat

[loggers]

keys = root, ckan, ckanext

[handlers]

keys = console

[formatters]

keys = generic

[logger_root]

level = WARNING
handlers = console

[logger_ckan]

level = INFO
handlers = console
qualname = ckan
propagate = 0

[logger_ckanext]

{% if deployment_environment_id == "vagrant" %}
level = DEBUG
{% else %}
level = INFO
{% endif %}
handlers = console
qualname = ckanext
propagate = 0

[handler_console]

class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]

format = %(asctime)s %(levelname)-5.5s [%(name)s] %(message)s

[app:celery]

BROKER_URL = redis://{{ redis.host }}:{{ redis.port }}/{{ redis_celery_database }}
CELERY_RESULT_BACKEND = redis://{{ redis.host }}:{{ redis.port }}/{{ redis_celery_database }}
CELERY_RESULT_SERIALIZER = json
CELERY_TASK_SERIALIZER = json
BROKER_BACKEND =
BROKER_HOST =
CELERY_RESULT_DBURI =
CELERYD_CONCURRENCY = 4
