<?php
  /**
  * Configure ckan urls for theme
  */
?>

<?php
    define( 'CKAN_BASE_URL', 'https://{{ public_facing_hostname }}/data' );
    define( 'CKAN_API_URL', 'http://{{ ckan_internal_host }}/data/api' );

?>