<?php
  /**
  * Configure ckan urls for theme
  */
?>

<?php
    define( 'CKAN_BASE_URL', 'https://{{ public_facing_hostname }}' );
    define( 'CKAN_API_URL', 'https://{{ public_facing_hostname }}/data/api' );

?>