<?php
  /**
  * Configure ckan urls for theme
  */
?>
<?php
define('DISQUS_PUBLIC_KEY', '{{ disqus_public_key }}');
define('DISQUS_SECRET_KEY', '{{ disqus_secret_key }}');
define('DISQUS_SHORT_NAME', '{{ disqus_short_name }}');
?>
