%centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #aaa;
}

.centered {
  @extend %centered;
}

.box-shadow {
  box-shadow: 0 4px 3px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.box-shadow-highlight {
  box-shadow: 0 6px 10px rgba(50,50,93,.1),0 4px 3px rgba(0,0,0,.08);
  transition: all .3s linear;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}