/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  background: url('/base/images/frontpage.jpg') no-repeat fixed;
  background-size: cover;

  &:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
    height: $base*16;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 480px) {
    width: 80%;
  }

  @media (min-width: 1080px) {
    width: 960px;
  }
}

.wrapper {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
}
