// Base
$base: 10px;

// Colors
$black: #333;
$white: #ffffff;

$brand-primary:         #534f97;
$brand-success:         #97ba54;
$brand-info:            #446eb5;
$brand-warning:         #f0ad4e; // Bootstrap default color
$brand-danger:          #d9534f; // Bootstrap default color

// Typography
$font-size: $base*1.6;
$font-size-small: $base*1.4;
$font: 'Work Sans', sans-serif;

// Navigation
$nav-height: $base*5;

// Components
$border-radius-base: 0;
$border-radius-large: 0.25em;
$border-radius-small: 2px;

$border-base: 2px;

$padding-base: 20px;

// Breakpoints
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
