// Base
$base: 10px;

// Colors
$gray-base: #57575b;
$black: $gray-base;
$white: #ffffff;

$brand-background: #f5f5f5;
$brand-primary: #534f97;
$brand-success: #97ba54;
$brand-info: #446eb5;
$brand-warning: #f0ad4e; // Bootstrap default color
$brand-danger: #d9534f; // Bootstrap default color

$lighten-intensity: 10%;
$darken-intensity: 10%;

$brand-primary-light: lighten($brand-primary, $lighten-intensity);
$brand-success-light: lighten($brand-success, $lighten-intensity);
$brand-info-light: lighten($brand-info, $lighten-intensity);
$brand-warning-light: lighten($brand-warning, $lighten-intensity);
$brand-danger: lighten($brand-danger, $lighten-intensity);

$brand-primary-dark: darken($brand-primary, $darken-intensity);
$brand-success-dark: darken($brand-success, $darken-intensity);
$brand-info-dark: darken($brand-info, $darken-intensity);
$brand-warning-dark: darken($brand-warning, $darken-intensity);
$brand-danger-dark: darken($brand-danger, $darken-intensity);

// Typography
$font-size: $base*1.6;
$font-size-small: $base*1.4;
$font: 'Work Sans', sans-serif;

// Navigation
$nav-height: 160px;

// Components
$border-radius-base: 2px;
$border-radius-large: 0.25em;
$border-radius-small: 2px;

$border-base: 2px;

$padding-base-horizontal: 25px;
$padding-base-vertical: 20px;
$margin-base-horizontal: 25px;
$margin-base-vertical: 20px;

// Breakpoints
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
$width-xl: 1400px;
