// Base
$base: 10px;

// Colors
$purple: #593FBA;
$purple--light: #8a70ec;
$black: #333;
$white: #ffffff;
$color--primary: $purple;
$color--primary-highlighted: $purple--light;

// Typography
$font-size: $base*1.6;
$font: 'Work Sans', sans-serif;

// Navigation
$nav-height: $base*5;

// Components
$border-radius-base: 0;
$border-radius-large: 0.25em;
$border-radius-small: 2px;

$border-base: 2px;