<div class="form-group">
  <label for="field-select" class="control-label">{{ _('Select field to edit') }}</label>
  <div class="controls">
    <select id="field-select" class="form-control" name="field" onchange="if (this.value) window.location.href=this.value">
      {% for option in c.editable_fields %}
      {% set option_href = '/editor?_field=' + option.field_name %}
      {% set selected =  c.selected_field.field_name == option.field_name %}
      <option value="{{option_href}}" {% if selected %} selected="selected"{% endif %}>
        {{ _(option.label) }}
      </option>
      {% endfor %}
    </select>
  </div>
</div>

{% set field_snippet_path = 'scheming/form_snippets/' + c.selected_field.form_snippet or 'large_text_ex.html' %}
<div class="form-group">
  {% snippet field_snippet_path, field=c.selected_field, data={}, errors=[] %}
</div>