{#
Displays a list of datasets in a table with select option.

packages       - A list of packages to display.
item_class     - The class name to use on each item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'editor/snippets/package_list.html', packages=c.datasets %}
#}

{% block package_list %}
  {% if packages %}
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <th><input type="checkbox" id="select-all"></th>
            <th>{{ _('Title')}}</th>
        </thead>
        <tbody>
            {% for package in packages %}
                {% snippet 'editor/snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
            {% endfor %}
        </tbody>
    </table>
  {% endif %}
{% endblock %}