{% resource 'hierarchy/hierarchy_theme.css' %}
{% resource 'hierarchy/jquery.hierarchy.js' %}

<ul class="hierarchy-tree-top">
  {% for node in top_nodes recursive %}
      {% set longname = h.group_tree_get_longname(node.name) %} 
      {% set display_text = node.title %} 
      {% if use_longnames and longname%}
          {% set display_text = longname + " (" + display_text + ")" %}
      {% endif %} 
      {% if node.highlighted %}
          <li class="hierarchy-tree-node highlighted" id="node_{{ node.name }}">
      {% else %}
          <li class="hierarchy-tree-node" id="node_{{ node.name }}">
      {% endif %}
      {% link_for display_text, controller='organization', action='read', id=node.name %}
      {% if node.children %}
        <ul class="hierarchy-tree"> {{ loop(node.children) }} </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
