<div class="hero">
  <div class="hero-background-container">
    <h1 class="site-title">Avointa dataa vapaasti hyödynnettäväksesi</h1>
    <h3 class="site-subtitle">Löydä kaiken maailman data täältä</h3>
    <div class="searchbox">
      {% block search %} {% snippet 'home/snippets/sixodp_huge-search.html' %} {% endblock %}
    </div>
  </div>
</div>
<div role="main">
  {% block service_alerts %}
    {% snippet 'snippets/service_alerts.html' %}
  {% endblock %}
  <div class="container">
    <div class="module">
      <div class="module-wrapper">
        <div class="module-header">
          <h3 class="module-heading">Meillä tapahtuu</h3>
        </div>
        <div class="module-body">
          <div class="module-image">
            <img src="http://placehold.it/320x280" />
          </div>
          <div class="module-content">
            <div class="module-content-header">
              <h4>
                Helsinki Region Infoshare -palvelu lanseerattiin maaliskuussa 2011. Tänä keväänä HRI juhlii viisivuotista taivaltaan järjestämällä juhlaseminaarin to 19.5.2016 Helsingin kaupungintalon juhlasalissa.
              </h4>
            </div>
            <div class="module-content-desc">
              <p>
                Seminaarissa tutustutaan HRI-palvelun upeisiin menestystarinoihin ja pohditaan, miten digitaalista kaupunkia rakennetaan avoimen tiedon pohjalta. Seminaarin yhteistyökumppanina toimii Forum Virium Helsinki, jolla on ollut merkittävä rooli HRI-palvelun rakentamisessa ja kehittämisessä.
              </p>
            </div>
            <div class="module-content-meta">
              <span class="meta">20.6.2016</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
