<div class="hero">
  <h1 class="site-title">{{ _('Site title') }}</h1>
  <h3 class="site-subtitle">{{ _('Site subtitle') }}</h3>
  <div class="searchbox">
    {% block search %} {% snippet 'home/snippets/sixodp_huge-search.html' %} {% endblock %}
  </div>
  <div class="tagbox">
    {% if h.get_popular_tags() %}
    <h4 class="tagbox-header">{{ _('Popular tags') }}</h4>
    <ul class="tag-list">
      {% for tag in h.get_popular_tags() %}
        <li><a class="tag" href="/dataset?tags={{tag}}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div role="main" class="home-main">
  {% block service_alerts %}
    {% snippet 'snippets/service_alerts.html' %}
  {% endblock %}
  <div class="container home-highlight">
    <div class="row">
      <h3 class="highlight-header">Meillä tapahtuu</h3>
      <div class="col-md-3">
        <img src="http://placehold.it/320x280" />
      </div>
      <div class="col-md-7 col-md-offset-2">
        <div class="wrapper">
          <h4>
            Helsinki Region Infoshare -palvelu lanseerattiin maaliskuussa 2011. Tänä keväänä HRI juhlii viisivuotista taivaltaan järjestämällä juhlaseminaarin to 19.5.2016 Helsingin kaupungintalon juhlasalissa.
          </h4>
          <p>
            Seminaarissa tutustutaan HRI-palvelun upeisiin menestystarinoihin ja pohditaan, miten digitaalista kaupunkia rakennetaan avoimen tiedon pohjalta. Seminaarin yhteistyökumppanina toimii Forum Virium Helsinki, jolla on ollut merkittävä rooli HRI-palvelun rakentamisessa ja kehittämisessä.
          </p>
          <p>
            <span class="meta">20.6.2016</span>
            <span class="meta">Asuminen</span>
            <span class="meta">Blogit</span>
          </p>
          <button type="button" class="btn btn-primary">Lue lisää</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="stats-list">
        <div class="col-md-2 col-md-offset-1 col-sm-12 stats-list-item">
          <div class="item-value">345</div>
          <div class="item-description">{{ _('Datasets statistics') }}</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">224</div>
          <div class="item-description">{{ _('Applications statistics') }}</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">198</div>
          <div class="item-description">{{ _('Interfaces statistics') }}</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">1234</div>
          <div class="item-description">{{ _('Users statistics') }}</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">9876</div>
          <div class="item-description">{{ _('Shares statistics') }}</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <h3 class="text-center">{{ _('Topics') }}</h3>
      <div class="category-list">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/hallinto.svg" />
          <h4>{{ _('Government') }}</h4>
          <p class="item-description">{{ _('Government') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/liikenne.svg" />
          <h4>{{ _('Transportation and maps') }}</h4>
          <p class="item-description">{{ _('Transportation and maps description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/matkailu.svg" />
          <h4>{{ _('Tourism') }}</h4>
          <p class="item-description">{{ _('Tourism description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/sosiaalipalvelut.svg" />
          <h4>{{ _('Education') }}</h4>
          <p class="item-description">{{ _('Education description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/rakentaminen.svg" />
          <h4>{{ _('Construction') }}</h4>
          <p class="item-description">{{ _('Construction description') }}</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/talousjaverotus.svg" />
          <h4>{{ _('Economy') }}</h4>
          <p class="item-description">{{ _('Economy description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/terveys.svg" />
          <h4>{{ _('Health') }}</h4>
          <p class="item-description">{{ _('Health description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/vaesto.svg" />
          <h4>{{ _('Population') }}</h4>
          <p class="item-description">{{ _('Population description') }}</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/ymparistojaluonto.svg" />
          <h4>{{ _('Outdoors and recreation') }}</h4>
          <p class="item-description">{{ _('Outdoors and recreation description') }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">{{ _('Most recent content') }}</h3>  
        {% if h.get_recent_content() %}
        <ul class="topic-list"> 
          {% for item in h.get_recent_content() %}
            <li class="topic-list-item">
              <h4 class="topic-header">{{ item['title'] }}</h4>
              <p class="topic-timestamp">{{  h.render_datetime(item['metadata_created'], '%-d.%-m.%Y') }}</p>
              <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <h4 class="text-center">{{ _('Recent content was not found') }}</h4>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h3 class="text-center">{{ _('Popular this month') }}</h3>
        <ul class="topic-list">
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>