<div class="hero">
  <h1 class="site-title">Avointa dataa vapaasti hyödynnettäväksesi</h1>
  <h3 class="site-subtitle">Löydä kaiken maailman data täältä</h3>
  <div class="searchbox">
    {% block search %} {% snippet 'home/snippets/sixodp_huge-search.html' %} {% endblock %}
  </div>
  <div class="tagbox">
    <h4 class="tagbox-header">Suositut avainsanat</h4>
    <ul class="tag-list">
      <li><a class="tag">kulttuuritapahtumat</a></li>
      <li><a class="tag">matkailu</a></li>
      <li><a class="tag">tapahtumat</a></li>
      <li><a class="tag">urheilutapahtumat</a></li>
      <li><a class="tag">seminaarit</a></li>
    </ul>
  </div>
</div>
<div role="main">
  {% block service_alerts %}
    {% snippet 'snippets/service_alerts.html' %}
  {% endblock %}
  <div class="container home-highlight">
    <div class="row">
      <h3 class="highlight-header">Meillä tapahtuu</h3>
      <div class="col-md-3">
        <img src="http://placehold.it/320x280" />
      </div>
      <div class="col-md-7 col-md-offset-2">
        <div class="wrapper">
          <h4>
            Helsinki Region Infoshare -palvelu lanseerattiin maaliskuussa 2011. Tänä keväänä HRI juhlii viisivuotista taivaltaan järjestämällä juhlaseminaarin to 19.5.2016 Helsingin kaupungintalon juhlasalissa.
          </h4>
          <p>
            Seminaarissa tutustutaan HRI-palvelun upeisiin menestystarinoihin ja pohditaan, miten digitaalista kaupunkia rakennetaan avoimen tiedon pohjalta. Seminaarin yhteistyökumppanina toimii Forum Virium Helsinki, jolla on ollut merkittävä rooli HRI-palvelun rakentamisessa ja kehittämisessä.
          </p>
          <p>
            <span class="meta">20.6.2016</span>
            <span class="meta">Asuminen</span>
            <span class="meta">Blogit</span>
          </p>
          <button type="button" class="btn btn-primary">Lue lisää</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="stats-list">
        <div class="col-md-2 col-md-offset-1 col-sm-12 stats-list-item">
          <div class="item-value">345</div>
          <div class="item-description">Tietoaineistoa</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">224</div>
          <div class="item-description">Sovellusta</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">198</div>
          <div class="item-description">Rajapintaa</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">1234</div>
          <div class="item-description">Käyttäjää</div>
        </div>
        <div class="col-md-2 col-sm-12 stats-list-item">
          <div class="item-value">9876</div>
          <div class="item-description">Jakoa</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <h3 class="text-center">Aihepiirit</h3>
      <div class="category-list">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/hallinto.svg" />
          <h4>Hallinto</h4>
          <p class="item-description">Hallinto, Laki ja oikeusturva, Turvallisuus, Tietotekniikka</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/kartatjapaikkatieto.svg" />
          <h4>Liikenne ja kartat</h4>
          <p class="item-description">Liikenne ja Kartat</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/kulttuuri.svg" />
          <h4>Matkailu</h4>
          <p class="item-description">Kulttuuri, Matkailu, Neuvonta</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/sosiaalipalvelut.svg" />
          <h4>Opetus</h4>
          <p class="item-description">Opetus ja koulutus</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/rakentaminen.svg" />
          <h4>Rakennukset</h4>
          <p class="item-description">Asuminen, Rakentaminen, Kaavat ja kiinteistöt</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/talousjaverotus.svg" />
          <h4>Talous</h4>
          <p class="item-description">Talous, Työ ja elinkeinot</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/terveys.svg" />
          <h4>Terveys</h4>
          <p class="item-description">Terveys, Sosiaalipalvelut</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/vaesto.svg" />
          <h4>Väestö</h4>
          <p class="item-description">Väestö</p>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 text-center category-list-item">
          <img src="/fanstatic/sixodp_ui/icons/ymparistojaluonto.svg" />
          <h4>Ympäristö ja liikunta</h4>
          <p class="item-description">Ympäristö ja luonto, Liikunta ja ulkoilu</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">Uusin sisältö</h3>
        <ul class="topic-list">
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Kuukauden katsotuimmat</h3>
        <ul class="topic-list">
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon luontokohteet</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Sovellukset - Ympäristö ja liikunta</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
          <li class="topic-list-item">
            <h4 class="topic-header">Espoon liikenneväylien keskilinjat</h4>
            <p class="topic-timestamp">12.8.2016</p>
            <p class="topic-info">Tietoaineistot - Kartat ja paikkatieto</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>