.vagrant/
*.pyc
sixodp-secrets
server.csr
server.pass.key
node_modules
.DS_Store
.idea
.vscode
*.retry
transifexrc
ckanext/ckan/
sixodp/app.css
sixodp/app.js
sixodp/ckan-config.php
sixodp/disqus-config.php
sixodp/matomo-config.php
npm-debug.log
src

*.mo