[submodule "ckanext/ckanext-fluent"]
	path = ckanext/ckanext-fluent
	url = https://github.com/open-data/ckanext-fluent.git
[submodule "ckanext/ckanext-showcase"]
	path = ckanext/ckanext-showcase
	url = https://github.com/6aika/ckanext-showcase.git
[submodule "ckanext/ckanext-hierarchy"]
	path = ckanext/ckanext-hierarchy
	url = https://github.com/6aika/ckanext-hierarchy.git
[submodule "ckanext/ckanext-disqus"]
	path = ckanext/ckanext-disqus
	url = https://github.com/ckan/ckanext-disqus
[submodule "ckanext/ckanext-cloudstorage"]
	path = ckanext/ckanext-cloudstorage
	url = https://github.com/6aika/ckanext-cloudstorage.git
[submodule "ckanext/ckanext-rating"]
	path = ckanext/ckanext-rating
	url = https://github.com/6aika/ckanext-rating
[submodule "ckanext/ckanext-reminder"]
	path = ckanext/ckanext-reminder
	url = https://github.com/6aika/ckanext-reminder
[submodule "ckanext/ckanext-harvest"]
	path = ckanext/ckanext-harvest
	url = https://github.com/6aika/ckanext-harvest.git
[submodule "ckanext/ckanext-scheming"]
	path = ckanext/ckanext-scheming
	url = https://github.com/6aika/ckanext-scheming.git
[submodule "ckanext/ckanext-report"]
	path = ckanext/ckanext-report
	url = https://github.com/6aika/ckanext-report.git
[submodule "ckanext/ckanext-editor"]
	path = ckanext/ckanext-editor
	url = https://github.com/6aika/ckanext-editor
[submodule "ckanext/ckanext-qa"]
	path = ckanext/ckanext-qa
	url = https://github.com/6aika/ckanext-qa
[submodule "ckanext/ckanext-archiver"]
	path = ckanext/ckanext-archiver
	url = https://github.com/6aika/ckanext-archiver
[submodule "ckanext/ckanext-collection"]
	path = ckanext/ckanext-collection
	url = https://github.com/6aika/ckanext-collection
[submodule "ckanext/ckanext-datasetcopy"]
	path = ckanext/ckanext-datasetcopy
	url = https://github.com/6aika/ckanext-datasetcopy
[submodule "ckanext/ckanext-spatial"]
	path = ckanext/ckanext-spatial
	url = https://github.com/ckan/ckanext-spatial.git
[submodule "wordpress/wp-trello"]
	path = wordpress/wp-trello
	url = https://github.com/6aika/wp-trello
[submodule "wordpress/wp-api-menus"]
	path = wordpress/wp-api-menus
	url = https://github.com/6aika/wp-api-menus
[submodule "ckanext/ckanext-googleanalytics"]
	path = ckanext/ckanext-googleanalytics
	url = https://github.com/6aika/ckanext-googleanalytics.git
	branch = master
[submodule "ckanext/ckanext-ga-report"]
	path = ckanext/ckanext-ga-report
	url = https://github.com/6aika/ckanext-ga-report.git
