.vagrant/
*.pyc
sixodp-secrets
server.csr
server.pass.key
node_modules
.DS_Store
.idea
.vscode
*.retry
transifexrc
ckanext/ckanext-sixodp_theme/ckanext/sixodp_theme/fanstatic/sixodp_theme.css
ckanext/ckan/
ckanext/ckanext-sixodp_ui/ckanext/sixodp_ui/fanstatic/css/sixodp_theme.css
