{% import 'macros/form.html' as form %}

<script>
  function onSubmit() {
    document.getElementById("submit-dataset-form").submit();
  }
</script>

<form id="submit-dataset-form" class="dataset-form form-horizontal" method="post" action="submit-data" data-module="basic-form" novalidate>

  <h2 class="h3">{{ _('Dataset info') }}</h2>

  <div class="row row-compensate">
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
      {% call form.input(
        'title_translated-fi',
        id='field-title_translated-fi',
        label=_('Title'),
        placeholder=_('A descriptive title for the dataset'),
        value=data['title_translated']['fi'] if data['title_translated'],
        error=errors['title_translated']['fi'] if errors['title_translated'] else errors['name'],
        classes=['control-full'],
        attrs={},
        is_required=true
        )
        %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-lg-10 col-md-12 col-sm-10 col-xs-12">
      {% snippet "scheming/form_snippets/fluent_markdown_ex.html", field={
        "field_name": "notes_translated",
        "label": "Description",
        "preset": "fluent_core_markdown_translated",
        "form_placeholder": "Example: The dataset includes financial information for Acme corporation starting from the year 2012",
        "form_languages": ["fi", "en", "sv"],
        "description": " ",
        "only_default_lang_required": true
      }, data=data, errors=errors %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'organization',
        id='organization',
        label=_('Owner organization'),
        placeholder='',
        value=data['organization'],
        error=errors['organization'],
        classes=['control-medium'],
        attrs={},
        is_required=false
        )
        %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'url',
        id='url',
        label=_('Dataset url'),
        placeholder='',
        value=data['url'],
        error=errors['url'],
        classes=['control-medium'],
        attrs={},
        is_required=false
        )
        %}
      {% endcall %}
    </div>
  </div>

  <h2 class="h3">{{ _('Submitter info') }}</h2>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'maintainer',
        id='maintainer',
        label=_('Name of the submitter'),
        placeholder='',
        value=data['maintainer'],
        error=errors['maintainer'],
        classes=['control-medium'],
        attrs={},
        is_required=false
        )
        %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'maintainer_email',
        id='maintainer_email',
        label=_('Submitter email'),
        placeholder='',
        value=data['maintainer_email'],
        error=errors['maintainer_email'],
        classes=['control-medium'],
        attrs={},
        is_required=true
        )
        %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-xs-12">
      {% block form_actions %}
        {% if message %}
          <div class="alert alert-{{message.class}}">
            {{ message.text }}
          </div>
        {% endif %}
        <div class="form-actions">
          <button class="btn btn-transparent--inverse g-recaptcha"
                  type="submit"
                  name="save"
                  data-sitekey="{{ h.get_datasubmitter_recaptcha_sitekey() }}"
                  data-callback="onSubmit">
            {% block save_button_text %}{{ _('Submit') }}{% endblock %}
          </button>
        </div>
      {% endblock %}
    </div>
  </div>
</form>