{% ckan_extends %}

{% block resource_additional_information_inner %}
  <div class="module-content main-content">
    <h3>{{ _('Additional Information') }}</h3>

    <div class="api-link">
      {% block api_link %}
        <a class="btn btn-block btn-transparent--inverse" href="{{ h.url_for('/', locale='default', qualified=true) }}api/action/resource_show?id={{c.resource.id}}">{{ _('Metadata API') }}</a>
      {% endblock %}
    </div>

    <table class="table table-condensed table-borderless table-striped" data-module="table-toggle-more">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- block resource_last_updated -%}
        {%- endblock -%}
        {%- block resource_created -%}
        {%- endblock -%}
        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {% if res.file_size %}
          {%- block resource_file_size -%}
          <tr>
            <th scope="row">{{ _('Size') }}</th>
            <td>
              {% set file_size = (res.file_size|int / 1000000) | round(2, 'common') %}
              {% if file_size > 10000 %}
                {{ (file_size / 1000) | round(2, 'common') | int }} {{ _('GB') }}
              {% else %}
                {{ file_size }} {{ _('MB') }}
              {% endif %}
            </td>
          </tr>
          {%- endblock -%}
        {% endif %}
        {%- block resource_fields -%}

            {%- set exclude_fields = [
            'name',
            'description',
            'url',
            'format',
            'name_translated',
            'description_translated',
            'file_size'
            ] -%}

          {%- set lang = h.get_lang_prefix() -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
              and field.display_snippet is not none 
              and res[field.field_name] -%}

              {% set empty_list = False %}
              {%- if res[field.field_name] is iterable and res[field.field_name] is not string and res[field.field_name] is not mapping -%}
                {%- if res[field.field_name] | first == "" -%}
                  {%- set empty_list = True -%}
                {%- endif -%}
              {%- elif res[field.field_name] is mapping and lang not in res[field.field_name] -%}
                {%- set empty_list = True -%}
              {%- endif -%}

              {%- if empty_list == False -%}

                <tr>
                  <th scope="row">
                    {{- h.scheming_language_text(field.label) -}}
                  </th>
                  <td>
                    {%- snippet 'scheming/snippets/display_field.html',
                        field=field, data=res, entity_type='dataset',
                        object_type=dataset_type -%}
                  </td>
                </tr>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
      </tbody>
    </table>
  </div>
{% endblock %}
