{% extends "package/confirm_delete.html" %}

{% block subtitle %}{% endblock %}


{% block form %}
    <p>{{ _('Are you sure you want to delete showcase - {showcase_name}?').format(showcase_name=c.pkg_dict.name) }}</p>
    <p class="form-actions">
    <form action="{% url_for 'sixodp_showcase.delete', id=c.pkg_dict.name %}" method="post">
        <button class="btn" type="submit" name="cancel" >{{ _('Cancel') }}</button>
        <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
    </form>
    </p>
{% endblock %}
