
{% block header_account_container_content %}
  {% if c.userobj %}
    {% set new_activities = h.new_activities() %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">account_circle</i> <span class="material-icon-label">Tili</span>
      </a>
      <ul id="profile" class="dropdown-menu">
        {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" class="nav-link" title="{{ _('Sysadmin settings') }}">
            <i class="icon-legal" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}

        <li>
          <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="nav-link" title="{{ _('View profile') }}">
            <i class="icon-user" aria-hidden="true"></i>
            <span class="text">{{ c.userobj.display_name }}</span>
          </a>
        </li>

        {% set new_activities = h.new_activities() %}

        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
          <a href="{{ h.url_for(controller='user', action='dashboard') }}" class="nav-link" title="{{ notifications_tooltip }}">
            <i class="icon-dashboard" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>

        <li>
          <a href="{{ h.url_for(controller='organization', action='index') }}" class="nav-link" title="{{ _('Organizations') }}">
            <i class="icon-building"></i>
            <span class="text">{{ _('Organizations') }}</span>
          </a>
        </li>


        {% block header_account_logged %}
        {% endblock %}

        {% block header_account_settings_link %}
          <li>
            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" class="nav-link" title="{{ _('Edit settings') }}">
              <i class="icon-cog" aria-hidden="true"></i>
              <span class="text">{{ _('Settings') }}</span>
            </a>
          </li>
        {% endblock %}

        {% block header_account_log_out_link %}
          <li>
            <a href="{{ h.url_for('/user/_logout') }}" class="nav-link" title="{{ _('Log out') }}">
              <i class="icon-signout" aria-hidden="true"></i>
              <span class="text">{{ _('Log out') }}</span>
            </a>
          </li>
        {% endblock %}
      </ul> <!-- /.dropdown-menu -->
    </li> <!-- /.dropdown -->
  {% else %}

    {% block header_account_notlogged %}
      <li>{% link_for _('Log in'), controller='user', action='login', icon='signin', class_='nav-link' %}</li>
      {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), controller='user', action='register', class_='nav-link sub' %}</li>
      {% endif %}
    {% endblock %} {# header_account_notlogged #}

  {% endif %} {# /if c.userobj #}
{% endblock %} <!-- header_account_container_content -->
