<link rel="stylesheet" type="text/css" href="/data/stats/styles/sections.css" />
<link rel="stylesheet" type="text/css" href="/data/stats/styles/typography.css" />
<link rel="stylesheet" type="text/css" href="/data/stats/styles/ui-components.css" />
<link rel="stylesheet" type="text/css" href="/data/stats/styles/visualization-elements.css" />

<link rel="stylesheet" type="text/css" href="/data/stats/visualizations/attention_numbers.css" />
<link rel="stylesheet" type="text/css" href="/data/stats/visualizations/totals_timeline.css" />
<link rel="stylesheet" type="text/css" href="/data/stats/sections/front_section.css" />


<div class="dashboard-page">

  <div class="dashboard-section front-section js-front-section">
    <div class="dashboard-section-content">
      <h1>
        <div>lounaistieto.fi</div>
        <div>Statistiikka</div>
      </h1>
      <div class="js-front-attention-numbers"></div>
    </div>
  </div>

  <div class="dashboard-section js-dataset-section">
    <div class="dashboard-section-content">
      <h2>Tietoaineistot</h2>
      <div class="js-dataset-totals-timeline"></div>
    </div>
  </div>

  <div class="dashboard-section js-app-section">
    <div class="dashboard-section-content">
      <h2>Sovellukset</h2>
      <div class="js-app-totals-timeline"></div>
    </div>
  </div>

  <div class="dashboard-section js-app-section">
    <div class="dashboard-section-content">
      <h2>Käyttäjät</h2>
    </div>
  </div>
</div>


<script src="/data/stats/styles/styles.js"></script>

<script src="/data/stats/vendor/d3.v4.min.js"></script>
<script src="/data/stats/vendor/moment.min.js"></script>

<script src="/data/stats/lib/config.js"></script>
<script src="/data/stats/lib/helpers.js"></script>
<script src="/data/stats/lib/locales.js"></script>

<script src="/data/stats/data/api.js"></script>

<script src="/data/stats/visualizations/attention_numbers.js"></script>

<script src="/data/stats/visualizations/totals_timeline.js"></script>

<script src="/data/stats/sections/front_section.js"></script>
<script src="/data/stats/sections/dataset_section.js"></script>
<script src="/data/stats/sections/app_section.js"></script>

<script src="/data/stats/main.js"></script>
