{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

{% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
{# Ratings are disabled for now
{% if pkg %}
  {% if h.show_rating_in_type(pkg.type) %}
  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
        {% block package_info_inner %}
          {% block follow_button %}{% endblock %}
          {% block rating %}
            <h2 class="module-heading">{{ _('Rating') }}</h2>
            {% snippet "rating/snippets/rating_single_flat.html", package=pkg, enable_input=true %}
          {% endblock %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% endif %}

{% endif %}
#}
{% endblock %}