{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div class="row">
    <div class="col-xs-9 resource-col">
      <a href="{{ url }}" title="{{ res.name or res.description }}">
        {% block resource_item_title %}
          {{ h.resource_display_name(res) }}
          <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">
            {{ res.format }}
          </span>
          {{ h.popular('views', res.tracking_summary.total, min=10) }}
        {% endblock %}
        {% block resource_item_description %}{% endblock %}
      </a>
    </div>
    <div class="col-xs-3 resource-col">
      {% block resource_item_explore %}
        <div class="pull-right resource-labels">

        {% if 'datastore' in g.plugins %}
          {% if res.datastore_active %}
            {% set datastore_root_url = h.url_for('/', locale='default', qualified=true) + 'api/action' %}
            {% set loading_text = _('Loading...') %}
            {% set api_info_url = h.url_for(controller='api', action='snippet', ver=1, snippet_path='api_info.html', datastore_root_url=datastore_root_url, resource_id=res.id) %}
            <a class="btn btn-success resource-download hidden-xs" href="{{ api_info_url }}" data-module="api-info" data-module-template="{{ api_info_url }}" data-loading-text="{{ loading_text }}"><i class="icon-beaker icon-large"></i> {{ _('Data API') }}</a>
          {% endif %}

        {% endif %}

        {% if not url_is_edit %}
        <a href="{{ res.url }}" class="btn btn-primary resource-url-analytics resource-download" target="_blank">
          <i class="icon-large icon-download"></i>
          {{ _('Download') }}
        </a>

        {% endif %}
        </div>
      {% endblock %}
    </div>
  </div>
</li>
