<li class="navbar-search">
  <div class="input-group navbar-search-form">
      <button class="btn btn-tertiary navbar-search-submit-btn" aria-label="{{ _('Search') }}"
        type="button">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    <input type="text" class="form-control navbar-search-input" id="navbar-search-q" aria-label="...">
  </div>
  <button class="btn btn-tertiary navbar-search-btn" type="button" aria-label="{{ _('Search') }}"><span class="fa fa-search" aria-hidden="true"></span></button>
</li>