{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active breadcrumb-item">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content main-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}