{% ckan_extends %}

{% block resources_title %}
  <h2 class="module-heading">{{ _("Resources") }}</h2>
{% endblock %}
{% block resources_list %}
  <ul class="unstyled nav nav-simple">
    {% for resource in resources %}
      <li class="nav-item{{ ' active' if active == resource.id }}">
        {% link_for h.resource_display_name(resource)|truncate(45), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}