// Mixins
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($target: all, $time: .2s, $type: ease-in-out) {
  -webkit-transition: $target $time $type;
  -moz-transition: $target $time $type;
  transition: $target $time $type;
}

@mixin box-shadow($box: 0 1px 40px, $rgba: rgba(0,0,0,0.2)) {
  -webkit-box-shadow: $box $rgba;
  box-shadow: $box $rgba;
}

@mixin list-item($margin: $padding-large-vertical) {
  list-style: none;
  padding: 0;
  background: none;
  margin-bottom: $margin;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin animation-zoom() {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  -moz-animation-name: zoom;
  -moz-animation-duration: 0.3s;
  -ms-animation-name: zoom;
  -ms-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @-moz-keyframes zoom {
    from {-moz-transform:scale(0)}
    to {-moz-transform:scale(1)}
  }

  @-ms-keyframes zoom {
    from {-ms-transform:scale(0)}
    to {-ms-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
}

@mixin overlay() {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($hero-overlay-start, 0.2); /* Old browsers */
  background: -moz-linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Placeholder classes
%button {
  border: 0;
  font-weight: $btn-font-weight;
  transition: $transition;
}

%button-default {
  @extend %button;
  background-color: $gray-lighter;
  color: $brand-primary;

  &:focus, &:active, &:hover {
    background-color: $brand-white;
    color: $brand-primary-light;
  }
}

%button-primary {
  @extend %button;
  background-color: $brand-primary;
  color: $brand-white;

  &:focus, &:active, &:hover {
    background-color: $brand-primary-light;
    color: $brand-white;
  }
}

%wrapper-padding {
  padding-left: $base*2;
  padding-right: $base*2;

  @media (min-width: $width-md) {
    padding-left: $base*4;
    padding-right: $base*4;
  }
}

%content-padding {
  padding-top: $base*2;
  padding-bottom: $base*2;

  @media (min-width: $width-md) {
    padding-top: $base*4;
    padding-bottom: $base*4;
  }
}

%box-shadow {
  @include box-shadow();
}

%box-shadow-light {
  @include box-shadow($rgba: rgba(255,255,255,0.6));
}

%box-shadow-highlight {
  @include box-shadow(1px 1px 3px, rgba($brand-primary, 0.6));
}

%border-radius {
  border-radius: $border-radius-small;
}

%box {
  @extend %border-radius;
  position: relative;

  &:hover {
    @extend %box-shadow;
    transform: translateY(-2px);
  }
}

%vertically-centered {
  @include vertical-align();
}

// Helper classes
.box-shadow {
  @extend %box-shadow;
}

.box-shadow-highlight {
  @extend %box-shadow-highlight;
}

.js .js-hide, .hide-heading {
  display: none;
}
.js .js-hide.active {
  display: block;
}

.empty {
  font-style: normal;
  color: $brand-gray;
}

.debug {
  position: fixed;
  right: 0;
  bottom: 0;
}

.openness-None {
  color: $gray;
  font-size: 14px;
}

.mobile-only {
  @media(min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.desktop-only {
  @media(max-width: $grid-float-breakpoint) {
    display: none !important;
  }
}

.border {
  &-left {
    border-left: $border-base solid $border-color;
  }

  &-right {
    border-right: $border-base solid $border-color;
  }
}