/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $brand-background;
}

.container {
  width: 100%;

  @media(min-width: $width-lg) {
    width: 1170px;
  }

  @media(min-width: $width-xl) {
    width: 1370px;
  }
}

.content-area {
  margin-top: $navbar-height;
}

.has-notification {
  ~ .content-area {
    margin-top: $navbar-height + $notificationbar-height;
  }
}

.centered-content {
  max-width: $base*96;
  padding: $padding-large-vertical*2;
  width: 100%;
  margin: 0 auto;
}