/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $brand-background;
}

.container {
  width: 100%;

  @media (min-width: $width-md) {
    width: 960px;
  }

  @media (min-width: $width-lg) {
    width: 1170px;
  }
}

.content-area {
  margin-bottom: $base*3;
}