body {
  font-family: $font;
  font-size: $font-size;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a {
  color: $link-color;
  word-break: break-word;
  cursor: pointer;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;

  &:hover {
    color: $link-color-active;
    text-decoration: none;
  }
}

@mixin heading() {
  font-size: $font-size-large;
  font-weight: $headings-font-weight;
  font-family: $font-heading;
  letter-spacing: $letter-spacing;
}

@mixin heading-sidebar() {
  font-size: $font-size-small;
  font-weight: $headings-font-weight;
  font-family: $font-heading;
  letter-spacing: $letter-spacing-xs;
  text-transform: uppercase;
}

.heading {
  @include heading;
}

.heading-sidebar {
  @include heading-sidebar;
}

.heading-main {
  @include heading();
  font-size: 3rem;
}

.heading-content {
  @extend .heading-main;
  margin-top: 0;
}

.heading-page {
  @include heading();
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  color: $gray-light;
}

.heading--inverse {
  color: $brand-white;
}

.heading--tuki {
  @include heading();
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
}

.heading--themes {
  @include heading();
  font-size: 2.5rem;
  font-weight: 700;
}

.heading--featured {
  @include heading();
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-xlarge;
}

.heading--mleft {
  margin-left: -$base*1.5;
}

.heading--featured-small {
  @include heading();
  font-size: $font-size-large;
  text-align: center;

  @media (min-width: $width-sm) {
    text-align: left;
  }
}

.heading--archive {
  @extend .heading-main;
}

.heading--small {
  color: $gray !important;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 500;
}
