body {
  font-family: $font;
  font-size: $font-size;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

a {
  color: $link-color;
  word-break: break-word;

  &:hover {
    color: $link-color-active;
    text-decoration: none;
  }
}

.heading {
  @extend %heading;
}
