// Base
$base: 10px;
$content-padding-top: $base*15;
$content-padding-top-desktop: $base*18;

// Borders
$border-radius-base: 3px;
$border-radius-medium: 8px;
$border-radius-large: 10px;
$border-radius-small: 3px;
$border-base: 1px;
$border-radius-round: 15px;
$border-color: #dddddd;

// Typography
$font: 'Roboto', sans-serif;
$font-heading: 'Roboto', sans-serif;
$headings-font-family: $font-heading;
$letter-spacing: 2px;
$letter-spacing-xs: 1.1px;

$headings-font-weight: 700;

// Brand-colors
$lighten-intensity: 10%;
$darken-intensity: 20%;

$brand-primary: #534f97;
$brand-primary-light: lighten($brand-primary, 10%);
$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-extralight: lighten($brand-primary, 35%);
$brand-primary-extradark: darken($brand-primary, 15%);

$brand-secondary: #a55efa;
$brand-secondary-light: lighten($brand-secondary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
$brand-secondary-extralight: lighten($brand-secondary, 35%);
$brand-secondary-extradark: darken($brand-secondary, 15%);

$brand-success: #97ba54;
$brand-success-light: lighten($brand-success, 10%);
$brand-success-dark: darken($brand-success, 10%);
$brand-success-extralight: lighten($brand-success, 35%);
$brand-success-extradark: darken($brand-success, 15%);

$brand-info: #446eb5;
$brand-info-light: lighten($brand-info, 10%);
$brand-info-dark: darken($brand-info, 10%);
$brand-info-extralight: lighten($brand-info, 35%);
$brand-info-extradark: darken($brand-info, 15%);

$brand-warning: #f0ad4e;
$brand-warning-light: lighten($brand-warning, 10%);
$brand-warning-dark: darken($brand-warning, 10%);
$brand-warning-extralight: lighten($brand-warning, 35%);
$brand-warning-extradark: darken($brand-warning, 15%);

$brand-danger: #DC134D;
$brand-danger-light: lighten($brand-danger, 10%);
$brand-danger-dark: darken($brand-danger, 10%);
$brand-danger-extralight: lighten($brand-danger, 35%);
$brand-danger-extradark: darken($brand-danger, 15%);

$brand-black: #000000;
$brand-white: #ffffff;
$brand-gray: #676767;
$brand-lightgray: #F5F6F7;

$gray-base: $brand-gray;
$gray-darker:            darken($gray-base, $darken-intensity*2);
$gray-dark:              darken($gray-base, $darken-intensity);
$gray:                   lighten($gray-base, $lighten-intensity*1.5);
$gray-light:             lighten($gray-base, $lighten-intensity*4.5);
$gray-lighter:           lighten($gray-base, $lighten-intensity*6);

$brand-background: #ffffff;
$brand-secondary-background: $brand-background;
$brand-bg-alt: $brand-lightgray;
$brand-input-color: #656D74;

$text-color: $gray-base;
$text-muted: $brand-gray;
$headings-color: $brand-primary;
$headings-muted-color: $brand-gray;
$headings-small-color: $brand-primary;
$headings-secondary-color: $brand-primary;
$headings-extra-color: $brand-gray;

$brand-app: $brand-gray;
$brand-app-dark: darken($brand-app, 15%);

$brand-dataset: $brand-gray;
$brand-dataset-dark: darken($brand-dataset, 15%);

$brand-latest: $brand-gray;
$brand-latest-dark: darken($brand-latest, 15%);


// Frontpage elements
$main-logo-width: 200px;
$hero-main-heading-color: $brand-white;
$hero-secondary-heading-color: $brand-white;
$hero-overlay-start: $brand-primary;
$hero-overlay-stop: $brand-primary-extradark;
$hero-overlay-opacity-start: 0.0;
$hero-overlay-opacity-center: 0.6;
$hero-overlay-opacity-end: 0.9;
$btn-main-bg: $brand-secondary;
$btn-main-color: $brand-white;
$btn-main-active-bg: $brand-secondary-light;
$btn-main-active-color: $brand-white;

$category-box-bg: $brand-primary;
$category-box-icon-color: $brand-white;
$category-box-text-color: $brand-white;
$category-box-count-color: $brand-primary-extralight;
$stats-text-color: $brand-white;
$brand-categories: darken($category-box-bg, 20%);

$theme-colors: (
        "primary":    $brand-primary,
        "secondary":  $brand-secondary,
        "success":    $brand-success,
        "info":       $brand-info,
        "warning":    $brand-warning,
        "danger":     $brand-danger,
        "categories": $brand-categories
);

$accordion-bg: $brand-bg-alt;
$accordion-tab-bg: $brand-bg-alt;
$accordion-tab-overlay-bg: $brand-bg-alt;
$accordion-tab-border-color: $text-color;
$accordion-tab-text-color: $text-color;
$accordion-tab-heading-color: $text-color;
$accordion-tab-meta-color: $text-color;

$banner-bg: $brand-primary;
$banner-heading-color: $brand-white;
$banner-text-color: $brand-white;

$featured-bg: $brand-lightgray;
$showcase-card-bg: $brand-primary;
$showcase-card-heading-color: $brand-white;
$showcase-card-text-color: $brand-white;

$latest-bg: $brand-primary;

// Page elements
$page-hero-height: 250px;
$page-hero-height-desktop: 300px;

// Button
$btn-font-weight: 300;
$btn-border-radius-base: $border-radius-small;
$btn-border-radius-small: $border-radius-small;
$btn-border-radius-large: $border-radius-small;
$btn-padding-small: 4px 6px;
$btn-padding-large: 8px 20px;

// Card
$card-height: 17.5rem;
$card-max-width: 250px;
$card-content-height: 6.875rem;
$card-heading-rows: 3;

$card-bg: $brand-primary-extralight;
$card-bg-active: $brand-white;
$card--image-bg: $brand-primary-extralight;
$card--image-bg-active: $brand-white;

$card-text-color: $gray-dark;
$card-text-color--highlight: $brand-danger;
$card-text-color-active: $gray-dark;
$card-text-color--highlight-active: $brand-danger-light;

$card-title-secondary-color: $gray-darker;
$card-border-radius: $border-radius-medium;
$card-star-filled: $text-color;
$card-star-empty: $brand-success-light;

// Navigation
$navbar-default-bg: $brand-white;
$notificationbar-bg: $brand-info;
$notificationbar-text-color: $brand-white;
$notificationbar-height: $base + 24px;
$navbar-height: 60px;
$navbar-collapse-max-height: 500px;
$navbar-margin-bottom: 0;
$nav-link-hover-bg: transparent;

$navbar-toggle-background-color: transparent;
$navbar-toggle-icon-color: $brand-primary;
$navbar-border-color: $gray-base;
$navbar-logos-background-color: $brand-white;
$navbar-toggle-color: $brand-primary;
$navbar-toggle-color-active: lighten($navbar-toggle-color, 30%);

$navbar-default-link-color: $brand-gray;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-active-border-color: $brand-primary;
$navbar-default-link-hover-bg: $brand-lightgray;
$navbar-default-link-active-bg: $brand-lightgray;

$navbar-default-link-color-desktop: $gray-base;
$navbar-default-link-active-color-desktop: $navbar-default-link-color-desktop;
$navbar-default-link-active-border-color-desktop: transparent;
$navbar-default-link-hover-bg-desktop: $navbar-default-bg;
$navbar-default-link-active-bg-desktop: $navbar-default-bg;

$navbar-secondary-border-color: $brand-lightgray;
$navbar-secondary-bg: $brand-lightgray;
$navbar-secondary-link-color: $text-color;
$navbar-secondary-link-active-color: $navbar-secondary-link-color;
$navbar-secondary-link-active-border-color: transparent;
$navbar-secondary-link-hover-bg: $brand-white;
$navbar-secondary-link-active-bg: $brand-white;
$navbar-secondary-toggle-color: $navbar-secondary-link-color;
$navbar-secondary-active-toggle-color: $navbar-secondary-link-color;

$nav-tabs-background: transparent;
$nav-tabs-background-active: $brand-primary;
$nav-tabs-text-color: $text-color;
$nav-tabs-text-color-active: $brand-white;

$nav-tabs-border-color:                     transparent;
$nav-tabs-link-hover-border-color:          transparent;
$nav-tabs-active-link-hover-bg:             $brand-primary;
$nav-tabs-active-link-hover-color:          $brand-white;
$nav-tabs-active-link-hover-border-color:   $brand-primary;

// Navbar offcanvas
$navbar-offcanvas-toggle-background-color: $brand-primary;
$navbar-offcanvas-toggle-icon-color: $brand-white;
$navbar-offcanvas-background-color: $brand-background;
$navbar-offcanvas-link-background-color: transparent;
$navbar-offcanvas-link-background-color-hover: $brand-primary-light;
$navbar-offcanvas-link-background-color-active: $brand-secondary;
$navbar-offcanvas-link-color: $brand-primary;
$navbar-offcanvas-link-color-hover: $brand-white;
$navbar-offcanvas-link-color-active: $brand-white;
$navbar-offcanvas-border-color: $border-color;
$navbar-offcanvas-heading-color: $brand-primary;

// Filters
$filter-bg: transparent;
$filter-bg-active: $brand-secondary;
$filter-color: $brand-gray;
$filter-color-active: $brand-white;
$filter-bg-hover: $gray-lighter;
$filter-hover: $text-color;

// Links
$link-color: $brand-primary;
$link-color-active: lighten($link-color, 20%);
$link-secondary-color: $brand-success;
$link-secondary-color-active: lighten($link-secondary-color, 20%);

// Rating (ckan extension)
$rating-text-color: $text-color;
$rating-star-color--hover: $brand-primary;
$rating-star-color--empty: $gray-light;
$rating-star-color--filled: $text-color;

// Datavis colors
$datavis-color-1: $brand-primary;
$datavis-color-2: #d0db32;

// Footer
$footer-background-color: $brand-primary;
$footer-text-color: $brand-white;
$footer-link-color: $brand-white;
$footer-link-color-active: $gray-lighter;
$footer-link-color-hover: $gray-lighter;

// Tag-list
$tag-background-color: $brand-primary;
$tag-background-color-active: lighten($tag-background-color, 20%);
$tag-text-color: $brand-white;
$tag-text-color-active: $brand-white;

// Stages
$stages-background-color: $gray-lighter;
$stages-background-color-active: $brand-primary;
$stages-background-color-filled: $gray-light;
$stages-text-color: $text-color;
$stages-text-color-active: $brand-white;
$stages-text-color-filled: $brand-white;

// Sidebar (CMS only)
$sidebar-heading-color: $gray-light;
$sidebar-item-bg: $brand-white;
$sidebar-item-bg--highlight: $gray-lighter;
$sidebar-item-bg-active: $brand-secondary;
$sidebar-item-bg-active--highlight: $brand-secondary;

$sidebar-item-color: $navbar-default-link-color;
$sidebar-item-color--highlight: $text-color;
$sidebar-item-color-active: $brand-white;
$sidebar-item-color-active--highlight: $brand-white;

// Breadcrumb
$breadcrumb-bg: transparent;
$breadcrumb-color: $headings-muted-color;
$breadcrumb-separator: "/";

// Misc component colors
$badge-background-color: $brand-primary;
$badge-background-color-active: $brand-primary;
$image-slider-background-color: $navbar-default-bg;
$label-text-color: $brand-white;
$label-background-color: $navbar-default-bg;
$media-item-background-color: $brand-background;
$table-border-color: $border-color;
$topic-list-background-color: $gray-lighter;
$toolbar-default-bg: #f8f8f8;
$toolbar-text-color: $headings-muted-color;

// Breakpoints
$width-xxs: 340px;
$width-xs: 480px;
$width-xs-sm: 600px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1248px;
$width-xl: 1400px;
$grid-float-breakpoint: $width-md; // Navbar collapse point

$padding-base-vertical: 0.375rem;
$padding-base-horizontal: 0.375rem;
$margin-base-vertical: 0.375rem;
$margin-base-horizontal: 0.375rem;

$font-size-base: 0.875rem;
$font-size: $font-size-base;
$font-size-xxlarge: floor(($font-size-base * 2.6));
$font-size-xlarge: 1.438rem; // ~23px
$font-size-large: 1.125rem; // ~18px
$font-size-medium: 1rem; // ~16px
$font-size-small: 0.75rem; // ~12px

$font-size-h1: floor(($font-size-base * 2.4)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));

$featured-font-weight: bold;

$padding-large-vertical: 0.625rem;
$padding-large-horizontal: 0.625rem;
$margin-large-vertical: 0.625rem;
$margin-large-horizontal: 0.625rem;

$line-height-base:  1.571428571; // 22/14
$line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5;

$padding-small-vertical: 0.312rem;
$padding-small-horizontal: 0.312rem;
$margin-small-vertical: 0.312rem;
$margin-small-horizontal: 0.312rem;

$line-height-computed: 1.25rem;
$input-background-color: $brand-background;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) - 1);
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) - 4);
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) - 1);
$input-border-focus: $brand-secondary-light;
$input-color: $brand-input-color;
$input-color-placeholder: $brand-input-color;

// Animations
$transition-speed-base: .2s;
$transition-curve-base: ease-in-out;
$transition: all $transition-speed-base $transition-curve-base;


