{% ckan_extends %}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if pkg.notes%}
    <div class="notes embedded-content show-more-content hide-content">
      <div class="text-content">
        {{ h.render_markdown(h.get_translated_or_default_locale(pkg, 'notes')) }}
      </div>
      <div class="fadeout"></div>
    </div>
    <div class="show-more">
      <a class="show-more-link">{{ _('Show more') }}</a>
      <a class="show-less-link">{{ _('Show less') }}</a>
    </div>
  {% endif %}
{% endblock %}

