{% extends "package/snippets/additional_info.html" %}

{% macro license_string(pkg_dict) %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
{% endmacro %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'title_translated',
    'notes_translated',
    'maintainer',
    'maintainer_website',
    'url',
    'date_released',
    'date_updated',
    'update_frequency',
    'external_urls'
    ] -%}

{% block package_additional_info %}
  {% if pkg_dict['maintainer'] %}
    {% set field = h.get_field_from_schema(schema, 'maintainer') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict['maintainer_website'] %}
    {% set field = h.get_field_from_schema(schema, 'maintainer_website') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}


  {% if pkg_dict['url'] %}
    {% set field = h.get_field_from_schema(schema, 'url') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict['date_released'] %}
    {% set field = h.get_field_from_schema(schema, 'date_released') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}


  {% if pkg_dict['date_updated'] %}
    {% set field = h.get_field_from_schema(schema, 'date_updated') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict['update_frequency'] %}
    {% set field = h.get_field_from_schema(schema, 'update_frequency') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict['external_urls'] | first != "" %}
    {% set field = h.get_field_from_schema(schema, 'external_urls') %}
    <tr>
      <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
      <td class="dataset-details" {%- if field.display_property %}property="{{ field.display_property }}"{% endif -%}>
        {%- snippet 'scheming/snippets/display_field.html',
        field=field, data=pkg_dict, schema=schema -%}
      </td>
    </tr>
  {% endif %}


  {% set package_groups = h.get_package_groups(pkg_dict.id) %}
  {% if package_groups %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Groups") }}</th>
      <td class="dataset-details">
        <section class="tags">
          <ul class="tag-list">
            {% for group in package_groups %}
              <li><a class="tag" href="{{h.url_for('group.read', id=group.name)}}">{{ h.get_translated(group, 'title') }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </td>
    </tr>
  {% endif %}

  {% if h.get_package_groups_by_type(pkg_dict.id, 'collection') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Collections") }}</th>
      <td class="dataset-details">
        <section class="tags">
          <ul class="tag-list">
            {% for collection in h.get_package_groups_by_type(pkg_dict.id, 'collection') %}
              <li><a class="tag" href="{{h.url_for('collection.read', id=collection.name)}}">{{ h.get_translated_or_default_locale(collection, 'title') }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </td>
    </tr>
  {% endif %}

  {% set lang = h.get_lang_prefix() %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none 
        and pkg_dict[field.field_name] -%}

      {%- set empty_list = False -%}
      {%- if pkg_dict[field.field_name] is iterable and pkg_dict[field.field_name] is not string and pkg_dict[field.field_name] is not mapping -%}
        {%- if pkg_dict[field.field_name] | first == "" -%}
          {%- set empty_list = True -%}
        {%- endif -%}
      {%- elif pkg_dict[field.field_name] is mapping and lang not in pkg_dict[field.field_name] -%}
        {%- set empty_list = True -%}
      {%- endif -%}
      {%- if empty_list == False -%}
        <tr>
          <th scope="row" class="dataset-label">{{
            h.scheming_language_text(field.label) }}</th>
          <td class="dataset-details"{%
            if field.display_property %} property="{{ field.display_property
            }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
            field=field, data=pkg_dict, schema=schema -%}</td>
        </tr>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}

  <tr>
    <th>{{ _('License') }}</th>
    <td class="dataset-details">{{ license_string(pkg_dict) }}</td>
  </tr>


  <tr>
    <th scope="row" class="dataset-label">{{ _("How to reference") }}</th>
    <td class="dataset-details">
      {{- _('Source') -}}:
      <a href="{{ h.url_for('dataset.read', id=pkg_dict.name) -}}">
        {{- h.get_translated(pkg_dict, 'title') -}}.
      </a>
      {% if pkg_dict.maintainer and pkg_dict.url %}
        {{- ' ' + _('The maintainer of the dataset is {maintainer} and the original author is {author}')
        .format(maintainer=pkg_dict.maintainer, author=pkg_dict.url) -}}.
      {% elif pkg_dict.maintainer and not pkg_dict.url %}
        {{- ' ' + _('The maintainer of the dataset is {maintainer}')
        .format(maintainer=pkg_dict.maintainer) -}}.
      {% endif %}
      {{- ' ' + _('The dataset has been downloaded from') + ' ' -}}<a href="{{g.site_url}}">{{g.site_title}}</a>{{- ' ' + _('service on {date}')
        .format(date=h.get_current_date()) -}}
      {% if pkg_dict.license_title and pkg_dict.license_title != 'Other (Open)' %}
        {{- ' ' + _('using the license') + ' ' -}}<a href="{{pkg_dict.license_url}}">{{pkg_dict.license_title}}</a>.
      {% else %}
        {{- '. ' + _('The license can be found on the maintainer\'s service') -}}.
      {% endif %}
    </td>
  </tr>

{% endblock %}
