article {
  &.module {
    .module-content {
      margin: 20px 25px;
      background-color: $white;
      border-width: 0 $border-base $border-base 0;
      border-style: solid;
      border-color: $gray-lighter;
    }
  }
}