button {
  padding: $base $base*2;
  color: #fff;
  background-color: $color--primary;
  border: 0;
  font-size: $base*1.6;
  cursor: pointer;
  overflow: hidden;
  outline: 0;
  position: relative;
  transition: all .3s linear;

  &:hover {
    background-color: lighten($color--primary, 15%);
  }

  &.btn-primary {
    border-bottom: 2px solid darken($color--primary, 25%);
  }
}

.btn-search--main {
  margin-left: -1px;
  padding: $base 0 !important;
}

.btn {
  border-radius: $border-radius-base;
}
