button,
.btn {
  border-radius: $border-radius-base;
  padding: $base $base*2;
  color: #fff;
  background-color: $brand-primary;
  border: 0;
  font-size: $base*1.6;
  cursor: pointer;
  overflow: hidden;
  outline: 0;
  position: relative;
  transition: all .3s linear;

  &:hover {
    background-color: lighten($brand-primary, 15%);
  }

  &.btn-primary {
    background-color: $brand-primary;
    border-bottom: 2px solid darken($brand-primary, 25%);
  }

  // Replace btn-success styling with primary 
  // This way the template update is not needed
  &.btn-success {
    @extend .btn-primary;
  }
}

.btn-search--main {
  margin-left: -1px;
  padding: $base 0 !important;
}