.category-list {
  .category-list-item {
    padding-top: $padding-base-vertical*2;
    text-align: center;
    height: 300px;

    img {
      @extend .box-shadow;
      height: 100px;
      width: auto;
      padding: $padding-base-horizontal;
      border-radius: 10%;

      &:hover {
        @extend .box-shadow-highlight;
      }
    }

    .item-description {
      font-size: 14px;
      color: $gray;
    }
  }
}