.dataset-list {
  .dataset-item {
    @extend .card-theme;
    font-size: $font-size*0.9;

    .dataset-heading {
      font-size: $font-size-h2;

      .label {
        position: relative;
        top: -4px;
        font-size: $font-size-small;

        &.dataset-private {
          text-transform: none;
        }

        i {
          margin-left: 0.6em;
        }
      }
    }
  }
}