.dataset-item {
  @extend .card-theme;
  @extend .card-hover;
  padding: 0;
  margin-bottom: $margin-base-vertical;

  >a {
    color: $black;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .dataset-heading {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.3;

    .label {
      position: relative;
      top: -4px;
      font-size: $font-size-small;

      &.dataset-private {
        text-transform: none;
      }

      i {
        margin-left: 0.6em;
      }
    }
  }
}

.dataset-private {
  margin-right: 10px;
  text-transform: uppercase;

  &.pull-right {
    margin-right: 0;
  }
  
  .glyphicon-lock {
    width: 9px;
  }
}