form {
  &.form-horizontal {
    .control-label {
      text-align: left;

      +span {
        font-size: $font-size-small;
        color: $gray-light;
      }
    }

    .form-actions {
      margin-top: $margin-base-vertical;
    }
  }

  .form-actions {
    background: none;
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;

    .control-required-message {
      display: block;
      width: 100%;
      margin-top: $margin-base-vertical;
    }
  }

  .control-order-by {
    margin-top: 6px;
  }
}