form {
  &.form-horizontal {
    .control-label {
      text-align: left;

      +span {
        font-size: $font-size-small;
        color: $gray-light;
      }
    }
  }

  .control-order-by {
    margin-top: 8px;
  }
}