form {
  &.form-horizontal {
    .control-label {
      text-align: left;

      +span {
        font-size: $font-size-small;
        color: $gray-light;
      }
    }

    .form-actions {
      margin-top: $margin-base-vertical;
    }
  }

  label {
    display: block;
    cursor: pointer;
  }

  fieldset {
    margin-bottom: $margin-base-vertical*2;

    legend {
      margin: 0;
    }
  }

  .control {
    &-medium {
      input {
        width: 320px;
      }
    }
  }
  
  .control-group {
    margin-top: $margin-base-vertical;
  }

  .form-actions {
    background: none;
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;

    .btn {
      margin-right: $margin-base-horizontal*0.5;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .control-required-message {
    display: block;
    width: 100%;
    margin: $margin-base-vertical 0;
  }

  .control-order-by {
    margin-top: 6px;
  }

  .editor {
    .editor-info-block {
      font-size: 14px;
      background: $gray-lighter;
      border: $border-base -1 solid $gray-light;
      display: block;
      width: auto;
      float: none;
    }
  }

  .add-member-or {
    margin: $margin-base-vertical 0;
    width: 100%;
    display: block;
    color: $gray-light;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
  }
}