.hero {
  margin-top: $base*12;
  margin-bottom: $base*12;
}

.site-title {
  @extend %title;
  font-size: 40px;
}

.site-subtitle {
  @extend %title;
  line-height: 1;
  margin-top: -10px;
  font-weight: normal;
}
