input {
  font-size: $base*1.5;
  padding: $base;
  border: 1px solid $gray-lighter;
  border-bottom: 2px solid $gray-lighter;;
  transition: border-color .2s ease-in-out;

  &:focus, &:active {
    border-bottom-color: $brand-primary;
    outline: none;
  }
}

.input--large {
  font-size: $base*2;
  padding: $base*1.5;
}
