.module {
  .module-content {
    padding: 0 $padding-base-horizontal;
    margin: $margin-base-vertical 0;

    img {
      width: 100%;
      height: auto;
    }

    .embedded-content {
      @extend .card;
    }

    .info {
      border: none;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}