.module {
  .module-content {
    padding: 0 $padding-base-horizontal;
    margin: $margin-base-vertical 0;

    img {
      width: 100%;
      height: auto;
    }

    .info {
      border: none;

      .btn {
        padding: 8px 12px;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.main-content {
      @extend .card;
      margin-bottom: $margin-base-vertical;

      .actions {
        top: 25px;
        right: 40px;
      }
    }

    @media (max-width: $width-sm - 1) {
      padding: 0;

      &.page-header:first-child {
        margin-top: $margin-base-vertical;
      }
    }
  }
}