.navbar {
  @extend .box-shadow;
  border-radius: 0;
  background: #fff;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  z-index: 1000;
}

.navbar-header {
  text-align: center;
  height: 50px;
}

.navbar-brand {
  float: none;
  display: inline-block;
  height: 50px;

  img {
    height: 100%;
    width: auto;
  }
}

// .navbar-collapse {
//   &.in {
//     float: left;
//   }
// }

.icon-bar {
  background-color: $brand-primary;
  transition: background-color .2s ease-in-out;
}

.navbar-toggle:hover {
  background: none;

  .icon-bar {
    background-color: lighten($brand-primary, 30%);
  }
}

.navbar-collapse {
  float: left;
}

.navbar-fixed-top {
  position: fixed;
}

.nav > li {
  margin: 0;
}

.nav > li > a {
  color: $black;

  &:hover,
  &:focus {
    color: $brand-primary;
    background: none;
  }
}

.nav {
  &.nav-tabs {
    border-bottom: 0;

    li {
      border-bottom: $border-base solid transparent;

      &.active,
      &:hover {
        border-width: 0 0 $border-base 0;
        border-color: $brand-primary;
        border-style: solid;

        a {
          border: none;
        }
      }

      a {
        border: none;
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $width-sm) {
  .navbar-fixed-top {
    display: none !important;
    position: fixed;
  }

  .navbar-header {
    width: 100%;
    height: 100%;
    float: left;
  }

  .navbar-brand {
    float: none;
    display: inline-block;
    padding: 15px 15px;
    height: auto;

    img {
      height: 74px;
      width: auto;
    }
  }

  .navbar-collapse {
    float: none;
  }
}