.navbar {
  background: #fff;
  border-bottom: $border-base solid $gray-lighter;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.icon-bar {
  background-color: $color--primary;
  transition: background-color .2s ease-in-out;
}

.navbar-toggle:hover {
  background: none;

  .icon-bar {
    background-color: lighten($color--primary, 30%);
  }
}

.nav > li {
  margin: 0;
}

.nav > li > a {
  color: $black;

  &:hover,
  &:focus {
    color: $color--primary;
    background: none;
  }
}

.nav {
  &.nav-tabs {
    border-bottom: 0;

    li {
      &.active,
      &:hover {
        border-width: 0 0 $border-base 0;
        border-color: $color--primary;
        border-style: solid;

        a {
          border: none;
        }
      }

      a {
        border: none;
        margin-right: 0;
      }
    }
  }
}
