.navbar-offcanvas {
  margin-top: 20px;
  border-width: 0 $border-base $border-base $border-base;
  border-style: solid;
  border-color: $gray-lighter $gray-lighter $gray-lighter $color--primary;

  .module {
    margin: 20px 0;

    .module-heading {
      background-color: transparent;
      border: none;
      font-weight: bold;
      font-size: $font-size;
    }

    .module-content {
      &.empty,
      .empty {
        font-size: $font-size-small;
        color: $gray-light;
      }

      .nums {
        border: none;
      }
    }

    .module-footer {
      display: none;
    }
  }

  .nav-facet {
    li.nav-item {
      border: none;

      &.active {
        a {
          background-color: $color--primary;
        }
      }

      a {
        padding: 7px 25px 7px 40px;
        font-size: $font-size*0.9;

        &:hover {
          background-color: lighten($color--primary, 15%);
          color: $white;
        }
      }
    }
  }

  .nav-simple {
    li.nav-item {
      border-width: 0 0 $border-base 0;
      border-color: $white;

      &:hover {
        border-bottom-color: $color--primary;
      }

      a {
        padding: 7px 25px 7px 40px;
        font-size: $font-size-small;
      }
    }
  }

}