.navbar-offcanvas {
  @extend .card-theme;
  z-index: 1002;
  padding: 10px;
  
  @media screen and (max-width: $width-sm - 1) {
    position: fixed;
  }

  .offcanvas-toggle {
    display: none;
  }

  .module {
    margin: 20px 0;

    .module-heading {
      background-color: transparent;
      border: none;
      font-weight: bold;
      font-size: $font-size;
    }

    .module-content {
      padding: 0 $padding-base-horizontal;

      &.empty,
      .empty {
        @extend .empty;
        font-size: $font-size-small;
      }

      .nums {
        border: none;
      }
    }

    .module-footer {
      display: none;
    }
  }

  .nav-facet {
    li.nav-item {
      border: none;
      margin: 0;
      padding: 0;

      &.active {
        a {
          background-color: $brand-primary;
        }
      }

      a {
        padding: 7px 25px 7px 35px;
        font-size: $font-size*0.9;
        width: 100%;
        margin: 0;

        &:hover {
          background-color: $brand-primary-light;
          color: $white;
        }
      }
    }
  }

  .nav-simple {
    li.nav-item {
      margin: 0;
      padding: 0;
      border: 0;

      &.active {
        a {
          background-color: $brand-primary;
        }
      }

      a {
        padding: 7px 25px 7px 25px;
        font-size: $font-size-small;
        margin: 0;
        width: 100%;

        &:hover {
          background-color: $brand-primary-light;
          color: $white;
        }

        &:focus {
          background-color: $white;
          color: $gray-base;
        }
      }
    }
  }

}

.offcanvas-button-wrapper-left {
  position: absolute;
}