.navbar-offcanvas {
  @extend .card-theme;
  
  @media screen and (max-width: $width-sm - 1) {
    position: fixed;
  }

  .module {
    margin: 20px 0;

    .module-heading {
      background-color: transparent;
      border: none;
      font-weight: bold;
      font-size: $font-size;
    }

    .module-content {
      &.empty,
      .empty {
        font-size: $font-size-small;
        color: $gray-light;
      }

      .nums {
        border: none;
      }
    }

    .module-footer {
      display: none;
    }
  }

  .nav-facet {
    li.nav-item {
      border: none;

      &.active {
        a {
          background-color: $brand-primary;
        }
      }

      a {
        padding: 7px 25px 7px 40px;
        font-size: $font-size*0.9;

        &:hover {
          background-color: lighten($brand-primary, 15%);
          color: $white;
        }
      }
    }
  }

  .nav-simple {
    li.nav-item,
    li.nav-item {
      border-color: $white;

      a {
        padding: 7px 25px 7px 40px;
        font-size: $font-size-small;

        &:focus {
          background-color: $white;
          color: $gray-base;
        }
      }
    }
  }

}