.resource-list {

  .resource-item {
    border-left: 2px solid $color--primary;
    background-color: $white;
    border-width: 0 $border-base $border-base $border-base;
    border-style: solid;
    border-color: $gray-lighter $gray-lighter $gray-lighter transparent;

    &:hover {
      border-left-color: $color--primary;
    }

    a {
      &:hover {
        text-decoration: none;
      }
      .caret {
        zoom: 1.5;
        color: $color--primary;
      }
      .description {
        font-size: $font-size*0.9;
      }
    }
  }
}