.resource-list {

  .resource-item {
    @extend .card-hover;
    padding: 0;

    a {
      &:hover {
        text-decoration: none;
      }
      .caret {
        zoom: 1.5;
        color: $brand-primary;
      }
      .description {
        font-size: $font-size*0.9;
      }
    }
  }
}