.search-form {
  border-width: 0 $border-base $border-base $border-base;
  border-style: solid;
  border-color: $gray-lighter $gray-lighter $gray-lighter $color--primary;
  background-color: $white;
  padding: 20px;

  .search-input {
    input {
      @extend .card;
    }

    button {
      i {
        color: $gray-lighter;

        &:hover {
          color: $color--primary;
        }
      }
    }
  }
}