.searchbox {
  width: 100%;
  max-width: $base*72;
  padding: $padding-base-vertical*3 $padding-base-horizontal*0.5;
  margin: $margin-base-vertical*3 auto 0 auto;

  @media (min-width: $width-sm) {
    padding: $padding-base-vertical*3 $padding-base-horizontal*4;
  }

  .module-content.search-form {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;

    input {
      @extend .box-shadow;
      color: $gray-light;
      font-size: 24px;
      height: 80px;
      border: $border-base solid transparent;
      border-radius: $border-radius-small;

      &:focus,
      &:active {
        @extend .box-shadow-highlight;
        border-bottom-color: $brand-primary;
      }
    }

    button {
      font-size: 22px;
      height: 80px;
      border-radius: 0 $border-radius-small $border-radius-small 0;
      border: $border-base solid $brand-primary;

      &:hover {
        border-color: $brand-primary-light;
      }
    }
  }
}
