.search-form {
  @extend .card-theme;
  padding: 40px 20px;
  margin-bottom: $margin-base-vertical;
  
  .search-input {
    input {
      @extend .box-shadow;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 0;
      margin: 0;
      width: 100%;
      height: auto;
      font-size: $base*1.5;
      padding: $base;
      transition: border-color .2s ease-in-out;

      &:focus, &:active {
        @extend .box-shadow-highlight;
        border-bottom-color: $brand-primary;
        outline: none;
      }
    }

    button {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 10px;
      height: 20px;
      padding: 0;
      border: none;
      background: transparent;

      i {
        color: $gray-lighter;
        -webkit-transition: color 0.2s ease-in;
        -moz-transition: color 0.2s ease-in;
        -ms-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  .search-result-text {
    line-height: 42px;
  }

  @media (min-width: $width-md) {
    .control-order-by {
      float: right;
      margin-left: 15px;
    }
  }
}