select {
  background-color: transparent;
  border: none;
}

.dataset-form {
  select {
    background-color: white;
    border: $border-base solid $gray-lighter;
  } 
}

.form-select {
  label {
    margin-left: 8px;
    font-size: $base*1.8;
    font-weight: normal;
  }
}