.ckanext-showcase {
  &-image-container {

    img {
      max-height: 480px;
      width: auto !important;
    }

    @media (max-width: $width-md+1) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &-edit {
    &.primary {
      float: none;
    }

    .module-content {
      @extend .card;
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }
}
  