.stages {
  li {
    &.active {
      &:before {
        color: $brand-primary !important;
      }
      &:after {
        border-top-color: $brand-primary;
        border-bottom-color: $brand-primary;
      }
      .highlight {
        background-color: $brand-primary;
      }
    }
  } 
}