.stages {
  li {
    background-color: $gray-lighter;
    
    &.active {
      &:before {
        color: $brand-primary !important;
      }
      &:after {
        border-top-color: $brand-primary;
        border-bottom-color: $brand-primary;
      }
      .highlight {
        background-color: $brand-primary;
      }
    }
    &.complete {
      .highlight {
        background-color: $gray-lighter;
        color: $gray-base;
      }

      &:before {
        background: $gray-light;
        color: $white;
      }
    }
  } 
}