textarea {
  font-size: $base*1.5;
  padding: $base;
  border: 1px solid #f5f5f5;
  border-bottom: 2px solid #eee;
  transition: border-color .2s ease-in-out;

  &:focus, &:active {
    border-bottom-color: $brand-primary;
    outline: none;
  }
}