.topic-list {
  padding: 0 0 $padding-base-vertical 0;
  list-style: none;

  .topic-list-item {
    @extend .card-theme;
    @extend .card-hover;
    background: $gray-lighter;
    margin: $margin-base-vertical*2 0;
    padding: 0;

    &:first-child {
      margin-top: $margin-base-vertical;
    }

    a {
      display: block;
      padding: $padding-base-horizontal $padding-base-vertical;
      color: $gray-base;

      &:hover {
        color: $gray-base;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .topic-header,
    .topic-timestamp,
    .topic-info {
      margin: 0 0 2px;
    }

    .topic-header {
      font-weight: bold;
    }

    .topic-timestamp {
      font-size: 14px;
      color: $gray;
    }
  }
}