.alert {
  border: $border-base solid transparent;
  border-radius: $border-radius-small;

  p {
    margin: 0 0;
  }

  ul {
    list-style: disc;
    padding-left: 18px;
  }

  &.alert {
    &-error {
      background-color: $brand-danger;
      color: $brand-white;
    }

    &-success {
      background-color: $brand-success;
      color: $brand-white;
    }

    &-info {
      background-color: $brand-info;
      color: $brand-white;
    }
  }
}