.breadcrumb {
  @include heading;
  margin-bottom: 0;
  font-size: $font-size-small;
  text-transform: uppercase;
  padding: $padding-large-vertical*2 0;

  > li {
    color: $breadcrumb-color;

    a {
      color: $breadcrumb-color;
    }
  }
}