.breadcrumb {
  @include heading;
  margin-bottom: 0;
  font-size: $font-size-small;
  text-transform: uppercase;
  padding: $padding-large-vertical $padding-large-horizontal*2;

  > li {
    color: $breadcrumb-color;

    a {
      color: $breadcrumb-color;
    }

    + li:before {
      padding: 0 $padding-large-horizontal;
    }
  }
}