.btn {
  @extend %button;
  padding: $padding-base-vertical $padding-base-horizontal*2;
  font-size: $font-size-base;
  line-height: $line-height-base;

  &:hover {
    color: $brand-black;
  }

  .material-icons {
    font-size: $font-size-base;
    line-height: $line-height-computed;
    margin-right: 0;
    font-weight: bold;
  }
}

.btn-primary {
  background-color: $btn-primary-bg;

  &:hover, &:focus, &:active {
    background-color: $brand-primary-light;
    color: $btn-primary-color;
  }
}

.btn-secondary {
  background-color: $btn-main-bg;
  color: $btn-main-color;

  &:hover, &:focus, &:active {
    background-color: $btn-main-active-bg;
    color: $btn-main-active-color;
  }
}

.btn-lg {
  padding-left: $base*2;
  padding-right: $base*2;
  font-size: $font-size-large
}

.btn-wrapper--right {
  text-align: center !important;

  @media (min-width: $width-md) {
    text-align: right !important;
  }
}

.btn-transparent {
  background: transparent;
  border: 1px solid white;
  color: $brand-white;

  &:hover, &:focus, &:active {
    background: transparent;
    color: $brand-lightgray;
    border-color: $brand-lightgray;
  }
}

.btn-transparent--inverse {
  background: transparent;
  border: 1px solid $brand-primary;
  color: $brand-primary;

  &:hover, &:focus, &:active {
    background: transparent;
    color: $brand-primary-light;
    border-color: $brand-primary-light;
  }
}

.btn--sovellukset {
  position: relative;
  z-index: 1;
}

.btn--ajankohtaista, .btn--show-all {
  margin-top: $base*2;
}

.btn--request-show-all {
  margin-bottom: $base;
}

.page-template-ajankohtaista .btn--ajankohtaista {
  display: none;
}

.btn-list-item {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}