@mixin btn-colors($background, $text, $border) {
  background: $background;
  color: $text;
  border-color: $border;

  &:hover,
  &:focus,
  &:active {
    background: lighten($background, 10%);
    color: lighten($text, 10%);
    border-color: lighten($border, 10%);
  }
}

.btn {
  @extend %button;
  padding: $padding-base-vertical $padding-base-horizontal*2;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;

  &:hover {
    color: $brand-black;
  }

  .material-icons {
    font-size: $font-size-base;
    line-height: $line-height-computed;
    margin-right: 0;
    font-weight: bold;
  }
}

.btn-primary {
  @include btn-colors($btn-primary-bg, $btn-primary-color, $btn-primary-bg);
}

.btn-secondary {
  @include btn-colors($btn-main-bg, $btn-main-color, $btn-main-bg);
}

.btn-secondary--search {
  @extend .btn-secondary;
  color: $btn-main-bg;
  background-color: $btn-main-color;
  border-radius-top-left: none;
  border-radius-bottom-left: none;
  padding: $padding-base-horizontal $padding-base-vertical;

  &:hover, &:focus, &:active {
    color: $btn-main-bg;
    background-color: $btn-main-color;
    outline: 0;
    box-shadow: none;
    border: none;
  }

  &:focus {
    &:active {
      outline: 0;
    }
  }

  &:hover {
    background-color: $gray-lighter;
  }
}

.btn-lg {
  padding-left: $base*2;
  padding-right: $base*2;
  font-size: $font-size-small;
}

.btn-wrapper--right {
  text-align: center !important;

  @media (min-width: $width-md) {
    text-align: right !important;
  }
}

.btn-transparent {
  background: transparent;
  border: 1px solid white;
  color: $brand-white;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    background: transparent;
    color: $brand-lightgray;
    border-color: $brand-lightgray;
  }
}

.btn-transparent--inverse {
  background: transparent;
  border: 1px solid $brand-primary;
  color: $brand-primary;

  &:hover, &:focus, &:active {
    background: transparent;
    color: $brand-primary-light;
    border-color: $brand-primary-light;
  }
}

.btn--sovellukset {
  position: relative;
  z-index: 1;
}

.btn--ajankohtaista, .btn--show-all {
  margin-top: $base*2;
}

.btn--request-show-all {
  margin-bottom: $base;
}

.page-template-ajankohtaista .btn--ajankohtaista {
  display: none;
}

.btn-list-item {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}

.btn-container {
  margin-top: $base*2.5;
  text-align: center;
}

.btn-danger--inverse {
  background: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
}

.btn-app {
  background-color: $brand-app;
  border-color: $brand-app;
  color: $brand-white;

  &:hover {
    background-color: $brand-app-dark;
    color: $brand-white;
  }
}

.btn-app--inverse {
  color: $brand-app;
  border: 1px solid $brand-app;

  &:hover {
    color: $brand-app-dark;
    border-color: $brand-app-dark;
  }
}

.btn-dataset {
  background-color: $brand-dataset;
  color: $brand-white;

  &:hover {
    background-color: $brand-dataset-dark;
    color: $brand-white;
  }
}

.btn-dataset--inverse {
  color: $brand-dataset;
  border: 1px solid $brand-dataset;

  &:hover {
    color: $brand-dataset-dark;
    border-color: $brand-dataset-dark;
  }
}

.btn-latest {
  background-color: $gray-light;
  color: $brand-white;

  &:hover {
    background-color: $gray-dark;
    color: $brand-white;
  }
}

.btn-latest--inverse {
  color: $gray-light;
  border: 1px solid $gray-light;

  &:hover {
    color: $gray-dark;
    border-color: $gray-dark;
  }
}
