%button {
  @extend %box;
  border: 0;
  transition: $transition;

  &:focus, &:active, &:hover {
    color: $brand-primary;
  }
}

%button-primary {
  @extend %button;
  background-color: $brand-primary;
  color: #fff;
  
  &:focus, &:active, &:hover {
    color: #fff;
  }
}
