.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card__container {
    width: 100%;
    max-width: 25%;
    margin-top: $base*4;
    transition: max-width .2s ease-in-out;

    /*@media (min-width: $width-sm) {
      width: $base*36;
    }

    @media (min-width: $width-md) {
      width: $base*30;
    }

    @media (min-width: $width-lg) {
      width: $base*26;
    }*/
  }

  &:hover {

    .card__container {
      max-width: $base*24;

      &:hover {
        max-width: $base*45;
      }
    }
  }
}

.card {
  @extend %box;
  height: 100%;
}

.card__content {
  padding: $base $base*2 $base*2;
  color: #fff;
}

.card__img {
  width: 100%;
}

.card__img--link {
  display: block;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    background: rgba(0,0,0,0);
    transition: background-color .2s ease-in-out;
  }

  &:hover {

    &:after {
      background: rgba(0,0,0,0.3);
    }
  }
}

.card__link {
  color: #fff;
}

.card__footer {
  margin-top: $base*2;
}
