.carousel {
  .card,
  .card--image {
    max-width: $card-max-width;
    margin: $margin-base-vertical*2 auto;
  }

  .carousel-control {
    background-image: none;

    .fa {
      color: $text-color;
      position: absolute;
      top: 50%;
      width: 100%;
      display: block;
    }
  }

  .carousel-indicators {
    position: relative;
    bottom: 0;
    margin-bottom: $padding-large-vertical;

    li {
      width: 30px;
      height: 6px;
      margin: 1px;
      background-color: $gray-light;
      border-color: $gray-light;

      &.active {
        background-color: $gray;
        border-color: $gray
      }
    }
  }
}