.carousel {
  .card,
  .card--image {
    max-width: $card-max-width;
    margin: $margin-base-vertical*2 auto;

    @media(max-width: $width-xxs){
      max-width: $card-max-width * 0.9;
    }
  }

  .carousel-control-prev,
  .carousel-control-next{
    background-image: none;

    .fa {
      color: $text-color;
      position: absolute;
      top: 50%;
      width: 100%;
      display: block;
    }

    @media(max-width: $width-xxs){
      width: 10%;
    }
  }

  .carousel-indicators {
    position: relative;
    bottom: 0;
    margin-bottom: $padding-large-vertical;

    button {
      width: 30px;
      height: 6px;
      margin: 1px;
      background-color: $gray-light;
      border-color: $gray-light;
      border-width: 0;

      &.active {
        background-color: $gray;
        border-color: $gray
      }
    }
  }
}