.wrapper--contentbox {
  padding-top: $base*2;
  padding-bottom: $base*2;
  background: cyan;
}

.wrapper--innter-contentbox {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contentbox {
  height: 360px;
  text-align: center;
  border-right: 1px solid white;

  &:nth-child(1) {
    border-left: 1px solid white;
  }
}

.contentbox__img-wrapper {
  width: 50%;
  margin: $base*2 auto;

  img {
    width: 100%;
    height: auto;
  }
}