.wrapper--contentbox {
  margin-top: $base*4;
  padding-top: $base*2;
  padding-bottom: $base*2;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:after {
    content: "";
    display: block;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    background: rgba($brand-primary,0.8);
  }
}

.wrapper--inner-contentbox {
  border-top: 1px solid $brand-white;
  border-bottom: 1px solid $brand-white;
  position: relative;
  z-index: 1;

  @media(min-width: $width-md) {

    .row {
      display: flex;
    }
  }
}

.contentbox {
  max-width: $base*40;
  margin: 0 auto;
  text-align: center;
  border-right: 1px solid $brand-white;
  border-left: 1px solid $brand-white;
  border-top: 1px solid $brand-white;
  color: $brand-white;
  padding-top: $base*2;
  padding-bottom: $base*2;

  &:nth-child(1) {
    border-top: 0;
  }

  h1 {
    margin-top: 0;
  }

  @media (min-width: $width-md) {
    max-width: none;
    margin: 0;
    border-left: 0;
    border-top: 0;
    padding-top: $base*2;
    padding-bottom: $base*4;

    &:nth-child(1) {
      border-left: 1px solid $brand-white;
    }
  }
}

.heading--contentbox {
  margin-top: 0;
  padding-top: $base*2;
}

.contentbox__link,
.contentbox__link:focus,
.contentbox__link:active {
  color: $brand-white;
  text-decoration: none;

  &:hover {
    color: $brand-lightgray;
    text-decoration: none;
  }
}

.contentbox__img-wrapper {
  width: 50%;
  max-width: $base*20;
  margin: $base*2 auto;

  img {
    width: 100%;
    height: auto;
  }
}

.contentbox__body {
  color: $brand-white;
}
