.control-group, .form-group {
  &.error {
    .control-label,
    .error-block {
      color: $brand-danger;
    }

    input,
    textarea,
    select {
      border-color: $brand-danger;
    }

    .select2-container,
    .select2-container-multi {
      .select2-choices,
      .select2-choice {
        border-color: $brand-danger;
      }
    }
  }
}