.fluidtable {
  width: 100%;
  max-width: 1280px;
  margin: $base*6 auto $base*24;
}

.fluidtable__heading {
  @extend .heading-main;
}

.fluidtable__body {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.fluidtable__row {
  border-bottom: 1px solid $brand-gray;
  padding: $base*2 0;

  @media (min-width: $width-md) {
    display: flex;
    padding: initial;
  }
}

.fluidtable__cell {
  vertical-align: top;
  padding: $base/2 $base;

  @media (min-width: $width-sm) {
    padding: $base/2 $base*2;
  }

  @media (min-width: $width-md) {
    padding: $base*2 $base;
  }
}

.fluidtable__cell--meta {
  color: $label-text-color;
  font-size: $font-size-base;
  font-weight: normal;
  font-family: $headings-font-family;

  @media (min-width: $width-md) {
    width: 20%;
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.fluidtable__cell--title {
  .heading {
    font-family: $headings-font-family;
    font-size: $font-size-large;
    line-height: $line-height-large;
  }

  @media (min-width: $width-md) {
    width: 30%;
  }
}

.fluidtable__cell--desc {
  line-height: $line-height-base;

  @media (min-width: $width-md) {
    width: 50%;
  }
}

.fluidtable__cell-content {
  word-break: normal;
  hyphens: auto;

  .heading {
    margin: 0;
  }
}