.fluidtable {
  width: 100%;
  max-width: 1280px;
  margin: $base*6 auto $base*24;
}

.fluidtable__heading {
  @extend .heading--main;
}

.fluidtable__body {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.fluidtable__row {
  
  @media (min-width: $width-md) {
    display: flex;
    border-bottom: 1px solid #eee;
  }
}

.fluidtable__cell {
  vertical-align: top;
  padding: $base*4 $base;
}

.fluidtable__cell--meta {
  width: 20%;
}

.fluidtable__cell--title {
  width: 30%;
}

.fluidtable__cell--desc {
  width: 50%;
}

.fluidtable__cell-content .heading {
  margin-top: 0;
}