.roadmap-content {
  padding: 0 !important;
}

.roadmap-filterbar {
  border-bottom: 1px solid #eee;
  padding-bottom: $base*2;

  @media (min-width: 454px) {
    display: flex;
    align-items: center;
    height: 75px;
    padding-bottom: 0;
    margin-top: -10px;

    select#label-filter {
      margin-left: auto;
    }
  }

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

.fluidtable {
  width: 100%;
  max-width: 1280px;
  margin: $padding-large-vertical auto $base*24;
}

.fluidtable__heading {
  @extend .heading-main;
}

.fluidtable__body {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  padding: $base*3;
}

.fluidtable__row {
  padding: $base*2;
  transition: box-shadow .2s ease-in-out;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 1px 32px rgba(0,0,0,0.1);
  }
}

.fluidtable__cell {
  vertical-align: top;
  padding: $base*0.5;
}

.fluidtable__cell--meta {
  display: none;
}

.fluidtable__cell--title {

  .heading {
    font-family: $headings-font-family;
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.fluidtable__cell--desc {
  line-height: $line-height-base;
}

.fluidtable__cell-content {
  word-break: normal;
  hyphens: auto;

  .heading {
    margin: 0;
  }
}

.fluidtable__navbar {
  .nav {
    li {
      margin: 0;

      a {
        padding: $base*1.5;
      }
    }
  }
}

#roadmap-hits {
  font-weight: bold;
}