.site-footer {
  padding-top: $base*6;
  background: $brand-primary;
  color: #fff;

  a {
    color: currentColor;
  }
}

.footer-follow-links {
  padding: $base*2 0;
}

.footer-follow-title {
  margin-right: $base;
}

.footer-follow-link:hover {
  text-decoration: none;
}

hr {
  margin: 0;
  border-top: 1px solid rgba(255,255,255,0.6);
}

.footer-section {
  padding-top: $base;
  padding-bottom: $base;

  &.footer-section--links > div {
    height: 100%;
  }
}

.footer-logo-wrapper {
  width: 25%;
  margin: auto;

  @media (min-width: $width-lg) {
    width: 100%;
  }
}

.footer-logo {
  width: 100%;
}

.footer-links {
  text-align: center;
  padding: 0;
  margin-bottom:0;

  li {
    list-style: none;
    display: inline-block;

    a {
      display: block;
      padding: $base;
    }
  }
}

.copyrights {
  padding: $base*2 0 $base*8;
  text-align: right;
}