.site-footer {
  padding-top: $padding-large-vertical;
  background: $footer-background-color;
  color: $footer-text-color;

  @media(min-width: $width-sm) {
    padding-top: $padding-large-vertical*4
  }

  hr {
    margin: 0;
    border-top: 1px solid rgba(255,255,255,0.6);
  }

  a,
  a:focus {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-color-hover;
    }

    &.active {
      color: $footer-link-color-active;
    }
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-follow-links {
  padding: $base*2 0;
  float: right;
}

.footer-follow-title {
  margin-right: $base;
}

.footer-follow-link:hover {
  text-decoration: none;
}

.footer-row {
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.footer-column {
  position: relative;
  margin-top: $margin-large-vertical;
  margin-bottom: $margin-large-vertical;

  @media(min-width: $width-sm) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer-section {
  padding-top: $base;
  padding-bottom: $base;

  &.footer-section--links > div {
    height: 100%;
  }
}

.footer-logo-wrapper {
  width: 50%;
  margin: auto;

  @media (min-width: $width-sm) {
    width: 25%;
  }

  @media (min-width: $width-md) {
    width: 100%;
  }
}

.footer-logo {
  margin-top: 0;
  width: 100%;
  height: auto;

  @media (min-width: $width-sm) {
    margin-top: $margin-large-vertical;
  }
}

.footer-links {
  text-align: center;
  padding: 0;
  margin-bottom:0;

  li {
    list-style: none;
    display: inline-block;

    a {
      display: block;
      padding: $base;
    }
  }
}

.copyrights {
  padding-top: $base*2;
  padding-bottom: $base*2;
  text-align: right;
}