.control-label[for="field-order-by"] {
  line-height: $base*3;
  padding-right: 0;
}

.control-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #777 !important;
  padding-top: ($padding-base-vertical + 1);

  + .controls {
    textarea {
      padding-right: 50px;
    }
  }
}

.form-control {
  background-color: $input-background-color;
}

form {
  .form-group {
    position: relative;
    margin: $margin-large-vertical 0;

    label {
      color: $brand-primary;

      &.ytp-checkbox {
        display: flex;
        align-items: center;
        font-size: 18px;
        max-width: max-content;
        font-weight: normal;

        [type='checkbox'] {
          display: none;

          & + .custom-checkbox {
            border: 1px solid $border-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            margin-right: 15px;
          }

          &:checked + .custom-checkbox::before {
            content: '\f00c';
            font-family: FontAwesome;
            vertical-align: middle;
            display: inline-block;
            font-size: 30px;
            margin: 0;
            padding: 0;
            pointer-events: none;
          }
        }
      }

    }

    input {
      @extend .form-control;
    }
  }

  .form-group-fluent {
    label {
      color: $brand-primary;

      &:not(.group-label) {
        display: inline;
        position: absolute;
        right: 25px;
        top: 0;
        z-index: 2;
      }
    }

    .control-group {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .field-assistive-text {
    margin-bottom: $margin-large-vertical;
    padding-bottom: $padding-large-vertical*2;
  }

  .form-select {
    width: 100%;

    @media (min-width: $width-sm) {
      width: 33%;
    }
  }

  .form-actions {
    &.form-actions-section {
      border-top: $border-base solid $border-color;
      margin-top: $padding-large-vertical*5;
      padding-top: $padding-large-vertical*3;
      margin-bottom: $padding-large-vertical*3;
    }

    .action-info {
      margin: $margin-large-vertical*2 0;
    }

    .btn {
      margin-right: $margin-large-horizontal*2;
    }

    .control-required-message {
      margin: $margin-large-vertical*2 0;
    }
  }
}

.form-container {
  padding: 20px 20px;
  background-color: #fafafa;
  margin-bottom: 20px;
  border: 1px solid #eee;

  label {
    margin: 0 $base;
  }
}

.form-horizontal {
  .form-group {
    margin-left: inherit;
    margin-right: inherit;
  }
}