.headingbar {
  border-bottom: 1px solid $brand-lightgray;
  margin-bottom: $base*2;
  padding-bottom: $breadcrumb-padding-y;
  background-color: #eee;

  .heading-main {
    margin: 0;
  }

  .breadcrumb {
    padding-left: 0;
  }
}