.hero {
  background-size: cover;
  background-position: center center;
  position: relative;

  &:after {
    @include overlay();
  }
}

.hero__inner {
  position: relative;
  z-index: 1;
  padding-top: 180px;
}

.hero .input-group {

  input {
    border: none;
    font-size: $font-size-base;

    &:focus {
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      font-size: $font-size-small;
      letter-spacing: 1px;
    }
  }

  button.btn-tertiary {
    font-size: $font-size-small;
    padding: $padding-large-vertical $padding-large-horizontal*2;
    letter-spacing: 2px;
    text-transform: uppercase;

    .fa {
      margin-left: $padding-large-horizontal;
    }
  }

  .form-control {
    margin-top: $base;
    margin-bottom: $base;
  }

  @media (max-width: $width-xs) {
    display: block;

    div.input-group-btn {
      display: block;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      .btn-tertiary.dropdown-toggle {
        width: 100%;
      }
    }

    .open .dropdown-menu-right {
      left: 0;
    }

    button#search {
      width: 100%;
      line-height: $line-height-computed;
      border-top-right-radius: 0;
    }

    #q {
      float: left;
      width: 70%;
      margin: 0;
      border-bottom-left-radius: 3px;
    }

    span.input-group-btn {
      float: right;
      width: 30%;
    }
  }

  @media(min-width: $width-sm) {

    button {
      padding-left: $padding-large-horizontal*4;
      padding-right: $padding-large-horizontal*4;
    }
  }

  @media(min-width: $width-md) {
    .form-control {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.hero .heading-main {
  margin: $base*4 auto 0;
  color: $hero-main-heading-color;
  font-size: 3.125rem;
  font-weight: bold;
  word-wrap: break-word;
}

.hero .subheading {
  margin: 0 auto $base*2;
  color: $hero-secondary-heading-color;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.hero .search-container {
  max-width: $base*60;
  margin: $base*6 auto 0;
  padding-left: $base;
  padding-right: $base;
}

.wrapper {
  &.wrapper--categories {
    padding: 0;
  }
}

.has-notification {
  .hero {
    margin-top: $notificationbar-height;
  }
}