.hero {
  padding: $base*4;
}

.hero .input-group {
  display: block;

  .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: $width-xs) {
    display: table;
  }

  @media (min-width: $width-md) {

    .form-control {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.hero .heading {
  margin-bottom: 0;
}

.hero .subheading {
  margin-top: 0 !important;
}
