.hero {
  padding: $navbar-height 0 0;
  background-size: cover;
  background-position: center center;
  position: relative;

  &:after {
    @include overlay();
  }
}

.hero__inner {
  position: relative;
  z-index: 1;

  .logos {
    margin-top: $content-padding-top - $navbar-height;

    @media(min-width: $grid-float-breakpoint) {
      margin-top: $content-padding-top-desktop - $navbar-height;
    }
  }
}

.notification {
  ~ #primary {
    .hero__inner .logos {
      margin-top: $content-padding-top + $notificationbar-height - $navbar-height;

      @media(min-width: $grid-float-breakpoint) {
        margin-top: $content-padding-top-desktop + $notificationbar-height - $navbar-height;
      }
    }
  }
}

.hero .input-group {
  display: table;

  input {
    height: 37px;
  }

  button {
    font-size: 16px;
    padding-left: $base;
    padding-right: $base;
  }

  .form-control {
    margin-top: $base;
    margin-bottom: $base;
  }

  @media(min-width: $width-sm) {
    input {
      height: $input-height-large;
    }

    button {
      font-size: $font-size-large;
      padding-left: $base*2;
      padding-right: $base*2;
    }
  }

  @media(min-width: $width-md) {
    .form-control {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.hero .heading--main {
  margin: $base*2 auto 0;
  color: $brand-white;
  font-size: 5rem;
  text-shadow: 0 1px 4px $brand-gray;
}

.hero .subheading {
  margin: 0 auto $base*2;
  font-weight: 300;
  color: $brand-white;
  font-size: 3rem;
  text-shadow: 0 1px 4px $brand-gray;
}

.wrapper {
  &.wrapper--categories {
    padding: 0 $base*1.5;
  }
}
