$horizontal-accordion-height: 400px;
$item-width: 300px;
$item-width-open: 450px;
$tab-transition: all 0.4s 0.1s ease-in-out;

.horizontal-accordion-wrapper {

  .horizontal-accordion-container {
    margin: 100px auto;
    padding: 2px 0;
    background: $brand-primary;
    background: linear-gradient(to bottom, #7875B2, $brand-primary);
  }

  .horizontal-accordion {
    background: linear-gradient(to bottom, #7875B2, $brand-primary);
    min-width: 950px;
    width: 1350px;
    margin: auto;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: $horizontal-accordion-height;
    font-size: 0;

    &:hover {
      .horizontal-accordion-tab:first-child {
        width: $item-width;

        &:hover {
          width: $item-width-open;
        }
      }
    }
  }

  .horizontal-accordion-tab {
    display: inline-block;
    background-color: $brand-primary;
    border-right: $brand-white 1px solid;
    width: $item-width;
    height: $horizontal-accordion-height;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: $font-size-medium;
    transition: $tab-transition;

    // Set first child initially to hover state width
    &:first-child {
      width: $item-width-open;
    }

    &:hover {
      width: $item-width-open;

      .tab-cover {

        a {
          &:before {
            margin-left: -100px;
          }

          &:after {
            margin-left: -5px;
          }
        }
      }
    }

    .tab-overlay,
    .tab-overlay:focus,
    .tab-overlay:active {
      background: rgba(83, 79, 151, 0.8);
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: block;
      z-index: 2;
      text-decoration: none;
    }

    .tab-content {
      color: $text-muted;
      position: relative;
      width: 440px;
      padding: 50px 0 0 10px;
      height: $horizontal-accordion-height;
      background: transparent;
      box-sizing: content-box;
      transition: $tab-transition;

      h1 {
        transition: $tab-transition;
        color: $text-muted;
        font-size: $font-size-xlarge;
        margin-bottom: 10px;
      }

      p {
        font-size: $font-size-base;
        padding-right: 30px;
      }

      &:hover {
        color: $brand-white;

        h1 {
          color: $brand-white;
        }
      }
    }
  }

  .tab-cover {
    display: block;
    box-sizing: content-box;

    a {
      display: block;
      text-indent: -9999px;
      font-size: 0;
      line-height: 0;

      &:before, &:after {
        transition: $tab-transition;
        width: $item-width;
        height: $horizontal-accordion-height;
        position: absolute;
        text-indent: 0;
        padding-top: 90px;
        padding-left: 25px;
        display: block;
        font: normal 30px Genericons;
        color: $brand-white;
      }

      &:after {
        font-size: 48px;
        padding-left: 20px;
        padding-top: 80px;
      }
    }
  }

  .cover-image {
    a {
      &:before, &:after {
        content: '\f202';
      }

      &:after {
        background-image: url("http://via.placeholder.com/350x150");
      }
    }
  }
}
