$horizontal-accordion-height: 450px;
$horizontal-accordion-top-padding-base: 10px;
$horizontal-accordion-heading-height: 140px;
$horizontal-accordion-breakpoint: $width-md;
$tab-width: 22%;
$tab-width-open: 34%;
$tab-transition: all 0.4s 0.1s ease-in-out;
$text-transition: all 0.1s 0.1s ease-in-out;

.horizontal-accordion-wrapper {

  .horizontal-accordion-container {
    margin: 0 auto;
    padding: 0;
    background: $accordion-bg;
  }

  &.collapse.in {
    .horizontal-accordion-container {
      padding-top: 2px;
    }
  }

  .horizontal-accordion {
    background: transparent;
    width: $tab-width*3 + $tab-width-open;
    max-width: 2000px;
    margin: auto;
    padding: 0;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: auto;
    font-size: 0;

    @media(min-width: $horizontal-accordion-breakpoint) {
      height: $horizontal-accordion-height;

      &:hover {
        .horizontal-accordion-tab:first-child {
          width: $tab-width;

          &:hover {
            width: $tab-width-open;
          }
        }
      }
    }
  }

  .horizontal-accordion-tab {
    background-repeat: no-repeat;
    background-size: cover;
    background: $accordion-tab-bg;
    border-right: $accordion-tab-border-color 1px solid;
    width: 100%;
    float: left;
    display: block;
    height: $horizontal-accordion-height;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: $font-size-medium;
    transition: $tab-transition;

    @media(min-width: $width-xs-sm) {
      width: 50%;
    }

    @media(min-width: $horizontal-accordion-breakpoint) {
      display: inline-block;
      float: none;
      width: $tab-width;

      // Set first child initially to hover state width
      &:first-child {
        width: $tab-width-open;
      }

      &:hover {
        width: $tab-width-open;

        .tab-cover {

          a {
            &:before {
              margin-left: -100px;
            }

            &:after {
              margin-left: -5px;
            }
          }
        }
      }
    }

    .tab-overlay,
    .tab-overlay:focus,
    .tab-overlay:active {
      background: $accordion-tab-overlay-bg;
      opacity: 0.7;
      overflow: hidden;
      height: $horizontal-accordion-height;
      width: 100%;
      display: block;
      z-index: 2;
      text-decoration: none;
    }

    .tab-content {
      color: $accordion-tab-text-color;
      position: relative;
      width: auto;
      padding: $horizontal-accordion-top-padding-base 10px 0 10px;
      height: $horizontal-accordion-height;
      background: transparent;
      box-sizing: content-box;
      transition: $tab-transition;

      h1,
      .tab-heading {
        color: $accordion-tab-heading-color;
        font-size: 18px;
        line-height: $line-height-large;
        min-height: $line-height-large * 18px * 3;
        margin: 0 0 $horizontal-accordion-top-padding-base+20px 0;
        display: inline-block;

        @media(min-width: $width-lg) {
          font-size: 20px;
          min-height: $line-height-large * 20px * 3;
        }
      }

      .tab-meta {
        font-size: $font-size-base;
        color: $accordion-tab-meta-color;
      }

      p {
        font-size: $font-size-base;
        padding-right: 10px;
        position: relative
      }

      @media(min-width: $horizontal-accordion-breakpoint) {
        width: calc(#{$width-md} / 3);
        padding: $horizontal-accordion-top-padding-base+20px 0 0 10px;

        p {
          position: relative;
          top: $horizontal-accordion-height;
          transition: $text-transition;
        }

        &:hover {
          p {
            transition: $tab-transition;
            transform: translate(0, -$horizontal-accordion-height);
            -webkit-transform: translate(0, -$horizontal-accordion-height);
            -o-transform: translate(0, -$horizontal-accordion-height);
            -moz-transform: translate(0, -$horizontal-accordion-height);
          }
        }
      }

      @media(min-width: $width-lg) {
        width: calc(#{$width-lg} / 3);
      }

      @media(min-width: $width-xl) {
        width: calc(#{$width-xl} / 3);
      }
    }
  }

  .tab-cover {
    display: block;
    box-sizing: content-box;

    a {
      display: block;
      text-indent: -9999px;
      font-size: 0;
      line-height: 0;

      &:before, &:after {
        transition: $tab-transition;
        width: $tab-width;
        height: $horizontal-accordion-height;
        position: absolute;
        text-indent: 0;
        padding-top: 90px;
        padding-left: 25px;
        display: block;
        font: normal 30px Genericons;
        color: $brand-white;
      }

      &:after {
        font-size: 48px;
        padding-left: 20px;
        padding-top: 80px;
      }
    }
  }

  .cover-image {
    a {
      &:before, &:after {
        content: '\f202';
      }

      &:after {
        background-image: url("http://via.placeholder.com/350x150");
      }
    }
  }

  // Static variant of the accordion without resizing tabs on hover
  .horizontal-accordion.horizontal-accordion-static {
    @media(min-width: $horizontal-accordion-breakpoint) {

      .horizontal-accordion-tab,
      .horizontal-accordion-tab:hover,
      .horizontal-accordion-tab:first-child,
      .horizontal-accordion-tab:first-child:hover {
        width: 25%;

        .tab-content {
          width: 97%;
        }
      }

      .horizontal-accordion-tab {
        .tab-content p {
          top: 0;
        }

        .tab-overlay {
          position: relative;
          transition: $tab-transition;
          top: $horizontal-accordion-height - $horizontal-accordion-heading-height;

          h1 {
            margin-top: 0;
          }

          .tab-meta {
            margin-top: $horizontal-accordion-top-padding-base;
          }
        }

        &:hover {
          // Remove old transform
          .tab-content p {
            transform: none;
          }

          .tab-overlay {
            transform: translate(0, -$horizontal-accordion-height + $horizontal-accordion-heading-height);
            -webkit-transform: translate(0, -$horizontal-accordion-height + $horizontal-accordion-heading-height);
            -o-transform: translate(0, -$horizontal-accordion-height + $horizontal-accordion-heading-height);
            -moz-transform: translate(0, -$horizontal-accordion-height + $horizontal-accordion-heading-height);
          }
        }
      }
    }
  }
}

.horizontal-accordion-btn-group {
  width: $tab-width*3 + $tab-width-open;
  max-width: 2000px;
  margin: auto;
  padding: $padding-large-vertical*2 $base*1.5;
  text-align: center;
  height: 34px + $padding-large-vertical*4;
  vertical-align: middle;

  @media(min-width: $width-sm) {
    text-align: right;

    .container {
      padding: 0;
    }
  }
  
  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.horizontal-accordion-collapse {
  border-top: 2px solid $brand-primary;

  .btn {
    border-radius: 0 0 $border-radius-small $border-radius-small;
    position: absolute;
    right: $padding-large-horizontal*6;
    padding: $btn-padding-large;

    #show-text {
      display: none;
    }
  }
}
