.image-slider-wrapper {
  text-align: center;
  width: 100%;

  .image-slider {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    list-style: none;
    background: $navbar-bg;
    padding: $padding-large-vertical;
    margin-top: $margin-large-vertical*2;
    margin-bottom: $margin-large-vertical*2;
    display: block;

    @media(min-width: $width-md) {
      margin-bottom: 0;
    }

    li,
    .image-slider-item {
      display: inline-block;
      height: 100%;

      img {
        object-fit: cover;
        width: auto;
        height: 300px;

        &:hover {
          opacity: 0.8;
          transition: all 0.3s;
          cursor: pointer;
        }
      }
    }
  }
}
