.image-modal {
  display: none;
  position: fixed;
  z-index: $zindex-modal-backdrop;
  padding-top: $base*6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);

  .modal-content {
    @include animation-zoom();
    margin: auto;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;

    @media(min-width: $width-sm) {
      max-width: 80%;
    }
  }

  img {
    border-radius: 0;
  }

  .close {
    position: absolute;
    top: $margin-large-vertical;
    right: $margin-large-horizontal;
    color: $gray-lighter;
    font-size: $base*4;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $brand-white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}