.image-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: $margin-large-vertical*2 0;
  display: block;

  &.image-list-horizontal {

    li,
    .image-list-item {
      display: inline-block;

      img {
        object-fit: cover;
        width: 250px;
        height: 250px;
      }
    }
  }
}