@use "sass:math";

.nav-wrapper {
  @include box-shadow();
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.navbar {
  border: none;
  border-radius: 0;
  --bs-navbar-padding-y: 0;
  --bs-navbar-nav-link-padding-x: 0.938rem;
  --bs-nav-link-font-size: 0.875rem;

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    #profile {
      left: initial;
    }

    li,
    li:focus,
    li:active {
      position: relative;

      @media(min-width: $grid-float-breakpoint) {
        position: static;
        max-height: $navbar-height;
      }

      &.nav-inline {
        display: inline-block;
      }

      > a {
        border-top: $base*0.5 solid transparent;
        border-bottom: $base*0.5 solid transparent;
        padding-top: math.div($navbar-height, 6);
        padding-bottom: math.div($navbar-height, 6);

        @media(min-width: $grid-float-breakpoint) {
          padding-top: $navbar-height*0.25;
          padding-bottom: $navbar-height*0.25;
        }
      }

      &.active-hover {
        .subnav {
          visibility: visible;
          max-height: 100%;
          padding: 0;
          @include box-shadow(0 20px 40px);

          @media(min-width: $grid-float-breakpoint) {
            width: auto;
            max-height: none;
            visibility: visible;
            display: block;
            z-index: $zindex-fixed;
            position: absolute;
          }
        }
      }
    }
  }
  .navbar-header {
    margin: 5px 0;
  }
}

.navbar-light {

  background-color: $brand-background;
  .navbar-toggle {
    border-radius: 0;
    border-color: $navbar-toggle-background-color;

    .icon-bar {
      background-color: $navbar-toggle-icon-color;
    }
  }
}

.navbar-search {
  width: 100%;
  margin: 0;
  height: $navbar-height;
  padding: $navbar-height*0.25;

  .navbar-search-btn {
    display: none;
  }

  @media(min-width: $grid-float-breakpoint) {
    .navbar-search-form {
      display: none;
    }

    .navbar-search-btn {
      display: block;
    }
  }

  .navbar-search-btn {
    font-size: $font-size-base;
    float: left;
  }

  .btn {
    padding: 5px 12px 4px 12px;
  }

  @media(min-width: $grid-float-breakpoint) {
    width: auto;
    max-width: 220px;
    margin: 14px 10px;
    height: auto;
    padding: 0;
  }
}

.subnav {
  visibility: hidden;
  display: block;
  max-height: 0;
  border: 0;

  @media(min-width: $grid-float-breakpoint) {
    visibility: visible;
    display: none;
    transition: none;
    max-height: $base*4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    border-color: $navbar-secondary-border-color;
  }
}

.subnav-toggle {
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: $navbar-height;
  height: $navbar-height - math.div($navbar-height, 6);
  color: $navbar-secondary-toggle-color;
  transition: all $transition-speed-base $transition-curve-base;

  &.rotate {
    transform:rotate(180deg);
  }

  .fa {
    line-height: $navbar-height - math.div($navbar-height, 6);
    vertical-align: middle;
    width: 100%;
  }

  @media(min-width: $grid-float-breakpoint) {
    position: relative;
    width: 100%;
    height: 10px;
    display: inline;
    top: -25px;
    pointer-events: none;
    background: none;

    .fa {
      line-height: 10px;
      font-size: 10px;
      vertical-align: middle;
    }
  }
}

.navbar-secondary {
  background: none;
  
  .navbar-nav {
    margin: 0;
    border-bottom: 1px solid $navbar-border-color;
    width: 100%;

    li {
      margin-left: $base;
      margin-right: $base;

      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .navbar-collapse {

    @media (min-width: $width-md) {
      padding-left: 0;
      padding-right: 0;
    }

  }
}


.navbar-light .navbar-nav.subnav {
  margin: 0;
  position: relative;
  background: $navbar-secondary-bg;
  height: 100%;
  overflow: hidden;
  padding-left: $base*3;

  & > li {
    width: auto;
    float: none;

    > a,
    > a:focus {
      color: $navbar-secondary-link-color;
      padding: $padding-large-vertical*0.5 $padding-large-horizontal*3;

      .fa {
        display: none;
      }
    }

    @media(min-width: $grid-float-breakpoint) {
      > a,
      > a:focus {
        padding: $padding-large-vertical*0.5
                $padding-large-horizontal*3
                $padding-large-vertical*0.5
                $padding-large-horizontal;
        transition: padding $transition-speed-base $transition-curve-base;

        .fa {
          display: inline;
          width: 0;
          opacity: 0;
          transition:
                  opacity $transition-speed-base $transition-curve-base,
                  width $transition-speed-base $transition-curve-base,
                  margin $transition-speed-base $transition-curve-base;
        }
      }

      &:hover {
        > a {
          padding-right: $padding-large-horizontal*2;
          background: $navbar-secondary-link-hover-bg;
          color: $navbar-secondary-link-active-color;

          .fa {
            width: $padding-large-horizontal;
            opacity: 1;
            margin-right: $margin-large-horizontal;
          }
        }
      }
    }
  }

  @media(min-width: $grid-float-breakpoint) {
    height: auto;
    position: relative;
    top: $navbar-height;
  }
}

.navbar-footer {
  display: block;
  background: $navbar-secondary-bg;
  color: $navbar-secondary-link-color;
  margin: 0 -15px;
  padding: 0;

  @media(min-width: $grid-float-breakpoint) {
    display: none;
  }

  .navbar-toggle-footer {
    display: inline-block;
    width: 100%;
    height: $navbar-height*0.5;
    color: $navbar-secondary-link-color;
    background: transparent;
    border: none;
  }
}

.language-changer {
  text-transform: uppercase;
}

@include media-breakpoint-down(lg) {
  .navbar-right {
    flex-direction: row;
    .language-changer {
      padding: 10px;
      margin: 5px;
    }
  }
}


// Compensate for the wp admin bar and notification bar
$admin-bar-height: 46px;
$admin-bar-height-desktop: 32px;

.admin-bar {
  .nav-wrapper {
    margin-top: $admin-bar-height;

    @media(min-width: 783px) {
      margin-top: $admin-bar-height-desktop;
    }
  }

  #wpadminbar {
    position: fixed;
  }
}

