.navbar {
  border: none;
  border-radius: 0;
  background: $navbar-background-color;
}


.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li:focus,
.navbar-default .navbar-nav li:active {
  position: relative;

  @media(min-width: $grid-float-breakpoint) {
    position: static;
  }

  > a {
    border-top: $base/2 solid transparent;
    border-bottom: $base/2 solid transparent;
    padding-top: $navbar-height/4;
    padding-bottom: $navbar-height/4;
  }

  .subnav {
    visibility: hidden;
    display: block;
    max-height: 0;
    border: 0;

    @media(min-width: $grid-float-breakpoint) {
      visibility: visible;
      display: none;
      transition: none;
      max-height: $base*4;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-radius: 0 0 $border-radius-small $border-radius-small;
      border-color: $navbar-secondary-border-color;
    }
  }

  &.active {
    .subnav-toggle {
      color: $navbar-secondary-active-toggle-color;
    }

    > a {
      background-color: $navbar-default-link-active-bg;
      color: $navbar-default-link-active-color;
      border-bottom-color: $navbar-default-link-active-border-color;

      @media(min-width: $grid-float-breakpoint) {
        background-color: $navbar-default-link-active-bg-desktop;
        color: $navbar-default-link-active-color-desktop;
        border-bottom-color: $navbar-default-link-active-border-color-desktop;

        &:hover {
          background-color: $navbar-default-link-hover-bg-desktop;
          color: $navbar-default-link-hover-color;
        }
      }
    }

  }

  &.active-hover {
    .subnav {
      visibility: visible;
      max-height: 100%;
      padding: 0;

      @media(min-width: $grid-float-breakpoint) {
        width: auto;
        max-height: none;
        visibility: visible;
        display: block;
        z-index: $zindex-navbar-fixed;
        position: absolute;
      }
    }
  }
}

.navbar-right .nav-link {
  text-transform: uppercase;
}

.navbar-default {

  .navbar-toggle {
    border-radius: 0;
    border-color: $navbar-toggle-background-color;

    .icon-bar {
      background-color: $navbar-toggle-icon-color;
    }
  }
}

.navbar-search {
  width: 100%;
  margin: 0;
  height: $navbar-height;
  padding: $navbar-height/4;

  .navbar-search-form {
    display: none;
  }

  .navbar-search-btn {
    float: left;
  }

  .btn {
    padding: 5px 12px 4px 12px;
  }

  @media(min-width: $grid-float-breakpoint) {
    width: auto;
    max-width: 220px;
    margin: 14px 10px;
    height: auto;
    padding: 0;
  }
}

.subnav-toggle {
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: $navbar-height;
  height: $navbar-height;
  color: $navbar-secondary-toggle-color;
  transition: all $transition-speed-base $transition-curve-base;

  &.rotate {
    transform:rotate(180deg);
  }

  .fa {
    line-height: $navbar-height;
    vertical-align: middle;
    width: 100%;
  }

  @media(min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.navbar-secondary {
  background: none;
  
  .navbar-nav {
    margin: 0;
    border-bottom: 1px solid $navbar-border-color;
    width: 100%;

    li {
      margin-left: $base;
      margin-right: $base;

      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .navbar-collapse {

    @media (min-width: $width-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar-default .navbar-nav.subnav {
  margin: 0;
  position: relative;
  background: $navbar-secondary-bg;
  height: 100%;
  overflow: hidden;
  padding-left: $base*3;

  & > li {
    width: auto;
    float: none;

    > a,
    > a:focus {
      color: $navbar-secondary-link-color;
      padding-top: $base/2;
      padding-bottom: $base/2;
    }

    &:hover {
      > a {
        background: $navbar-secondary-link-hover-bg;
        color: $navbar-secondary-link-active-color;
      }
    }

    &.active {
      border-bottom-color: $navbar-secondary-link-active-border-color;

      > a {
        background: $navbar-secondary-link-active-bg;
        color: $navbar-secondary-link-active-color;
      }
    }
  }

  @media(min-width: $width-md) {
    height: auto;
    position: relative;
  }

}

// Compensate for the wp admin bar and notification bar
$admin-bar-height: 46px;
$admin-bar-height-desktop: 32px;

.notification {
  ~ .navbar-fixed-top {
    margin-top: $notificationbar-height;
  }

  ~ #main .statistics-nav.affix {
    top: $navbar-height + $notificationbar-height;
  }
}

.admin-bar {
  .navbar-fixed-top {
    margin-top: $admin-bar-height;

    @media(min-width: 783px) {
      margin-top: $admin-bar-height-desktop;
    }
  }

  .notification {
    margin-top: $admin-bar-height;

    ~ .navbar-fixed-top {
      margin-top: $admin-bar-height + $notificationbar-height;
    }

    @media(min-width: 783px) {
      margin-top: $admin-bar-height-desktop;

      ~ .navbar-fixed-top {
        margin-top: $admin-bar-height-desktop + $notificationbar-height;
      }
    }

  }

  #wpadminbar {
    position: fixed;
  }
}
