.navbar {
  border: none;
  border-radius: 0;
  background: $navbar-background-color;
}

.navbar-nav li {
  position: static;

  > a {
    border-top: $base/2 solid transparent;
    border-bottom: $base/2 solid transparent;
    padding-top: $navbar-height/4;
    padding-bottom: $navbar-height/4;
  }

  &.active {
    > a {
      border-bottom-color: $navbar-active-link-border-color;
      background: transparent !important;    
    }

    .subnav {
      max-height: $base*4;
    }
  }
}

.navbar-right .nav-link {
  text-transform: uppercase;
}

.navbar-default .navbar-nav li {
  > a,
  > a:focus {
    color: $navbar-link-color;
  }

  &:hover {
    > a {
      color: $navbar-link-color-hover;
    }
  }

  &.active {
    > a {
      color: $navbar-link-color-active;
    }
  }
}



.navbar-secondary {
  background: none;
  
  .navbar-nav {
    border-bottom: 1px solid $navbar-border-color;
    width: 100%;

    li {
      margin-left: $base;
      margin-right: $base;

      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .navbar-collapse {

    @media (min-width: $width-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar-default .navbar-nav.subnav {
  margin: 0;
  position: relative;
  background: $navbar-secondary-background-color;
  max-height: 0;
  transition: max-height .1s ease-in-out;
  overflow: hidden;
  padding-left: $base*3;

  & > li {
    > a,
    > a:focus {
      color: $navbar-secondary-link-color;
      padding-top: $base/2;
      padding-bottom: $base/2;
    }

    &:hover {
      > a {
        color: $navbar-secondary-link-color-hover;
      }
    }

    &.active {
      border-bottom-color: $navbar-secondary-active-link-border-color;

      > a {
        color: $navbar-secondary-link-color-active;
      }
    }
  }

  @media(min-width: $width-md) {
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
  }

}
