.notification {
  background: $notificationbar-bg;
  color: $notificationbar-text-color;
  padding: $base*0.5 $base;
  font-size: $font-size-base;
  position: relative;
  z-index: $zindex-fixed;
  width: 100%;
  min-height: $notificationbar-height;
  box-sizing: border-box;

  @media (min-width: $width-md) {
    padding: $base*0.5 $base*3;
  }
}

.notification-content {
  margin: 0;

  .fa {
    font-size: 16px;
    margin-right: $margin-small-horizontal;
  }
}
