.notification {
  background: $notificationbar-bg;
  color: $notificationbar-text-color;
  padding: $base/2 $base;
  font-size: $font-size-base;
  position: fixed;
  z-index: $zindex-navbar-fixed;
  width: 100%;
  top: 0;
  height: $notificationbar-height;
  box-sizing: border-box;

  @media (min-width: $width-md) {
    padding: $base/2 $base*3;
  }
}

.notification__text {
  margin: 0;

  .fa {
    font-size: 16px;
    margin-right: $margin-small-horizontal;
  }
}
