.notification {
  background: #E89D21;
  color: #fff;
  padding: $base $base;
  font-size: $font-size-base;

  &.info {
      background: $brand-info;
      .material-icons {
          display: none;
      }
  }
  &.danger {
      background: $brand-danger;
  }
  &.neutral {
      background: $brand-success;
      .material-icons {
          display: none;
      }
  }

  @media (min-width: $width-md) {
    padding: $base $base*4.5;
  }
}

.notification__text {
  margin: 0;
}
