.popper {
  position: absolute;
    top: -$base*11;
    right: $base*1.5;
  width: auto;
  max-width: $base*28;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  z-index: 1;

  &.open {
    max-height: $base*10;
    overflow: visible;
  }
}

.popper__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.popper__item {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

a.popper__link,
a.popper__link:active,
a.popper__link:focus {
  width: 100%;
  display: block;
  text-align: left;
  padding: $base*1.5;
  text-decoration: none;
  background: $brand-white;
  color: $brand-primary;

  &:hover {
    background: $brand-gray;
  }
}

.popper:after, .popper:before {
  top: 104%;
  left: 70%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popper:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: $brand-white;
  border-width: $base*0.5;
  margin-left: $base*5;
}
.popper:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: $brand-white;
  border-width: 8px;
  margin-left: $base*5;
}