{% ckan_extends %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(h.get_translated(pkg ,'notes'), extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_primary_nav_headings %}
  {% block page_heading %}
    {% if pkg.state.startswith('draft') %}
      <h1 class="page-heading">
        [{{ _('Draft') }}]
      </h1>
    {% endif %}
    {% if pkg.state == 'deleted' %}
      <h1 class="page-heading">
        [{{ _('Deleted') }}]
      </h1>
    {% endif %}
  {% endblock %}

  {% block page_subheading %}
    <div class="page-subheading">
      <span class="dataset-created">{{ h.render_datetime(h.get_created_or_updated(pkg), '%-d.%-m.%Y') }}</span>
      <span> - </span>
      <a class="dataset-organization" href="{{h.url_for(controller='organization', action='read', id=pkg.organization.name)}}">
        {{pkg.organization.title}}
      </a>
    </div>
  {% endblock %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset.read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('sixodp_showcase.dataset_showcase_list', _('Showcases'), id=pkg.name) }}
  {{ h.build_nav_icon('activity.package_activity', _('Activity Stream'), id=pkg.name) }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {{ h.build_nav_icon('dataset.groups', _('Groups'), id=pkg.name) }}
  {% endif %}
{% endblock %}

{% block offcanvas_button %}{% endblock %}

{% block offcanvas_navigation %}
  <aside class="secondary border-right col-sm-3 hidden-xs">

    {% block secondary_content %}

      {% block package_license %}
        <div class="license-container">
          {% snippet "snippets/license.html", pkg_dict=pkg %}
        </div>
      {% endblock %}

      {% block package_openness %}
      {% endblock %}

      {% block secondary_help_content %}{% endblock %}
      {% block heading %}{% endblock %}
      {% block package_organization %}{% endblock %}

      {% block package_info %}
        {% snippet 'package/snippets/info.html', pkg=pkg %}
      {% endblock %}

      {% block stats %}
      {% endblock %}

      {% block package_social %}
        {% snippet "snippets/social.html" %}
      {% endblock %}
    {% endblock %}

  </aside>
{% endblock %}