{% ckan_extends %}

{% block pre_primary %}
  <div class="page-hero"></div>
  {% block toolbar %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block primary_content %}

  {% block resource %}
    <section class="module module-resource">
      {% block resource_inner %}
        <div class="module-content main-content">
          {% if h.check_access('package_update', {'id':pkg.id }) %}
          <div class="actions">
            {% link_for _('Manage'), named_route='dataset_resource.edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}
          </div>
          {% endif %}

          <div class="heading-container">
            {% block resource_read_title %}{% endblock %}
            {% block page_subheading %}
              {% set resource_date = h.get_created_or_updated(res) %}
              {% if resource_date %}
                <div class="page-subheading">{{ h.render_datetime(resource_date, '%-d.%-m.%Y') }}</div>
              {% endif %}
            {% endblock %}
          </div>

          {% block resource_action_inner %}
            <div class="resource-url-action">
              {% if 'datastore' in g.plugins %}
                {% set datastore_root_url = h.url_for('/', locale='default', qualified=true) + 'api/action' %}
                {% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=datastore_root_url %}
              {% endif %}
              {% if res.url and h.is_url(res.url) %}
                <a class="btn btn-lg btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                  {% if res.resource_type in ('listing', 'service') %}
                  <i class="icon-eye-open"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                  <i class="icon-key"></i> {{ _('API Endpoint') }}
                  {% else %}
                  <i class="icon-download icon-large"></i> {{ _('Download') }}
                  {% endif %}
                </a>
              {% endif %}
            </div>
          {% endblock %}

          {% block data_preview %}
            {% block resource_view %}
              {% block resource_view_nav %}
                {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                {% snippet "package/snippets/resource_views_list.html",
                  views=resource_views,
                  pkg=pkg,
                  is_edit=false,
                  view_id=current_resource_view['id'],
                  resource_preview=resource_preview,
                  resource=c.resource,
                  extra_class="nav-tabs-plain"
                %}
              {% endblock %}
              <div class="module-content">
                {% block resource_view_content %}
                <div class="resource-view">
                  {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                  {% set views_created = res.has_views or resource_preview %}
                  {% if views_created %}
                    {% if resource_preview and not current_resource_view %}
                      {{ h.resource_preview(c.resource, c.package) }}
                    {% else %}
                      {% for resource_view in resource_views %}
                        {% if resource_view == current_resource_view %}
                        {% snippet 'package/snippets/resource_view.html',
                        resource_view=resource_view,
                        resource=c.resource,
                        package=c.package
                        %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% else %}
                    {# Views not created #}
                    <div class="module-content data-viewer-info">
                      {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                        <p>{{ _("There are no views created for this resource yet.") }}</p>
                        <p class="muted">
                          <i class="fa fa-info-circle"></i>
                          {{ _("Not seeing the views you were expecting?")}}
                          <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                            {{ _('Click here for more information.') }}
                          </a>
                        </p>
                        <div id="data-view-info" class="collapse">
                          <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                          <ul>
                            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                            <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                          </ul>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                {% endblock %}
              </div>
            {% endblock %}
          {% endblock %}

          <hr>

          {% block resource_content %}
            <div class="prose notes show-more-content hide-content embedded-content" property="rdfs:label">
              <div class="text-content">
                {% if res.description %}
                  {{ h.render_markdown(h.get_translated(res, 'description')) }}
                {% endif %}
                {% if not res.description and c.package.notes %}
                  <h2 class="resource-data-description">{{ _('From the dataset abstract') }}</h2>
                  <p>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</p>
                  <p>{% trans dataset=c.package.title, url=h.url_for('dataset.read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
                {% endif %}
              </div>
              <div class="fadeout"></div>
            </div>
            <div class="show-more">
              <a class="show-more-link">{{ _('Show more') }}</a>
              <a class="show-less-link">{{ _('Show less') }}</a>
            </div>
          {% endblock %}
        </div>
      {% endblock %}
    </section>
  {% endblock %}

  {% block resource_additional_information %}
    <section class="module additional-info">
      {% block resource_additional_information_inner %}
        {{ super() }}
      {% endblock %}
    </section>
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  {% block back_link %}
    <div class="module module-narrow module-shallow context-info">
      <a class="btn btn-block btn-transparent--inverse" href="{{ h.url_for('dataset.read', id=pkg.name) }}">
        <span class="icon icon-long-arrow-left"></span>
        {{ _('Back to dataset') }}
      </a>
    </div>
  {% endblock %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  {% block package_license %}
    <div class="license-container">
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    </div>
  {% endblock %}

  {% block package_openness %}
  {% endblock %}

  {% block secondary_help_content %}{% endblock %}
  {% block heading %}{% endblock %}
  {% block package_organization %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

  {% block stats %}
  {% endblock %}

  {% block package_subscribe %}
    <div class="module module-narrow module-shallow context-info">
      <h2 class="module-heading">{{ _('Subscribe for dataset updates') }}</h2>
      <section class="module-content">
        {% snippet "reminder/snippets/subscription_form.html", package=pkg %}
      </section>
    </div>
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

{% endblock %}
