.stages {
  li {
    background-color: $stages-background-color;
    
    &.active {
      &:before {
        color: $stages-background-color-active !important;
      }
      &:after {
        border-top-color: $stages-background-color-active;
        border-bottom-color: $stages-background-color-active;
      }
      .highlight {
        background-color: $stages-background-color-active;
      }
    }
    &.complete {
      .highlight {
        background-color: $stages-background-color;
        color: $stages-text-color;
      }

      &:before {
        background: $stages-background-color-filled;
        color: $stages-text-color-filled;
      }

      &:after {
        border-top-color: $stages-background-color;
        border-bottom-color: $stages-background-color;
      }
    }
  } 
}