{% extends "package/snippets/additional_info.html" %}

{% macro license_string(pkg_dict) %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
{% endmacro %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

{% block package_additional_info %}
  {% if h.get_package_groups_by_type(pkg_dict.id, 'group') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Groups") }}</th>
      <td class="dataset-details">
        <section class="tags">
          <ul class="tag-list">
            {% for group in h.get_package_groups_by_type(pkg_dict.id, 'group') %}
            <li><a class="tag" href="{{h.url_for(controller='group', action='read', id=group.name)}}">{{ group.display_name }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </td>
    </tr>
  {% endif %}

  {% if h.get_package_groups_by_type(pkg_dict.id, 'collection') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Collections") }}</th>
      <td class="dataset-details">
        <section class="tags">
          <ul class="tag-list">
            {% for collection in h.get_package_groups_by_type(pkg_dict.id, 'collection') %}
            <li><a class="tag" href="{{h.url_for(controller='ckanext.collection.controller:CollectionController', action='read', id=collection.name)}}">{{ collection.display_name }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </td>
    </tr>
  {% endif %}

  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none 
        and pkg_dict[field.field_name] -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}

  <tr>
    <th>{{ _('Openness') }}</th>
    <td class="dataset-details">{{ h.get_qa_openness(pkg_dict) }}</td>
  </tr>

  <tr>
    <th>{{ _('License') }}</th>
    <td class="dataset-details">{{ license_string(pkg_dict) }}</td>
  </tr>

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.maintainer and pkg_dict.organization and pkg_dict.license_title %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("How to reference") }}</th>
      <td class="dataset-details">
        {{ _('{title}: The dataset\'s maintainer is {maintainer} and the original author is {author}.
        The dataset has been downloaded from the {site_title} service {date} using the license {license}.')
        .format(title=h.ensure_translated(pkg_dict.title_translated), maintainer=pkg_dict.maintainer,
        author=pkg_dict.organization.title, site_title=g.site_title,
        date=h.get_current_date(), license=pkg_dict.license_title) }}
      </td>
    </tr>
  {% endif %}
{% endblock %}
