---

- name: Clear cache directory
  file: path={{ cache_path }} state=absent
  when: clear_all_cache
  tags:
  - clear-cache

- include: timezone.yml
- include: hostname.yml
- include: hosts.yml

- name: Copy apt sources.list
  template: src=sources.list.j2 dest=/etc/apt/sources.list mode="0644" owner=root group=root
  when: deployment_environment_id == "vagrant"

- name: Remove ansible apt repository in build environment
  apt_repository:
    repo: ppa:ansible/ansible
    state: absent
  when: deployment_environment_id == "build"

- name: Upgrade packages
  apt: upgrade=dist update_cache=yes

- name: Ensure common packages
  apt:
    pkg:
      - htop
      - unattended-upgrades

      #- python-psycopg2
      - postgresql-server-dev-12
      - libpq5
      - git-core
      - zip
      - unzip
      - gettext
      - build-essential
      - libz-dev
      - libssl-dev
      - supervisor
      - libxml2-dev
      - libxslt1-dev
      - curl
      - acl
      - libgeos-c1v5
      - s-nail
    state: latest

- name: Ensure python3 packages
  apt:
    pkg:
      - python3
      - python3-pip
      - python3-dev
      - python3-virtualenv
      - python3-psycopg2
      - virtualenv
    state: latest

- name: Ensure python2 packages are removed
  apt:
    pkg:
      - python-pip
      - python-dev
      - python-virtualenv
      - python-psycopg2
    state: absent


# Note: psycopg2 requires postgresql-server-dev

- name: Enable automatic installation of security upgrades
  template: src=apt-auto-upgrades dest=/etc/apt/apt.conf.d/20auto-upgrades mode="0644" owner=root group=root

# TODO: Move path creation where paths are used even those are duplicate
- name: Create common paths
  file: path={{ item }} state=directory
  with_items:
    - "{{ server_path }}"
    - "{{ cache_path }}"

- name: Install virtualenv
  pip:
    name: virtualenv

- name: Copy environment update script
  template:
    src: sixodp-update.j2
    dest: /usr/local/bin/sixodp-update
    mode: 0755

- name: Create cron job for update script
  cron:
    name: sixodp-update
    hour: 1
    minute: 30
    job: "/usr/local/bin/sixodp-update 2>&1 | mail -s 'sixodp-update results' {{ automatic_updates_recipient }}"
    state: "{{ 'present' if automatic_updates else 'absent' }}"

- include: pip.yml

- name: Install guest additions in vagrant
  apt:
    name: virtualbox-guest-utils
    state: present
  when: deployment_environment_id == "vagrant"
