{#
Renders a set of stars

stars  - The number of stars to be displayed.

    {% snippet "rating/snippets/stars_inactive.html", package=pkg %}

#}

{% set ratings_count = h.package_rating(None, {'package_id' : package.id} ).ratings_count%}
{% set stars = h.package_rating(None, {'package_id' : package.id} ).rating %}

{% block main_star_rating %}
  <span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
    {%- for index in range(stars|int) -%}
      <span class="fa fa-star rating-star rating-star-filled"></span>
    {%- endfor -%}
    {%- for index in range(stars|int, 5) -%}
      <span class="fa fa-star rating-star rating-star-empty"></span>
    {%- endfor -%}
  </span>
{% endblock %}