{% ckan_extends %}

{% block links -%}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/4f2a9d3d3d.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
{% endblock -%}

{% block meta -%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock -%}

{% block scripts -%}
  {{ super() }}
  <script type="text/javascript">
    var cpm = {};
    (function(h,u,b){
      var d=h.getElementsByTagName("script")[0],e=h.createElement("script");
      e.async=true;e.src='https://cookiehub.net/c2/{{ cookiehub_domain_code }}.js';
      e.onload=function(){u.cookiehub.load(b);}
      d.parentNode.insertBefore(e,d);
    })(document,window,cpm);
  </script>
{% endblock -%}

{% block head_extras %}
  {{ super() }}
{% endblock %}

{% block styles %}{% endblock %}