{% ckan_extends %}

{% block links -%}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/4f2a9d3d3d.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
{% endblock -%}

{% block meta -%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock -%}

{% block scripts -%}
  {{ super() }}
{% endblock -%}

{% block styles %}{% endblock %}