{% ckan_extends %}

{% block footer_content %}

  <footer id="colophon" class="site-footer bgcolor-primary" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="footer-logo-wrapper">
            <img class="footer-logo" src="/assets/images/main_logo_w.png" alt="Site logo">
          </div>
        </div>
        <div class="col-md-4">
          <!-- Placeholder for additional city logos -->
        </div>
        <div class="col-md-6 pull-right">
          {% set social_links = h.get_social_links() %}
          {% if social_links %}
            <div class="row">
              <div class="col-xs-12 text-right">
                <div class="footer-follow-links">
                  <span class="footer-follow-title">Seuraa meitä</span>
                  {% for item in social_links %}
                    {% set icon_class = h.get_social_link_icon_class(item) %}
                    <a href="{{item.url}}" title="{{item.title}}" class="footer-follow-link"><i class="{{icon_class}} icon-2x"></i></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-md-12 footer-section footer-section--links">
          <ul class="footer-links">
            {% for item in h.get_footer_navigation_items() %}
              <li class="footer__item"><a href="{{item.url}}" class="footer__link" title="{{item.title}}">{{item.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr />
      <div class="copyrights">
        © 6Aika
      </div>
    </div>
  </footer>

{% endblock %}
