{% block header_wrapper %}
  {% block header_account %}
    <nav class="navbar navbar-fixed">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ h.url('home') }}" class="navbar-brand">
            <img src="/base/images/6aika_logo.png" alt="6Aika logo" width="80" />
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% block header_site_navigation_tabs %}
              <li class="nav-item">
                <a class="nav-link" href="{{ h.url_for(controller='package', action='search') }}">
                  {{ _('Datasets') }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ h.url_for(controller='organization', action='index') }}">
                  {{ _('Organizations') }}
                </a>
              </li>
            {% endblock %}
            {{ h.build_nav_main() }}

            <li class="nav-item">
              <a class="nav-link" href="{{ h.url_for(controller='ckanext.contact.controllers.contact:ContactController', action='form') }}">
                {{ _('Feedback') }}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% snippet 'home/snippets/sixodp_language-changer.html' %}
            </li>
            {% snippet 'home/snippets/sixodp_profile.html' %}
          </ul>
        </div>
      </div>
      {% block header_debug %}
        {% if g.debug and not g.debug_supress_header %}
          <div class="debug">Controller : {{ c.controller }}<br>Action : {{ c.action }}</div>
        {% endif %}
      {% endblock %}
    </nav>
  {% endblock %}

{% endblock %}
