{% block header_wrapper %}
  {% block header_account %}
    <div class="nav-wrapper">
      {% for notification in h.get_notifications() %}
        <div class="notification">
            <p class="notification-content">
              <i class="fa fa-exclamation-circle"></i>{{ notification.title }}
            </p>
        </div>
      {% endfor %}
      <nav class="navbar navbar-default" id="main-navbar">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="top-nav-collapse">
            {% snippet 'snippets/navigation_tabs.html' %}
          </div>
        </div>
        {% block header_debug %}
          {% if g.debug and not g.debug_supress_header %}
            <div class="debug">Controller : {{ c.controller }}<br>Action : {{ c.action }}</div>
          {% endif %}
        {% endblock %}
      </nav>
    </div>
  {% endblock %}
  <div class="logos">
    <a href="{{ h.url('home') }}" class="logo--brand">
      <img src="/assets/images/main_logo.png" alt="Site logo" />
    </a>
    <div class="logos--eu">
      <div class="logo logo--erdf">
        <img src="/assets/images/EU_ERDF_FI.png" alt="European Regional Development Fund logo">
      </div>
      <div class="logo logo--eu">
        <img src="/assets/images/LeverageEU_FI.png" alt="Leverage with EU logo">
      </div>
    </div>
  </div>
{% endblock %}
