{% set truncate = truncate or 180 %}
{% set lang = h.get_current_lang() %}

<div class="horizontal-accordion-wrapper collapse in" id="horizontal-accordion">
  <div class="horizontal-accordion-container">
    <ul class="horizontal-accordion horizontal-accordion-static">
      {% for item in items %}
        <li class="horizontal-accordion-tab" style="background-image: url({{item[image_identifier]}});">
          <a class="tab-overlay" href="{{ h.url_for(controller=controller, action='read', id=item.name) }}">
            <div class="tab-content">
              <h1>{{ h.get_translated(item, 'title') }}</h1>
              {% set meta_fields = item[meta_identifier].get(lang) %}
              {% if meta_fields %}
                <h2 class="tab-meta">
                  {% for meta_item in meta_fields %}
                    <span>{{meta_item}}{% if not loop.last %}, {% endif %}</span>
                  {% endfor %}
                </h2>
              {% endif %}
              <p>{{ h.get_translated(item, 'notes') | truncate }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="horizontal-accordion-collapse">
  <button id="horizontal-accordion-collapse-btn" class="btn btn-primary" data-toggle="collapse" data-target="#horizontal-accordion">
    <span id="close-text">{{ _('Close preview') }}</span>
    <span id="show-text">{{ _('Show preview') }}</span>
  </button>
</div>