{% block header_site_navigation_tabs %}
<ul class="nav navbar-nav">
    {% for item in h.get_main_navigation_items() %}
    <li>
        <a class="nav-link" href="{{item.path}}">
            {{ _(item.title) }}
        </a>
    </li>
    {% endfor %}

    {{ h.build_nav_main() }}
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if c.userobj %}
        {% snippet 'home/snippets/sixodp_profile.html' %}
    {% endif %}
    {% snippet 'home/snippets/sixodp_language-changer.html' %}
</ul>
{% endblock %}