{% block header_site_navigation_tabs %}
  <ul class="nav navbar-nav">
    {{ h.build_nav_main() }}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    {% snippet 'home/snippets/sixodp_navbar_search.html' %}
    {% if c.userobj %}
      {% snippet 'home/snippets/sixodp_profile.html' %}
    {% endif %}
    {% snippet 'home/snippets/sixodp_language-changer.html' %}
  </ul>
  <div class="navbar-footer">
    <button type="button"
            class="navbar-toggle-footer collapsed"
            data-toggle="collapse"
            data-target="#top-nav-collapse"
            aria-expanded="false">
      <span class="fa fa-chevron-up"></span>
    </button>
  </div>
{% endblock %}