{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title_translated or package.name %}
{% set notes = h.markdown_extract(h.get_translated(package, 'notes'), extract_length=truncate) %}

{% block package_item %}
<li class="dataset-item">
    <div class="row">
      {% block content %}
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 dataset-content">
          {% block metadata %}
          {#
          <div class="dataset-metadata">
              <div class="dataset-meta-left">
                <span class="dataset-created">{{ h.render_datetime(package.date_released, '%-d.%-m.%Y') }}</span>
                {% if package.groups %}
                  <span> - </span>
                  {% for group in package.groups %}
                    {% set group_dict = h.get_single_group(group, all_groups) %}
                    {% if group_dict %}
                      <a class="dataset-category-link" href="{{h.url_for(controller='group', action='read', id=group_dict.name)}}">
                        {{ h.get_translated(group_dict, 'title') or group_dict.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>

              {% if show_rating %}
                <div class="dataset-meta-right">
                  {% block rating %}
                    {% snippet "rating/snippets/rating_single_flat.html", package=package %}
                  {% endblock %}
                </div>
              {% endif %}
            </div>
          #}
          {% endblock %}

          {% block heading %}
          <a class="dataset-heading" href="{{ h.url_for(controller='package', action='read', id=package.name) }}">
            <h3>
              {% block heading_private %}
                {% if package.private %}
                  <span class="dataset-private label label-inverse">
                    <i class="icon-lock"></i>
                    {{ _('Private') }}
                  </span>
                {% endif %}
              {% endblock %}
              <span>{{ title[h.get_lang_prefix()] or title['fi'] or title }}</span>
              {% block heading_meta %}
                {% if package.get('state', '').startswith('draft') %}
                  <span class="label label-info">{{ _('Draft') }}</span>
                {% elif package.get('state', '').startswith('deleted') %}
                  <span class="label label-important">{{ _('Deleted') }}</span>
                {% endif %}
                {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
              {% endblock %}
            </h3>
          </a>
          {% endblock %}

          {% block banner %}
            {% if banner %}
              <span class="banner">{{ _('Popular') }}</span>
            {% endif %}
          {% endblock %}
          {% block notes %}
            {% if notes %}
              <div>{{ notes|urlize }}</div>
            {% else %}
              <p class="empty">{{ _("This dataset has no description") }}</p>
            {% endif %}
          {% endblock %}

          {% block resources %}
            {% if package.resources and not hide_resources %}
              {% block resources_outer %}
              <ul class="dataset-resources unstyled">
                {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}">
                  <li class="label" data-format="{{ resource.lower() }}">
                      {{ resource }}
                  </li>
                </a>
                {% endfor %}
                {% endblock %}
              </ul>
              {% endblock %}
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </li>
{% endblock %}
