{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = item.title or item.name %}
{% set notes = h.markdown_extract(h.get_translated(item, 'notes'), extract_length=truncate) %}

<div class="card--image">
  <a href="{{ h.url_for(controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='read', id=item.name) }}"
     title="{{ _('View {showcase_title}').format(showcase_title=title) }}" class="card-link">
  <img src="{{ image_url }}" alt="">
  <div class="card-content">
    <h4 class="card-title">{{ h.get_translated(item, 'title') }}</h4>
    <div class="card-title-secondary">
      {% block rating %}
      {# Ratings are disbaled for now
        {% snippet "rating/snippets/stars_inactive.html", package=item %}
      #}
      {% endblock %}
    </div>
    {% block notes %}
    {% endblock %}
    {% block link %}
    {% endblock %}
  </div>
</a>
</div>
