{% import 'macros/form.html' as form %}

{% macro input_multiple(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
    {% asset 'sixodp/sixodp_js' %}
    {% do classes.append('control-medium') %}
    {%- set extra_html = caller() if caller -%}
    {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="multiple-values">
        <span style="display: none;" id="add-label">{{ _('Add') }}</span>
        <span style="display: none;" id="remove-label">{{ _('Remove') }}</span>
        {% if value %}
        {% set values = value if value.append else [value] %}
        {% for value_item in values %}
        {% if value_item %}
        <div class="multiple-value-group">
            <input id="{{ id or name }}-{{ loop.index }}" type="{{ type }}" name="{{ name }}" value="{{ value_item | empty_and_escape }}" placeholder="{{ placeholder }}" aria-label="{{ label }}" class="multiple-value form-control" {{ form.attributes(attrs) }} />
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="multiple-value-group">
            <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="" placeholder="{{ placeholder }}" aria-label="{{ label }}" class="multiple-value form-control" {{ form.attributes(attrs) }} />
        </div>
    </div>
    {% endcall %}
{% endmacro %}


{% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}, is_required=false, rows=5) %}
    {% set classes = (classes|list) %}
    {% do classes.append('control-full') %}
    {% set markdown_tooltip = "<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" %}

    {%- set extra_html = caller() if caller -%}
    {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
        <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="{{ rows }}" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
        <span class="editor-info-block">{% trans %}You can use <a href="#markdown" title="Markdown quick reference" data-target="popover" data-content="{{ markdown_tooltip }}" data-html="true">Markdown formatting</a> here{% endtrans %}</span>
    {% endcall %}
{% endmacro %}