@import url(materialize.css);
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px; }

nav {
  display: flex;
  width: 100%; }

.nav {
  display: flex;
  padding: 0;
  height: 60px; }

.nav li {
  list-style: none;
  line-height: 60px;
  width: 100%; }
  .nav li a {
    color: #333 !important;
    display: block;
    font-size: 16px;
    padding: 0 20px;
    text-decoration: none; }
  @media (min-width: 780px) {
    .nav li {
      flex: 0; } }

.nav--centered {
  flex: 1;
  justify-content: center; }

.nav--right {
  margin-left: auto; }
