[groups]

sixodp =
    javascript/bootstrap.offcanvas.js
    javascript/util.js
    javascript/modules/sticky-header.js
    javascript/modules/bootstrap-datepicker.js
    javascript/locales/bootstrap-datepicker.en-GB.js
    javascript/locales/bootstrap-datepicker.fi.js
    javascript/locales/bootstrap-datepicker.sv.js
    javascript/app.js

    font-awesome/css/font-awesome.css
    css/bootstrap-datepicker.css
    css/sixodp_theme.css
