#!/bin/sh

set -o errexit
set -o nounset

PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin;/snap/bin/aws

cd /root/sixodp
GIT_COMMIT_OLD="$(git rev-parse HEAD)"
git pull
GIT_COMMIT_NEW="$(git rev-parse HEAD)"

if [ "$GIT_COMMIT_NEW" != "$GIT_COMMIT_OLD" ] ; then
	git submodule sync
	git submodule update --init --recursive

	aws s3 cp s3://sixodp-secrets/{{ deployment_environment_id }}/secrets.yml /root/sixodp-secrets/{{ deployment_environment_id }}/secrets.yml
	chmod -R go-rwx /root/sixodp-secrets/*

	cd /root/sixodp/ansible
	ansible-playbook -i inventories/{{ deployment_environment_id }} deploy-servers.yml --limit {{ inventory_hostname }}
fi
