.activity {
  list-style: none;
  padding: 0;
  background: transparent url("/assets/images/dotted.png") 11px repeat-y;

  .item {
    position: relative;
    margin: 0 0 $margin-large-vertical*2 0;
    display: list-item;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }

    i {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: $brand-white;
      background-color: $brand-primary;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }

    p {
      display: inline-block;
      margin: 0 0 0 30px;

      span {
        &.date {
          width: 100%;
          display: block;
          color: $text-muted;
          font-size: $font-size-small;
        }
      }
    }
  }
}