.actions {
  top: 0 !important;
  right: 0 !important;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: $base;

  ul {
    list-style: none;
    padding: 0;
    display: block;

    li {
      display: inline-block;
    }
  }
}

.page_primary_action {
  margin: $margin-large-vertical 0;
}