.additional-info {
  table {
    td {
      ol,
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .api-link {
    margin-bottom: $margin-large-vertical;
    a.btn{
      font-weight: 400;
    }
  }
}