#content {
  .primary {
    padding: 0 $padding-large-horizontal;
    margin-bottom: $margin-large-vertical;

    .module {
      margin: 0;

      .module-content {
        &.main-content {
          padding-top: 0;
          margin-bottom: $margin-large-vertical;

          .page-heading {
            margin-top: 0;
          }

          > section {
            padding: $margin-large-vertical 0;
          }
        }
      }
    }
  }

  .pre-primary {
    padding: 0;

    .page-heading-container {
      padding: 0 10px;

      @media(min-width: $width-md) {
        padding: 0;
      }
    }
  }

  .secondary {
    padding: 0;
    margin-bottom: $margin-large-vertical;
    border: 1px solid $brand-secondary-background;
    border-radius: $border-radius-base;
    background: $brand-secondary-background;

    .main-heading {
      @include heading;
      padding: 0 $padding-large-horizontal;
      margin: $margin-large-vertical 0;
      font-size: $font-size-xlarge;
    }

    .module {
      padding: $padding-large-vertical $padding-large-horizontal;

      .module-heading {
        @include heading;
        padding: 0;
        margin: 0;

        i {
          display: none;
        }
      }

      .module-content {
        .heading {
          @include heading;
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: auto;
        }

        a {
          img {
            width: auto;
          }
        }

        .nums {
          color: $brand-primary;
        }
      }

      > .module {
        padding: 0;
      }
    }

    .filters {
      padding: 0;

      .module {
        padding: $padding-large-vertical 0;

        .module-heading,
        .module-content.empty {
          padding: $padding-small-vertical 0;
          margin: 0 $margin-large-horizontal;
        }

        .module-heading {
          font-size: $font-size;
          color: $brand-primary;
          font-weight: bold;
          font-family: $font;
        }
      }
    }
  }

  #followee-filter {
    margin: $margin-small-vertical 0;
  }

  .social {
    .nav {
      .nav-item {
        display: inline-block;

        &:hover,
        &:focus {
          background: none;

          a {
            background: none;
            color: $button-background-color-active;
          }
        }

        a {
          padding: $padding-small-horizontal;
        }
      }
    }
  }

  .page-highlight {
    margin-bottom: $margin-large-vertical*4;
  }
}
