#content {
  .primary {
    padding: $padding-large-vertical $padding-large-horizontal;
    margin-bottom: $margin-large-vertical;

    .module {
      margin: $margin-large-vertical 0;

      .module-content {
        &.main-content {
          p {
            margin: $margin-large-vertical*2 0;
          }
        }

        .page_primary_action {
          margin: $margin-small-vertical 0;
        }
      }
    }
  }

  .secondary {
    padding: $padding-large-vertical 0;
    margin-bottom: $margin-large-vertical;

    .main-heading {
      padding: 0 $padding-large-horizontal;
      font-size: $font-size-xlarge;
      font-weight: $headings-font-weight;
      font-family: $font;
    }

    .module {
      padding: $padding-large-vertical $padding-large-horizontal;

      .module-heading {
        font-size: $font-size-large;
        color: $text-color;
        font-weight: $headings-font-weight;
        font-family: $font;
      }

      .module-content {
        .heading {
          font-size: $font-size-large;
          color: $text-color;
          font-weight: $headings-font-weight;
          font-family: $font;
        }
      }
    }

    .filters {
      padding: $padding-large-vertical 0;

      .module {
        padding: $padding-large-vertical 0;

        .module-heading,
        .module-content.empty {
          padding: 0;
          margin: 0 $margin-large-horizontal;
        }

        .module-heading {
          font-size: $font-size-large;
          color: $text-color;
          font-weight: $headings-font-weight;
          font-family: $font;
        }
      }
    }
  }
}