#content {
  .primary {
    padding: 0 $padding-large-horizontal;
    margin-bottom: $margin-large-vertical;

    .module {
      margin: 0;

      .module-content {
        &.main-content {
          padding-top: $padding-large-vertical;
          margin-bottom: $margin-large-vertical;

          .page-heading {
            margin-top: 0;
          }

          > section {
            padding: $margin-large-vertical 0;
          }
        }
      }
    }
  }

  .pre-primary {
    padding: 0;
  }

  .secondary {
    background: $brand-secondary-background;
    margin-bottom: $margin-large-vertical;

    @media(min-width: $grid-float-breakpoint) {
      padding: 0;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: $navbar-offcanvas-border-color;
      border-radius: 0;
    }

    .main-heading {
      @include heading;
      padding: 0 $padding-large-horizontal;
      margin: $margin-large-vertical 0;
      font-size: $font-size-xlarge;
    }

    .module {
      padding: $padding-large-vertical $padding-large-horizontal;

      .module-heading {
        @include heading-sidebar;
        color: $navbar-offcanvas-heading-color;
        padding: 0;
        margin: 0;

        i {
          display: none;
        }
      }

      .module-content {
        .heading {
          @include heading-sidebar;
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: auto;
        }

        a {
          img {
            width: auto;
            max-width: 100%;
          }
        }

        .nums {
          color: $navbar-offcanvas-heading-color;
        }
      }

      > .module {
        padding: 0;
      }
    }

    .filters {
      @include heading-sidebar;
      padding: 0;

      .module {
        padding: $padding-large-vertical 0;

        .module-heading,
        .module-footer,
        .module-content.empty {
          padding: $padding-small-vertical 0;
          margin: 0 $margin-large-horizontal;
        }

        .module-heading {
          color: $navbar-offcanvas-heading-color;
        }
      }
    }
  }

  #followee-filter {
    margin: $margin-small-vertical 0;
  }

  .social {
    .nav {
      .nav-item {
        display: inline-block;

        &:hover,
        &:focus {
          background: none;

          a {
            background: none;
            color: $brand-primary-light;
          }
        }

        a {
          padding: $padding-small-horizontal;
        }
      }
    }
  }
}

.main-content {
  margin-bottom: $padding-large-vertical;
}