.dataset-list {
  list-style: none;
  padding: 0;

  .dataset-item {
    padding: 0;
    background: $gray-lighter;
    margin-bottom: $margin-large-vertical;

    > a {
      color: $text-color;
    }

    .dataset-content {
      font-size: $font-size-base;
      padding: $padding-large-vertical 0;

      .dataset-heading {
        margin: 0;
        font-size: $font-size-large;
      }
    }

    .dataset-resources {
      padding: 0 0 $padding-large-vertical 0;

      @media(min-width: $width-md) {
        padding: $padding-large-vertical 0;
      }
    }
  }
}