.dataset-list {
  list-style: none;
  padding: 0;

  .dataset-item {
    padding: 0;
    background: none;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $gray-lighter;

    &:last-of-type {
      border-bottom-width: 1px;
    }

    > a {
      color: $text-color;
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;

      .dataset-col {
        &-left,
        &-right {
          padding-top: $padding-large-vertical*2;
          padding-bottom: $padding-large-vertical*2;
        }

        &-right {
          text-align: center;
        }
      }
    }

    .dataset-content {
      font-size: $font-size-base;
      padding: 0;
      color: $brand-primary;
      border-style: solid;
      border-width: 0 1px 0 0;
      border-color: $gray-lighter;

      .dataset-heading {
        margin: 0;
        font-size: $font-size-large;
        font-weight: bold;
        font-family: $font-heading;
      }

      .dataset-metadata {
        font-size: $font-size-small;

        .dataset-created {
          color: $text-color;
        }
        .dataset-category-link {
          color: $label-text-color;
        }
      }
    }

    .dataset-resources {
      padding: $padding-large-vertical 0 0 0;

      .label {
        display: inline-block;
        background-color: $gray-lighter;
        padding: $padding-small-vertical $padding-small-horizontal;
      }
    }
  }
}