.ckanext-datapreview {
  margin-bottom: 80px;

  @media(min-width: $width-xs) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  .data-view-container {
    overflow-y: hidden;
    height: auto;
  }
}