.dataset-list {
  list-style: none;
  padding: 0;

  .dataset-item {
    padding: 0;
    background: $gray-lighter;
    margin-bottom: $margin-large-vertical;

    > a {
      color: $text-color;
    }
  }
}