.bootstrap-datetimepicker-widget.dropdown-menu {
  table {
    tr {
      th {
        color: $text-color;
      }

      td {
        color: $text-color;

        &.day {
          color: $text-color;
        }

        &.today {
          background-image: none;
          background-color: $brand-primary;
          color: $brand-white;

          &::before {
            border-bottom-color: $brand-white;
          }

          &:hover {
            background-image: none;
            background-color: $brand-secondary;
            color: $brand-white;
          }
        }

        &.active {
          background-image: none;
          background-color: $brand-secondary;
          color: $brand-white;

          &:hover {
            background-image: none;
            background-color: $brand-secondary;
            color: $brand-white;
          }
        }
      }
    }
  }
}