.navbar-offcanvas .nav-facet {
  li.nav-item {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;

    a,
    a:focus,
    a:active {
      padding: $padding-large-vertical $padding-large-horizontal;
      width: 100%;
      margin: 0;
      background: $filter-bg;
      color: $filter-color;
      display: block;
    }

    a:hover{
      background: $filter-bg-hover;
      color: $filter-hover;
    }

    .plusglyph {
      display: inline-block;
    }

    .minusglyph {
      display: none;
    }

    &.active {
      a {
        background: $filter-bg-active;
        color: $filter-color-active;
      }

      .plusglyph {
        display: none;
      }

      .minusglyph {
        display: inline-block;
      }
    }
  }
}