form {
  .control-group {
    margin: $margin-large-vertical 0;

    input {
      @extend .form-control;
    }
  }

  .form-group {
    display: inline-block;
    width: 100%;
    margin: $margin-large-vertical 0;
  }
}