form {
  .control-group {
    margin: $margin-large-vertical 0;

    input {
      @extend .form-control;
    }
  }

  .form-group {
    display: inline-block;
    width: 100%;
    margin: $margin-large-vertical 0;
  }

  .form-select {
    width: 100%;

    @media (min-width: $width-sm) {
      width: 33%;
    }
  }

  .form-actions {
    .action-info {
      margin: $margin-large-vertical*2 0;
    }
  }
}