.form-control {
  background-color: $input-background-color;
}

form {
  .form-group {
    position: relative;
    margin: $margin-large-vertical 0;

    label {
      color: $brand-primary;
    }

    input {
      @extend .form-control;
    }
  }

  .form-group-fluent {
    label {
      color: $brand-primary;

      &:not(.group-label) {
        display: inline;
        position: absolute;
        right: 25px;
        top: 0;
        z-index: 2;
      }
    }

    .control-group {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .field-assistive-text {
    margin-bottom: $margin-large-vertical;
    padding-bottom: $padding-large-vertical*2;
  }

  .form-select {
    width: 100%;

    @media (min-width: $width-sm) {
      width: 33%;
    }
  }

  .form-actions {
    .action-info {
      margin: $margin-large-vertical*2 0;
    }

    .btn {
      margin-right: $margin-large-horizontal*2;
    }

    .control-required-message {
      margin: $margin-large-vertical*2 0;
    }
  }
}

.multiple-values > div {
  overflow: hidden;
  margin-bottom: 15px;
}

.multiple-values > div input{
  float: left;
}
.multiple-values > div a{
  margin-top: 3px;
  margin-left: 3px;
  float: left;
}

.multiple-values > diva:hover, .multiple-values > div a:focus {
  text-decoration: none;
}


.ytp-multiple-values > div:last-child {
  margin-bottom: 0;
}