.page-heading {
  @include heading;
  font-size: $font-size-xlarge;
}

.page-subheading {
  @include heading;
  color: $headings-secondary-color;
  font-size: $font-size;
  margin-top: 0;

  a {
    color: $link-secondary-color;
  }
}

h3, h4, h5, h6, .module-heading {
  @include heading;
  font-size: $font-size-large;

  i {
    display: none;
  }
}

.page-heading-container {
  min-height: 96px;
  padding: $padding-large-vertical 10px;

  .heading-icon {
    display: inline-block;
    margin-right: $margin-large-vertical;
    float: left;

    img {
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 96px;
      height: 96px;
    }
  }

  .headings-wrapper {
    min-height: 96px;
    width: auto;
    display: inline-block;
    overflow: hidden;

    .heading-extra {
      color: $headings-extra-color;
      font-weight: normal;
      font-size: $font-size-large;
    }

    > * {
      margin: 0;
      display: block;
      width: 100%;
    }
  }

  .heading-rating-wrapper {
    margin: $margin-large-vertical*2 0;
    text-align: center;
    min-height: 96px;
    width: 100%;
    float: left;

    @media(min-width: $width-md) {
      margin: 0;
      float: right;
      height: 100%;
      width: auto;
      display: inline-block;
      overflow: hidden;
    }
  }
}

.secondary-heading-container {
  text-align: center;

  .secondary-heading {
    font-size: $font-size-base;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color;
    }
  }

  .heading-icon {
    display: inline-block;
    margin: auto;

    img {
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 96px;
      height: 96px;
    }
  }

  .headings-wrapper {
    width: auto;
    display: block;

    .heading {
      font-size: $font-size-large;
    }

    > * {
      margin: 0;
      display: block;
      width: 100%;
    }
  }
}

.main-content {
  h1 {
    @include heading;
    font-size: $font-size-xlarge;
  }
}
