input {
  height: $input-height-small;
  line-height: $line-height-small;

  &[type="file"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
}

.radio {
  input[type="radio"] {
    height: auto;
  }
}