input {
  height: $input-height-large;
  line-height: $line-height-small;
  background-color: $input-background-color;
  border-radius: $border-radius-base;

  //&[type="file"] {
  //  cursor: pointer;
  //  position: absolute;
  //  z-index: 1;
  //  opacity: 0;
  //}
}

.input-lg {
  border-radius: $border-radius-base;
}

.radio {
  input[type="radio"] {
    height: auto;
  }
}

label.checkbox {
  min-height: 20px;
  padding-left: $padding-large-horizontal * 2;
  margin-bottom: 0;

  input[type="checkbox"] {
    width: auto;
    height: auto;
    position: absolute;
    margin-left: -20px;
    appearance: auto;
  }
}

.input-group {
  .btn {
    padding: 5px 12px 4px 12px;
  }
}