// This file is for the label-class not the label-element
// Label-element can be found under form.scss

.label {
  background-color: $label-background-color;
  color: $label-text-color;
  font-size: $font-size-small;
  padding: $padding-small-vertical $padding-large-horizontal $padding-small-vertical 0;
  font-weight: normal;
  display: inline;

  &.dataset-private {
    font-size: $font-size-large;
    padding: 0;
    color: $brand-danger;
  }
}

.popular{
  margin-left: 15px;
}
