.wrapper {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $width-sm) {
    padding-left: $padding-base-horizontal*0.5;
    padding-right: $padding-base-horizontal*0.5;
  }
}

.primary {
  float: right;
}

.primary-content {
  padding-bottom: $padding-large-vertical;
}

.secondary {
  position: relative;
  z-index: 1;
  float: left;
  overflow: auto;
  max-height: none;

  @media (min-width: $width-sm) {
    overflow: hidden;
  }

  @media (min-width: $width-md) {
    max-height: none;
    max-height: initial;
  }

  &.open {
    max-width: $base*32;
    max-height: none;
    max-height: initial;
  }
}

.secondary, .primary {
  @extend %wrapper-padding;
  @extend %content-padding;
}

// Fix width issue with BS3 in mobile.
.row {
  margin-left: 0;
  margin-right: 0;

  &.row-compensate {
    margin-left: -15px;
    margin-right: -15px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  margin: $margin-large-vertical 0;
  border-top: 1px solid $table-border-color;
}