.wrapper {
  position: relative;
  height: 100%;
}

.primary {
  float: right;
  width: 100%;

  @media (min-width: $width-md) {
    width: $base*62;
  }

  @media (min-width: $width-lg) {
    width: $base*84;
  }
}

.secondary {
  position: relative;
  z-index: 1;
  float: left;
  max-width: 0;
  width: 100%;
  overflow: auto;
  max-height: 0;

  @media (min-width: $width-sm) {
    overflow: hidden;
  }

  @media (max-width: ($width-md)-1 ) {
    padding: 0;
    width: $base*25;
  }

  @media (min-width: $width-md) {
    max-width: $base*30;
    max-height: none;
    max-height: initial;
  }

  &.open {
    max-width: $base*32;
    max-height: none;
    max-height: initial;
  }
}

.secondary, .primary {
  @extend %wrapper-padding;
  @extend %content-padding;
}

// Fix width issue with BS3 in mobile.
.row {
  margin-left: 0;
  margin-right: 0;

  @media(min-width: $width-md) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  margin: $margin-large-vertical 0;
  border-top: 1px solid $table-border-color;
}