.list-group {
  .list-group-item {
    border: none;
    color: $brand-primary;
    margin-bottom: $margin-large-vertical;

    .image-wrapper {
      max-height: 175px;
      max-width: 100%;
      overflow: hidden;

      img {
        width: 200px;
        height: auto;
      }
    }

    .media-view {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $table-border-color;
      overflow: hidden;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      border-radius: $border-radius-large;

      span {
        display: none;
      }
    }
  }
}