.logos {
  margin-top: $content-padding-top;
  padding: 0 $base;
  z-index: 1;

  @media(min-width: $grid-float-breakpoint) {
    margin-top: $content-padding-top-desktop;
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $width-md) {
    padding: 0 $base*3.5;
  }
}

.logo--brand {
  width: $base*10;
  float: left;

  @media (min-width: $width-sm) {
    width: $base*20;
  }
}

.logos--eu {
  float: right;
  height: $base*12;
  text-align: center;

  .logo--erdf, .logo--eu {
    width: auto;
    height: $base*4;
    display: inline-block;

    img {
      width: auto;
      height: $base*4;
    }

    @media(min-width: $width-sm) {
      height: $base*6;

      img {
        height: $base*6;
      }
    }
  }
}

.notification {
  ~ #primary .logos,
  ~ #main .logos,
  ~ .logos {
    margin-top: $content-padding-top + $notificationbar-height;

    @media(min-width: $grid-float-breakpoint) {
      margin-top: $content-padding-top-desktop + $notificationbar-height;
    }
  }
}