.media-grid {
  margin: 0 -15px 20px -15px;
  list-style: none;
  padding: 0 0 15px 0;

  .media-item {
    @extend %box;
    padding: 15px;
    width: 290px;
    position: relative;
    float: left;
    margin: 15px 0 0 15px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    img {
      width: 100%;
      height: auto;
    }

    .media-heading {
      font-size: $font-size-large;
    }

    .media-view {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #dddddd;
      overflow: hidden;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      span {
        display: none;
      }
    }

    .media-edit {
      position: absolute;
      bottom: 458px;
    }
  }
}