.module-resource {
  .resource-heading {
    display: inline-block;
    width: 100%;

    @media(min-width: $width-sm) {
      width: auto;
    }
  }

  .resource-url-action {
    display: inline-block;
    float: right;
    width: 100%;
    margin: $margin-large-vertical 0;

    @media(min-width: $width-sm) {
      width: auto;
    }
  }
}