.multiple-values {
  .multiple-value-group {
    height: ($input-height-base + 0.875);
    margin-bottom: $margin-large-vertical;

    &:last-child {
      margin-bottom: 0;
    }

    .multiple-value {
      padding-left: 30px;
    }

    .add-input {
      position: relative;
      bottom: 30px;
      left: 5px;

      &:focus,
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
}