.nav-tabs {
  border: none;
  float: left;
  margin-bottom: -1px;
  li {
    a {
      @extend .nav-link;
      padding: 10px 15px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  li.active a {
    border: 1px solid $nav-tabs-active-link-hover-border-color;
    background-color: $nav-tabs-active-link-hover-bg;
    color: $nav-tabs-active-link-hover-color;
    border-bottom-color: transparent;
  }
}

.main-content{
  .nav {
    li {
      display: inline-block;
      border-radius: 3px 3px 0 0;
      width: 100%;

      @media (min-width: $width-sm){
        width: auto;
      }

      &.active{
        background-color: $brand-primary;
        color: #ffffff;
        a {
          color: #ffffff;
        }
      }
    }
  }
}