.resource-list {
  list-style: none;
  padding: 0;

  .resource-item {
    height: 100%;
    padding: 0;
    background: $secondary-bg;

    .format-label {
      position: absolute;
      top: $padding-large-vertical;
      left: $padding-large-horizontal;
    }

    .container-fluid {
      padding: 0;
    }

    .resource-col {
      padding: 0;
    }

    a {
      &:not(.dropdown-toggle) {
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 18px 0 17px 60px;
      }

      &.dropdown-toggle {
        display: inline;
        height: 100%;
      }

      p {
        padding: 0;
        margin: 0;
      }

      &.resource-action {
        padding: 16px 0;
        text-align: center;

        .icon {
          font-size: $font-size-xlarge;
        }
      }
    }
  }
}