.resource-list {
  list-style: none;
  padding: 0;

  .resource-item {
    @include list-item();

    .format-label {
      position: absolute;
      top: 18px;
      left: $padding-large-horizontal;
    }

    .container-fluid {
      padding: 0;
    }

    .resource-col {
      padding: 0;
      position: relative;
    }

    a {
      &:not(.dropdown-toggle) {
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 18px 0 17px 50px;
      }

      &.dropdown-toggle {
        display: inline;
        height: 100%;
      }

      p {
        padding: 0;
        margin: 0;
      }

      &.resource-action {
        padding: 16px 0;
        text-align: center;

        .icon {
          font-size: 21px;
        }
      }

      &.resource-download {
        padding: 5px;
        display: inline;
        width: initial;
      }
    }

    & .resource-labels {
      top: 25px;
      right: 0;
      text-align: right;
    }

    & .row{
      align-items: center;
    }
  }

  &.reordering {
    .resource-item {
      .handle {
        display: inline;
        position: absolute;
        right: 40px;
        margin-top: -60px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}