.resource-list {
  list-style: none;
  padding: 0;

  .resource-item {
    @include list-item();

    .format-label {
      position: absolute;
      top: 40%;
      left: $padding-large-horizontal;
    }

    .container-fluid {
      padding: 0;
    }

    .resource-col {
      padding: 0;
    }

    .resource-col + .resource-col{
      margin-left: 15px;
    }

    a {
      &:not(.dropdown-toggle) {
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 18px 0 17px 50px;
      }

      &.dropdown-toggle {
        display: inline;
        height: 100%;
      }

      p {
        padding: 0;
        margin: 0;
      }

      &.resource-action {
        padding: 16px 0;
        text-align: center;

        .icon {
          font-size: 21px;
        }
      }

      &.resource-download {
        padding: 5px;
        display: inline;
        width: initial;
      }

      &.resource-download + &.resource-download{
        margin-left: 5px;
      }

    }

    & .resource-labels {
      position: absolute;
      top: 40%;
      right: 0;
    }

    & .row{
      display: flex;
    }

  }

  &.reordering {
    .resource-item {
      .handle {
        display: inline;
        position: absolute;
        right: 40px;
        margin-top: -60px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}