$relative-search-form-position: 4/6;

.search-form-container {
  width: 100%;
  position: absolute;
  top: $page-hero-height * $relative-search-form-position;

  @media(min-width: $grid-float-breakpoint) {
    top: $page-hero-height-desktop * $relative-search-form-position;
  }

  .search-form {
    margin: auto;
    width: 100%;

    @media(min-width: $width-md) {
      max-width: $width-sm;
    }
  }
}

.search-form {
  h1, h2, h3, h4, h5, h6 {
    line-height: $input-height-base;
    vertical-align: middle;
    text-transform: uppercase;
  }

  h2 {
    font-size: $font-size-large;
    margin-top: $base;
    margin-bottom: $base;
  }

  .filter-list {
    .facet {
      margin-right: 10px;
    }
  }
}

.main-content{
  .search-form{
    h1{
      font-size:$font-size-large;
    }
  }
}