.search-form-container {
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $table-border-color;
  margin-bottom: $margin-large-vertical*2;

  &-borderless {
    border: none;
  }

  .search-form {
    padding-bottom: $padding-large-vertical*4;
    margin: auto;
    width: 100%;

    @media(min-width: $width-md) {
      max-width: $width-sm;
    }
  }
}
