select {
  background-color: $brand-white;
  border: 1px solid $table-border-color;
  height: $input-height-large;
  line-height: $line-height-small;
  color: $input-color;
  text-transform: uppercase;
  font-weight: $headings-font-weight;
  letter-spacing: $letter-spacing;
}

.form-select {
  label {
    display: inline;
  }
}