.select2-container,
.select2-container-multi {
  .select2-choices,
  .select2-choice {
    height: auto;
    color: $input-color;
    font-size: $font-size-base;
    padding: 0;
    border: 1px solid $input-border-color;
    transition: border-color .2s ease-in-out;
    background: $input-background-color;
    border-radius: $border-radius-base;

    input {
      height: $input-height-large;
      line-height: $line-height-small;
    }

    li.select2-search-choice {
      @extend %button-primary;
      background-image: none;
      padding: 5px 5px 5px 18px;
    }

    .select2-chosen {
      padding: 0 $padding-small-horizontal;
    }

    .select2-arrow {
      background: none;

      b {
        position: absolute;
        top: 0;
      }
    }
  }

  &.select2-container-active {
    .select2-choices,
    .select2-choice {
      border-color: $input-border-focus;
    }
  }
}

.select2-container {
  &:not(.select2-container-multi) {
    width: 62% !important;
  }
}

.select2-drop {
  &-active {
    border-color: $input-border-focus;
  }
}

.select2-default{
  color: $input-color-placeholder !important;
}