select {
  background-color: $white;
  border: 1px solid #ccc;
  height: $input-height-small;
  line-height: $line-height-small;
  color: $input-color;
}

.form-select {
  label {
    display: inline;
  }
}