.hide-content {
  position: relative;
  overflow: hidden;
  max-height: 300px;

  @media(min-width: $grid-float-breakpoint) {
    height: auto;
    max-height: none;
    overflow: visible;
  }
}

.show-content {
  height: auto;
}

.show-more {
  display: none;
  padding: 10px 0;
  text-align: center;

  a {
    cursor: pointer;

    &.show-more-link {
      display: inline;
    }

    &.show-less-link {
      display: none;
    }
  }
}

.fadeout {
  display: none;
  position: absolute;
  bottom: 0;
  width:100%;
  height: 100px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  @media(min-width: $grid-float-breakpoint) {
    height: 0;
  }
}
