.ckanext-showcase {
  &-image-container {
    background: $gray-lighter;
    text-align: center;

    img {
      max-height: 100%;
      width: auto;
      margin: 0;
    }

    @media (min-width: $width-md) {
      img {
        max-width: 480px;
        height: auto;
      }
    }
  }

  &-edit {
    &.primary {
      float: none;

      .container {
        padding: 0;
        width: 100%;
      }
    }

    .table-selected {
      td {
        background-color: $brand-primary;
        color: $brand-white;
      }
    }

    .module-content {
      padding: $padding-base-vertical $padding-base-horizontal;
      background: $brand-white;
    }
  }
}

.filters {
  a.close {
    display: none;
  }
}
#content {
  .secondary {
    .module {
      .module-heading {
        &.author-showcases {
          text-align: center;
          font-size: 16px;
          padding-bottom: 10px;
        }
      }

      .secondary-heading-container {
        a {
          word-break: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}