.star-rating {

  span,
  a {
    &.icon {
      color: $rating-stars-color;
      padding: 0 5px;
    }
  }
}

.rating-wrapper {
  color: $rating-text-color;

  .input-enabled {
    .rating-star-hover,
    .rating-star-hover:hover {
      color: $rating-stars-color-hover;
    }
  }
}