.statistics-page {
  h1, h2, .statistics-vis-title {
    text-align: center;
    font-weight: normal;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }
}

.statistics-loading {
  background-color: $brand-primary;
  color: $brand-white;
  height: 100vh;
  width: 100%;
  left: 0;
  padding: 50% 10px;
  position: fixed;
  text-align: center;
  top: 0px;
  z-index: 2;

  h1 {
    font-family: $font-heading;
  }

  @media(min-width: $grid-float-breakpoint) {
    padding: 30% 10px;
  }
}

@keyframes statistics-loading-bg {
  0%   {background-color: $brand-primary;}
  50%  {background-color: $brand-primary-dark;}
  100% {background-color: $brand-primary;}
}

.statistics-loading-steps {
  background-color: $brand-primary;
  animation-name: statistics-loading-bg;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: solid $brand-white 1px;
  height: 20px;
  line-height: 1;
  overflow: hidden;
  margin: auto;
  padding: 0;
  text-align: left;
  width: 100%;

  @media (min-width: $width-md) {
    width: 960px;
  }

  @media (min-width: $width-lg) {
    width: 1180px;
  }

  @media (min-width: $width-xl) {
    width: 1380px;
  }
}

@keyframes statistics-loading-webpage {
  0%   {width: 0%;}
  100% {width: 60%;}
}

.statistics-loading-loaded {
  animation-name: statistics-loading-webpage;
  animation-duration: 10s;
  background-color: $brand-white;
  height: 100%;
  display: block;
  width: 60%;
}

.statistics-loading-text {
  margin-top: $margin-large-vertical;
  font-size: $font-size-large;
  font-family: $font;
}

.statistics-nav {
  background-color: transparent;
  padding: $padding-base-vertical $padding-base-horizontal;
  width: 100%;
  z-index: 1;

  .statistics-nav-items {
    padding: $padding-large-vertical 0px;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 $margin-large-horizontal;

      a {
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: $link-color;
        }
      }
    }
  }

  &.statistics-nav-fixed {
    background: $toolbar-default-bg;
  }
}

.nav-wrapper {
  .statistics-nav-content {
    padding: $padding-small-vertical 0;
    background: $toolbar-default-bg;
    margin: 0;
    width: 100%;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.statistics-nav-filters {
  width: 100%;
  padding: $padding-large-vertical 0;
}

.js-statistics-filter-datespan-fields {
  position: relative;

  .form-control {
    display: inline-block;
  }
}

.statistics-filter-datespan-quicklinks {
  > a,
  > a:focus,
  > a:active {
    cursor: pointer;
    display: inline-block;
    margin: 0px $margin-base-horizontal;
    border-bottom: solid transparent 5px;
    color: $brand-white;

    &:hover,
    &.statistics-active {
      border-color: $brand-secondary;
    }
  }
}

.statistics-filter-dropdown {
  width: 100%;
  display: inline-block;
  margin-left: $margin-large-horizontal;
  margin-right: $margin-large-horizontal;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .dropdown-toggle {
    box-shadow: none;
    height: $input-height-base;
  }
}

// Sections

.statistics-section {
  min-height: 600px;
  padding: 0 $padding-small-horizontal;
  position: relative;

  @media(min-width: $width-sm) {
    padding: $padding-large-horizontal*2
  }
}

.statistics-section-content, .statistics-nav-content {
  // Copy-pasted from .container styles in /shared/scss/base/common/layout.scss
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @media (min-width: $width-sm) {
    padding-left: $padding-base-horizontal*0.5;
    padding-right: $padding-base-horizontal*0.5;
  }

  @media (min-width: $width-md) {
    width: 960px;
  }

  @media (min-width: $width-lg) {
    width: 1180px;
  }

  @media (min-width: $width-xl) {
    width: 1380px;
  }
}

// Summary section
.summary-section {
  background-color: $brand-primary-dark;
  color: $brand-white;
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.summary-section .statistics-section-content {
  padding: 0px;
}

// Other sections
.statistics-dataset-section, .statistics-app-section {
  color: $brand-white;
  h1, h2, .statistics-vis-title {
    margin-bottom: 25px;
    color: $brand-white;
  }
}

.statistics-dataset-section {
  background-color: $datavis-color-1;
}

.statistics-app-section {
  background-color: $brand-primary-dark;
}

.statistics-article-section {
  background-color: $brand-white;
  color: $text-color;
}

.statistics-vis {
  padding-top: 25px;
  padding-bottom: 75px;
}

.statistics-legend-coloring {
  fill: $brand-white;
  stroke: $brand-white;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
  stroke-width: 1px;
}

.statistics-legend-row {
  &:nth-child(2) .statistics-legend-coloring {
    fill: none;
  }
}

.statistics-legend-text {
  fill: $brand-white;
  font-family: $font;
}

.statistics-line {
  fill: none;
  stroke: $brand-white;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
  stroke-width: 3px;
}

.statistics-tick-year {
  font-size: 12px;
  font-weight: bold;
}

.statistics-focus-point {
  fill: $brand-white;
  opacity: 0.9;
  stroke: $brand-white;

  circle {
    fill: $brand-white;
    stroke: $brand-white;
  }

  line {
    fill: none;
    stroke: $brand-white;
    stroke-width: 1.5px;
    stroke-dasharray: 3 3;
  }

  .statistics-count {
    font-size: 24px;
  }

  .statistics-date {
    font-size: 12px;
  }
}

.statistics-axis {
  line {
    stroke: $brand-white;
  }
  path {
    stroke: $brand-white;
  }
  text {
    fill: $brand-white;
  }
}

.statistics-axis {
  .tick:not(:first-of-type) line {
    stroke-dasharray: 2,2;
  }
}

.statistics-bar {
  .statistics-bar-main {
    fill: $datavis-color-1;
    stroke: $brand-white;
    stroke-width: 2px;
  }
  .statistics-bar-portion {
    fill: $brand-white;
  }
  text {
    fill: $brand-white;
    font: 10px sans-serif;
  }
}

.attention-numbers {
  text-align: center;
}

.attention-number {
  display: inline-block;
  padding: 8px;
  width: 32%;
  @media (min-width: $width-md) {
    width: 24%;
  }
}

.attention-number-title {
  font-size: $font-size;
  font-weight: bold;
}

.attention-number-value {
  font-family: $font-heading;
  font-size: $font-size-base * 4.0;
}

.attention-number-detail {
  font-size: $font-size;
}

.attention-number-detail-text,
.attention-number-detail-value {
  display: block;
}

.statistics-top-histogram {
  .statistics-bar text {
    font-size: $font-size-base;
  }
}

.statistics-download-button {
  display: block;
  float: right;
}

.statistics-end-date {
  float: right;
}

.statistics-page .statistics-input-date {
  text-align: center;
  width: 45%;
}

.statistics-page select {
  background: $brand-white;
  color: $brand-primary;
  outline: 0px;
}

.statistics-page option {
  padding: 5px;
  border-bottom: solid #eee 1px;
}

.choose-organization {
  width: 500px;
}

.vis-notification {
  text-align: center;
}

.statistics-tooltip {
  background: $toolbar-default-bg;
  color: $text-color;
  padding: $padding-small-vertical $padding-small-horizontal;
  position: absolute;
  border-radius: $border-radius-large;
  font-size: $font-size-small;
  opacity: 0;
  transition: opacity $transition-speed-base $transition-curve-base;

  &.active {
    opacity: 0.8;
  }
}

.col-statistics-condensed {
  @media(max-width: $width-xs) {
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
  }
}
