//////////////////////////////////////
// Typography


.statistics-page {
  h1, h2, h3 {
    text-align: center;
    font-weight: normal;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
  }
}




//////////////////////////////////////////
// Sections

.statistics-section {
  min-height: 600px;
  position: relative;
  padding: 60px;
  padding-bottom: 120px;
}
.statistics-section-content {
  margin: auto;
  padding: 0;
}

.statistics-footer {
  padding: 30px;
  text-align: center;
}
.statistics-footer a {
  color: inherit;
  font-size: 12px;
}

// Front section
.front-section {
  background-color: $white;
  color: $text-color;
  min-height: 400px;
  padding-top: 0px;
}
.front-section .statistics-section-content {
  padding: 0px;
}

// Other sections
.statistics-section:nth-child(2) {
  color: $white;
  background-color: $datavis-color-1;
}
.statistics-section:nth-child(3) {
  color: $white;
  background-color: $datavis-color-1-dark;
}
.statistics-section:nth-child(4) {
  color: $text-color;
  background-color: $white;
}


//////////////////////////////
// Visualization elements

.statistics-line {
  fill: none;
  stroke: $white;
  stroke-width: 3px;
  stroke-linejoin: 'round';
  stroke-linecap: 'round';
}
/*.datavis-scale-line {
  stroke: #555;
  stroke-dasharray: '2,2';
}*/

.statistics-axis line {
  stroke: $white;
}

.statistics-axis path {
  stroke: $white;
}

.statistics-axis text {
  fill: $white;
}

.bar rect {
  fill: $datavis-color-2;
}

.bar text {
  fill: $white;
  font: 10px sans-serif;
}
.bar:hover {
  // fill: #5faf59;
}


///////////////////////////
// Attention numbers
.attention-numbers {
  margin-top: 50px;
  // margin-bottom: 30px;
  text-align: center;
  // padding-top: 30px;
  // padding-bottom: 60px;
}
.attention-numbers > * {
  display: inline-block;
  padding: 8px;
  width: 25%;
}
.attention-numbers > * > *:first-child {
  font-size: 70px;
}
.attention-numbers > * > *:last-child {
  font-size: $font-size;
}



///////////////////////////////////
// Totals timeline





/////////////////////////////////
// UI components

.statistics-download-button {
  display: block;
  float: right;
}
.statistics-start-date {

}
.statistics-end-date {
  float: right;
}

.statistics-page .statistics-input-date, .statistics-page select {
  border: solid white 1px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  background: none;
  color: inherit;
  margin-right: 15px;
}
.statistics-page .statistics-input-date {
  text-align: center;
  width: 100px;
}

.statistics-page select {
  width: 450px;
  background: $white;
  color: $datavis-color-1;
  outline: 0px;
}
.statistics-page option {
  padding: 5px;
  border-bottom: solid #eee 1px;
}

.statistics-page button {
  background-color: white;
  color: $brand-info;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 12px;
}
.statistics-page button:hover {
  background-color: #f8f8f8;
}

.choose-organization {
  width: 500px;
}
