.table {
  thead,
  tbody {
    tr {
      th:first-child,
      th.condensed,
      td.condensed {
        width: 1%;
        white-space: nowrap;
      }

      th,
      td {
        color: $brand-primary;
        font-weight: normal;
        vertical-align: middle;
        padding: $padding-small-vertical $padding-large-horizontal;

        input {
          height: auto;
        }
      }

      th.dataset-label{
        width: 30%;
        white-space: pre-wrap;
      }
    }
  }

  thead tr th {
    font-weight: bold;
  }

  &.table-borderless {
    thead,
    tbody {
      tr {
        th,
        td {
          border: none;
        }
      }
    }
  }
}