.article__wrapper {
  width: 100%;
  max-width: $base*78;
  margin: $base*6 0 0;

  @media (min-width: $width-md) {
    float: left;
    max-width: $base*60;
    margin: 0;
    padding: 0 $base*4 0;
  }

  @media (min-width: $width-lg) {
    max-width: $base*78;
    padding: 0 $base*4 0 $base*8;
  }
}

.wp-caption {
  max-width: 100%;
  font-size: $font-size-small;
}

.article {
  line-height: $line-height-base;
  font-size: $font-size-base;
  color: $gray-dark;

  .alignright {
    margin: $base 0 $base $base;
  }

  .alignleft {
    margin: $base $base $base 0;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;

    @media(min-width: $width-sm) {
      width: auto;
    }
  }
}

.article p {
  margin: $base auto;
}

.article__iframe-wrapper {
  position: relative;
  height: 0;
  overflow: visible;
  // This is a fallback, JS calculates the value based on iframe props
  padding-top: 56.25%;
}

.article__tags {

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: $base;
  }
}

.article-sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-sidebar__item {
  padding: 0;
  color: $brand-primary;
  padding-top: $base;

  &:last-child {
    padding-bottom: $base;
  }
}

.article-sidebar__item ~ .article-sidebar__item {
  padding-top: 0;
}

.article-sidebar__item--heading {
  padding: $base $base*2;
  background: $brand-primary;
  color: $brand-white;
  border-radius: 0 15px 0 15px;

  .material-icons {
    color: $brand-primary-extralight;
  }
}

.article-sidebar__item--heading-grey {
  @extend .article-sidebar__item--heading;
  background: $gray-lighter;
  color: $brand-black; 

 .material-icons {
   color: $gray-light;
 } 
}

.article-sidebar__link {
  padding: $base $base*2;
  display: block;
}

.article-sidebar__link--active {
  @extend .article-sidebar__link;
  font-weight: 700;
}

.article-sidebar__list--heading {
  @extend .article-sidebar__list;
  margin-top: $base*2;

  .article-sidebar__item--heading {
    margin-top: $base;
  }
}

.article-sidebar__link--block {
  display: block;
  color: $brand-white;
  position: relative;

  &:hover {
    color: $gray-light;
  }
}

.article-sidebar__icon-wrapper {
  background: $brand-secondary;
  display: inline-block;
  height: $base*3.2;
  width: $base*3.2;
  border-radius: 100%;
  text-align: center;
  position: absolute;
    right: 0;
    top: 50%;
  transform: translateY(-50%);

  i {
    line-height: $base*3.2;
    margin-right: 0;
  }

  &:hover {
    background: $brand-primary;

    i {
      color: $brand-white;
    }
  }
}

.avatar {
  margin: $base auto;
  border-radius: 100%;
  display: block;

}
