.wp-caption {
  max-width: 100%;
  font-size: $font-size-small;

  a {
    width: 100%;
  }
}

.article {
  line-height: $line-height-base;
  font-size: $font-size-base;
  color: $gray-dark;

  .alignright {
    margin: $base 0 $base $base;
  }

  .alignleft {
    margin: $base $base $base 0;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;

    @media(min-width: $width-sm) {
      width: auto;
    }
  }
}

.article p {
  margin: $base auto;
}

.article__iframe-wrapper {
  position: relative;
  height: 0;
  overflow: visible;
  // This is a fallback, JS calculates the value based on iframe props
  padding-top: 56.25%;
}

.article__tags {

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: $base;
  }
}

.avatar {
  margin: $base auto;
  border-radius: 100%;
  display: block;
}
