.article {
  line-height: 1.5;
  font-size: 1.6rem;
}

.article p {
  margin: $base*2 auto $base*4;
}

.article__iframe-wrapper {
  position: relative;
  height: 0;
  overflow: visible;
  // This is a fallback, JS calculates the value based on iframe props
  padding-top: 56.25%;
}