.banner {
  @extend %box;
  padding: $base*4;
  background: $banner-bg;
  position: relative;
  margin-bottom: 36px; // Compensate for the missing button height to appear similar with other elements

  &:after {
    content: '';
    display: block;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    background-image: url('/assets/images/dataset-pattern2.png');
  }

  .row {
    position: relative;
    z-index: 1;
  }
}

.banner__title {
  font-size: $font-size-large;
  color: $banner-heading-color;
  margin-top: 0;
  margin-bottom: 0;
}

.banner__subtitle {
  font-size: $font-size-base;
  color: $banner-text-color;
  font-weight: normal;
}

.banner__buttons .btn {
  color: $banner-text-color;
  padding-left: $base*2;
  padding-right: $base*2;
  margin-bottom: $base;

  @media(min-width: $width-md) {
    margin-bottom: 0;
  }

  i {
    margin-right: 0;
  }
}

.btn--banner {
  width: auto;
  margin: 0 5px;
}