.banner {
  padding: $base*4;
  background: darkblue;
}

.banner__title {
  font-size: 2rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.banner__subtitle {
  font-size: 1.5rem;
  color: #fff;
}

.banner__buttons .btn {
  color: white;
  padding-left: $base*2;
  padding-right: $base*2;

  i {
    margin-right: 0;
  }
}
