.wrapper--gray {
  padding: $base*4 0;
  background: $brand-gray;
}

.boxlinks {
  padding: $base;
  
  @media (min-width: $width-md) {
    display: flex;
    padding: 0;
  }
}

.boxlink {
  border-radius: $border-radius-small;
  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
  margin-right: 1%;
  height: $base*20;
  position: relative;
  width: 100%;
  max-width: $base*41;
  margin: $base auto;

  @media (min-width: $width-sm) {
    max-width: $base*48;
    height: $base*30;
    margin: $base auto;
  }

  @media (min-width: $width-md) {
    width: 32%;
    height: $base*20;
    margin: auto;
  }
}

.boxlink__footer {
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  padding: $base;
  border-bottom-left-radius: $base/2;
  border-bottom-right-radius: $base/2;
  background: rgba($brand-primary, 0.8);

  .heading {
    float: left;
    margin-top: $base/2;
    margin-bottom: $base/2;

    a {
      color: $brand-white;
    }
  }

  .round {
    float: right;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 100%;
    height: $base*3.5;
    width: $base*3.5;
    background: $brand-secondary;

    i {
      line-height: $base*3.5;
      color: $brand-white;
    }
  }
}