.cards {

  @media (min-width: $width-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.card {
  max-width: 75%;
  border-radius: $base/2;
  background: $card-background-color;
  padding: $base*2;
  margin: $base auto;
  border: 1px solid $brand-gray;

  @media (min-width: $width-sm) {
    flex: 1 1 32%;
    max-width: 32%;
    margin: 1%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card__title {
  @include heading();
  border-bottom: 1px solid $brand-gray;
  padding-bottom: $base;
  margin-bottom: $base;
  margin-top: 0;
  font-size: $font-size-large;
}

.card__meta {
  margin-bottom: $base*1.5;
}

.card__categorylink {
  text-transform: capitalize;
}


// Secondary cards

.wrapper--latest {
  background: $brand-primary; /* Old browsers */
  background: $latest-bg;
  padding: $base*4 0;

  .heading--featured {
    color: $brand-white;
    text-align: center;

    @media(min-width: $width-sm) {
      text-align: left;
    }
  }

  .latest-btn-container {
    margin-top: $base;
    text-align: center;

    @media (min-width: $width-sm) {
      text-align: right;
    }
  }
}

.cards--latest {
  @extend .cards;
  margin-bottom: 0;
  justify-content: flex-start;
}

.card--latest {
  @extend .card;
  padding: 0;
  border: 0;

  @media (min-width: $width-sm) {
    flex: 1 1 49%;
    max-width: 49.5%;
    margin: $base/2 0.5%;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $width-md) {
    flex: 1 1 23.5%;
    margin: 1% 1%;
    max-width: 23.5%;

    &:nth-child(even) {
      margin: 1% 1%;
    }

    &:nth-child(odd) {
      margin: 1% 1%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card__title--latest,
.card__title--latest a {
  @extend .card__title;
  border-bottom: 0;
  margin-top: $base;
  font-size: $font-size-large;
  font-weight: 700;
  padding-bottom: 0;
  color: $latest-card-heading-color;
}

.card__body--latest {
  padding: $base*2;
  color: $latest-card-text-color;

  a {
    color: $latest-card-link-color;
  }
}

.card__meta--latest {
  padding: $base;
  background: $latest-card-heading-bar-bg;
  border-top-left-radius: $base/2;
  border-top-right-radius: $base/2;
  color: $latest-card-heading-bar-color;
}

.card__categorylink--latest {
  text-transform: uppercase;
  font-size: $base*1.2;
}

.cards--post {
  @extend .cards;
  flex-wrap: wrap;
  width: 100%;
}

.card--post {
  @extend .card;
  padding: 0;
  border-color: #ccc;
  width: 240px;
  height: 320px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .post__img--link {
    flex: 0 0 auto
  }

  .post__title {
    margin: $base;
    text-align: left;
    overflow: hidden;
  }

  .post__meta {
    margin: 0 $base;

    flex: 2 1 auto;
    font-weight: 600;
    padding-bottom: $base;
  }

  .post__categories {
    display: block;
    background: $gray-lighter;
    height: 35px;
    line-height: 35px;
    padding: 0 $base;
    box-sizing: border-box;
  }
}

// Showcase cards

.cards--showcase {
  @extend .cards--latest;
  flex-wrap: wrap;
}

.card--showcase {
  @extend .card--latest;
  background: $brand-primary;
  padding: 0;

  @media(min-width: $width-sm) {
    flex: 1 1 49%;
    max-width: 49%;
    margin: 1%;
    margin-bottom: $base;

    &:nth-child(even) {
      margin: 1%;
    }

    &:nth-child(odd) {
      margin: 1%;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  @media(min-width: $width-md) {
    flex: 1 1 49%;
    max-width: 49%;
    margin: 1%;
    margin-bottom: $base;

    &:nth-child(even) {
      margin: 1%;
    }

    &:nth-child(odd) {
      margin: 1%;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  @media(min-width: $width-lg) {
    flex: 1 1 24%;
    max-width: 24%;
    margin: 0.66%;

    &:nth-child(even) {
      margin: 0.66%;
    }

    &:nth-child(odd) {
      margin: 0.66%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card__img {
  border-top-left-radius: $base/2;
  border-top-right-radius: $base/2;
}

.showcase__footer p {
  color: $brand-white;
}

// Dataset cards
.cards--dataset {
  @extend .cards;

  .card,
  .card__title{
    border-color: $dataset-card-border-color;
  }

  .card__title,
  .card__title a {
    color: $dataset-card-heading-color;
  }

  .card__meta {
    a {
      color: $dataset-card-link-color;
    }
  }

  .card__timestamp {
    color: $dataset-card-text-color;
  }
}