.cards {
  display: block;

  @media (min-width: $width-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.card {
  max-width: 75%;
  border-radius: $border-radius-small;
  background: $card-bg;
  padding: $base*2;
  margin: $base auto;
  border: 1px solid $card-border-color;
  transition: background-color $transition-speed-base $transition-curve-base;

  &.card-hover:hover {
    @extend %box-shadow;
    background: $card-bg-active;
    border-color: $card-border-color-active;
    cursor: pointer;

    &.card-hover-light {
      @extend %box-shadow-light;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $width-sm) {
    flex: 1 1 32%;
    max-width: 32%;
    margin: $padding-base-vertical 1% $padding-base-vertical 1%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: $padding-base-vertical;
    }
  }
}

.card__title {
  @include heading();
  margin-bottom: $base;
  margin-top: 0;
  font-size: $font-size-large;
}

.card__meta {
  border-top: 1px solid $card-border-color;
  padding-top: $base*1.5;
  font-size: $font-size-base;
}

// Secondary cards

.wrapper--latest {
  background: $brand-primary; /* Old browsers fallback to single color */
  background: $latest-bg;
  padding: $base*4 $base*1.5;

  .heading--featured {
    color: $brand-white;
    text-align: center;

    @media(min-width: $width-sm) {
      text-align: left;
    }
  }

  .latest-btn-container {
    margin-top: $base;
    text-align: center;

    @media (min-width: $width-sm) {
      text-align: right;
    }
  }
}

.cards--4 {
  margin-bottom: 0;
  justify-content: flex-start;

  .card {
    @extend .card;

    @media (min-width: $width-sm) {
      flex: 1 1 49%;
      max-width: 49.5%;
      margin: $base/2 0.5%;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media (min-width: $width-md) {
      flex: 1 1 23.5%;
      margin: 1% 1%;
      max-width: 23.5%;

      &:nth-child(even) {
        margin: 1% 1%;
      }

      &:nth-child(odd) {
        margin: 1% 1%;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.card__title--latest,
.card__title--latest a {
  @extend .card__title;
  border-bottom: 0;
  margin-top: $base;
  font-size: $font-size-large;
  font-weight: 700;
  color: $latest-card-heading-color;
}

.card__body--latest {
  padding: $base*2;
  color: $latest-card-text-color;

  a {
    color: $latest-card-link-color;
  }
}

.card__meta--latest {
  padding: $base;
  background: $latest-card-heading-bar-bg;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  color: $latest-card-heading-bar-color;
}

.cards--post {
  @extend .cards;
  flex-wrap: wrap;
  width: 100%;
}

.card--post {
  @extend .card;
  padding: 0;
  border-color: #ccc;
  width: 240px;
  height: 320px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .post__img--link {
    flex: 0 0 auto
  }

  .post__title {
    margin: $base;
    text-align: left;
    overflow: hidden;
  }

  .post__meta {
    margin: 0 $base;

    flex: 2 1 auto;
    font-weight: 600;
    padding-bottom: $base;
  }

  .post__categories {
    display: block;
    background: $gray-lighter;
    height: 35px;
    line-height: 35px;
    padding: 0 $base;
    box-sizing: border-box;
  }
}

// Showcase cards
.cards--showcase {
  .card {
    background: $brand-primary;
    padding: 0;
  }
}

.card__img {
  border-top-left-radius: $base/2;
  border-top-right-radius: $base/2;
}

.showcase__footer p {
  color: $brand-white;
}

// Dataset cards
.cards--dataset {
  @extend .cards;

  .card,
  .card__title{
    border-color: $dataset-card-border-color;
  }

  .card__title,
  .card__title a {
    color: $dataset-card-heading-color;
  }
}

.card__meta {
  color: $dataset-card-heading-color;
}

.card__timestamp {
  color: $dataset-card-heading-color;
  font-family: $headings-font-family;
}