.cards {
  margin-bottom: $base*2;

  @media (min-width: $width-sm) {
    display: flex;
  }
}

.card {
  border-radius: 6px;
  background: white;
  padding: $base*2;
  margin: $base;
  border: 1px solid #e7e7e7;
  width: 33%;

  @media (min-width: $width-sm) {

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card__title {
  @include heading();
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: $base;
  margin-bottom: $base;
  font-size: 2.2rem;
}

.card__meta {
  margin-bottom: $base*1.5;
}

.card__categorylink {
  text-transform: capitalize;
}




// Secondary cards

.wrapper--latest {
  background: $brand-primary; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $brand-primary-extradark 0%, $brand-primary 56%, $brand-primary-extralight 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $brand-primary-extradark 0%, $brand-primary 56%, $brand-primary-extralight 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $brand-primary-extradark 0%, $brand-primary 56%, $brand-primary-extralight 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: $base*4 0;

  .heading--mleft {
    color: #fff;
  }
}

.cards--latest {
  @extend .cards;
}

.card--latest {
  @extend .card;
  width: 48%;
  padding: 0;
  border: 0;
}

.card__title--latest {
  @extend .card__title;
  border-bottom: 0;
  margin-top: $base;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0;
}

.card__body--latest {
  padding: $base*2;
  color: $brand-primary;
}

.card__meta--latest {
  padding: $base;
  background: $brand-secondary;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
}

.card__categorylink--latest {
  text-transform: uppercase;
  font-size: $base*1.2;
}



// Showcase cards

.cards--showcase {
  @extend .cards--latest;
}

.card--showcase {
  @extend .card--latest;
  background: $brand-primary;
  padding: 0;
}

.card__img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.showcase__footer p {
  color: #fff;
}