.wrapper--categories {
  background-color: $category-box-bg;
}

.categories {
  padding-top: $base*5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.category__wrapper {
  padding-left: $base;
  padding-right: $base;
  padding-bottom: $base*1.5;
  width: $base*18;
}

.category--box {
  @extend %box;
  background-color: transparent;
  color: $category-box-count-color;
  margin-left: 0;
  padding: $base*2 $base*1.5;
  height: 100%;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: darken($category-box-bg, 20%);
  }
}

.category__link {
  height: 100%;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: $font-size-base;

  @media (min-width: $width-xs) {
    display: block;
  }
}

.category__link-content {
  margin: auto;
}

.category__icon {
  color: $category-box-count-color;
  text-align: center;

  svg {
    height: 35px;
    width: 35px;
  }

  svg path {
    fill: $category-box-icon-color;
  }
}

.category__name {
  display: block;
  color: $category-box-text-color;
  margin: 0 $base*0.5;
  text-transform: uppercase;
  word-break: normal;
  
  @media (min-width: $width-xs) {
    margin: $base*0.5 auto;
  }
}

.category__count {
  font-weight: normal;
  color: $category-box-count-color;
}
