.categories {
  display: flex;
  flex-wrap: wrap;
  padding-top: $base*5;
  justify-content: center;
}

.category__wrapper {
  width: $base*29.25;
  padding-left: $base;
  padding-right: $base;
  padding-bottom: $base*1.5;
}

.category--box {
  @extend %box;
  border-radius: $base/5;
  background: $category-box-bg;
  margin-left: 0;
  padding: $base*2 $base*1.5;
  height: 100%;
}

.category__link {
  display: flex;
  height: 100%;
  align-items: center;
}

.category__icon {
  margin-right: $base;
  height: $base*2.5;
  width: $base*2.5;
  float: left;
}

.category__name {
  display: inline-block;
  padding-right: $base*0.5;
  color: $category-box-text-color;
}

.category__count {
  display: inline-block;
  font-weight: normal;
  padding: 0 7px;
  border: 1px solid $category-box-count-color;
  color: $category-box-count-color;
  border-radius: 50%;
}