.wrapper--featured {
  @extend .wrapper;
  background: $brand-lightgray;

  .heading--featured {
    text-align: center;

    @media(min-width: $width-sm) {
      text-align: left;
    }
  }

  .featured-btn-container {
    margin-top: $base;
    text-align: center;

    @media (min-width: $width-sm) {
      text-align: right;
    }
  }
}