.wrapper--horizaccordion {
  background: $brand-primary;
  margin-top: $base;
}

.horizaccordion {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: $base*48;

  .horizaccordion__container {
    width: 100%;
    max-width: 25%;
    position: relative;
    transition: all .2s ease-in-out;

    &:after {
      content: '';
      display: block;
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      background: rgba($brand-primary, 0.6);
    }
  }

  &:hover {

    .horizaccordion__container {
      max-width: $base*20;

      &:hover {
        max-width: $base*37;

        .horizaccordion__title {
          font-size: 2.5rem;
        }

        .horizaccordion__text {
          display: block;
        }

        .horizaccordion__footer .btn {
          opacity: 1;
        }

        &:after {
          background: rgba(0,0,0, 0.6);
        }
      }
    }

    @media (min-width: 1200px) {

      .horizaccordion__container {
        max-width: $base*24;

        &:hover {
          max-width: $base*45;

          .horizaccordion__title {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

.horizaccordion__title {
  font-size: 2rem;
  font-family: $font-heading;
  font-weight: 600;
}

.horizaccordion__item {
  height: 100%;
  padding: $base $base*2 $base*2;
  color: #fff;
}

.horizaccordion__img {
  width: 100%;
}

.horizaccordion__link {
  color: #fff;
  position: relative;
  z-index: 1;

  &:hover {
    color: #eee;
  }
}

.horizaccordion__text {
  display: none;
  position: relative;
  z-index: 1;
}

.horizaccordion__footer {
  margin-top: $base*2;

  .btn {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
}
