body.category {
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.wrapper {
  padding: 0;
}

.container--heading {
  margin-top: $base*3;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter,
.alignnone {
  display: block;
  margin: auto;
}

.content-area {
  margin-bottom: $base*3;
}