$relative-logo-position: 3/6;

.logos {
  top: $page-hero-height * $relative-logo-position;
  padding: 0 $base;
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;

  @media(min-width: $grid-float-breakpoint) {
    padding: 0;
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  img {
    width: 200px;
    height: auto;
  }
}

.logo--brand {
  width: 100%;
  text-align: left;
  display: block;

  @media(min-width: $grid-float-breakpoint) {
    text-align: center;
  }
}

.logos--eu {
  height: auto;
  width: auto;
  position: absolute;
  display: block;
  text-align: right;
  right: 0;
  top: 0;
  background: $body-bg;
  padding: $padding-large-vertical $padding-large-horizontal;

  .logo--erdf, .logo--eu {
    width: auto;
    height: $base*4;
    display: inline-block;

    img {
      width: auto;
      height: $base*4;
    }

    @media(min-width: $grid-float-breakpoint) {
      height: $base*6;

      img {
        height: $base*6;
      }
    }
  }
}

.has-notification {
  ~ .logos {
    top: $page-hero-height * $relative-logo-position + $notificationbar-height;
  }
}
