.wrapper--morelinks {
  clear: both;
  background: $brand-gray;
  padding: $base*4 0 $base*6;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.morelink {
  padding: $base*2 0 0;
  width: 50%;
  float: left;
}