.wrapper--morelinks {
  clear: both;
  background: $gray-lighter;
  padding: $base*4 $base*2 $base*6;
  flex-wrap: wrap;
  display: flex;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.morelink {
  padding: $base*2 0 0;
  width: 100%;
  max-width: 240px;

  @media (min-width: 660px) {
    width: 48%;
  }
}