.news-content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: $padding-large-vertical*3 $padding-large-horizontal*3;
}

.news-content .secondary {
   padding: 0;
   margin-bottom: 10px;
   border-radius: $border-radius-base;
   background: #f8f8f8;
   margin-top: 20px;
   margin-right: 40px;
   .main-heading {
      font-size: 18px;
      font-weight: 500;
      padding: 0 10px;
      margin: 10px 0;
      font-size: 28px;
   }
   .module {
      padding: 10px 10px;
      .module-heading {
           font-size: 18px;
           font-weight: 500;
           padding: 5px 15px;
           margin: 0;
           margin-bottom: 20px;
           color: $brand-primary;
           i {
               display: none;
           }
       }
       .active {
           font-weight: bold;
       }
       .module-content {
           .heading {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
            }
            img {
                width: 100%;
               height: auto;
           }
           a img {
               width: auto;
           }
       }
       & > .module {
           padding: 0;
       }
   }
}

.post__content {
  padding: $base;
  height: calc(100% - 180px);
  position: relative;
}

.post__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: $font-size-large;
}

.post__separator {
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}

.post__meta {
  display: flex;
  z-index: 2;
  position: relative;
}

.post__categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      margin-right: 5px;
      a {
        color: $brand-success;
      }
    }

    li + li:before {
      content: '· ';
    }
  }
}

.post__text {
 
}

.news-category {
  .news-category__count {
    float: right;
  }
}


.post__img--link {
  text-align: center;
  display: block;
  background-size: cover;
  background-position: center center;
  height: $base*13;
}

.paginate {
  width: 100%;
}

.paginate-next {
  float: right;
}
.paginate-prev {
  float: left;
}