%pagew {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $width-sm) {
    padding-left: $base*4;
    padding-right: $base*4;
  }

  @media (min-width: $width-md) {
    padding-left: $base*10;
    padding-right: $base*10;
  }
}

.page-content {
  @extend %pagew;
  padding: $base*4 $base*2;
}

.page-breadcrumb {
  margin: 0;
  border-bottom: 1px solid $gray-lighter;
  height: $base*6;
  padding-left: 0;

  li {
    list-style: none;
    display: inline-block;
    font-family: $font-heading;
    font-size: 1.5rem;
    color: $brand-primary;
    height: $base*6;
    line-height: $base*6;

    &:after {
      content: '>';
      display: inline-block;
      margin: 0 $base;
    }

    &:last-child:after {
      content: '';
      margin: 0;
    }
  }
}

.page-body {
  position: relative;
  padding-top: $base*6;
}
