%pagew {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $width-sm) {
    padding-left: $base*4;
    padding-right: $base*4;
  }

  @media (min-width: $width-md) {
    padding-left: $base*10;
    padding-right: $base*10;
  }
}

.page__hero {
  height: $base*25;
  background: url('/assets/images/page_bgr.jpg') no-repeat center center;
  background-size: cover;

  @media(min-width: $width-md) {
    height: $base*75;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba($brand-primary, 0.2); /* Old browsers */
    background: -moz-linear-gradient(rgba($brand-primary, 0) 0%, rgba($brand-primary-extradark, 0.6) 60%, rgba(darken($brand-primary-extradark, 15%), 0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba($brand-primary, 0) 0%, rgba($brand-primary-extradark, 0.6) 60%, rgba(darken($brand-primary-extradark, 15%), 0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(rgba($brand-primary, 0) 0%, rgba($brand-primary-extradark, 0.6) 60%, rgba(darken($brand-primary-extradark, 15%), 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.page__hero__content {
  position: relative;
  min-height: $base*50;
  z-index: 1;
  margin-top: 0;
  background: $brand-white;
  @extend %box-shadow;

  @media(min-width: $width-md) {
    margin-top: -$base*50;
  }
}

.page__content {
  @extend %pagew;

  .single & {
    padding: $base*4 $base*2;
  }
}

.page__breadcrumb {
  margin: 0;
  border-bottom: 1px solid $gray-lighter;
  height: $base*6;
  padding-left: 0;

  li {
    list-style: none;
    display: inline-block;
    font-family: $font-heading;
    font-size: 1.5rem;
    color: $brand-primary;
    height: $base*6;
    line-height: $base*6;

    &:after {
      content: '>';
      display: inline-block;
      margin: 0 $base;
    }

    &:last-child:after {
      content: '';
      margin: 0;
    }
  }
}

.page__body {
  position: relative;
  padding-top: $base*6;
}
