@use "sass:math";

$relative-search-form-position: math.div(4, 6);

.search-form-container {
  width: 100%;
  position: absolute;
  top: $page-hero-height * $relative-search-form-position + $navbar-height;

  @media(min-width: $grid-float-breakpoint) {
    top: $page-hero-height-desktop * $relative-search-form-position + $navbar-height;
  }

  .search-form {
    margin: auto;
    width: 100%;

    @media(min-width: $width-md) {
      max-width: $width-sm;
    }
  }
}
