.search-sidebar {
  @extend .sidebar;

  .sidebar-heading {
    padding: $padding-small-vertical 0;
    margin: 0 $margin-large-horizontal;
    font-size: $font-size;
    color: $navbar-offcanvas-heading-color;
    font-weight: bold;
    font-family: $font;
  }

  //.sidebar-item {
  //  a {
  //    background: none;
  //    font-size: $font-size-base * 0.9;
  //    border-radius: 0;
  //    color: $navbar-offcanvas-link-color;
  //
  //    &:hover {
  //      background: $navbar-offcanvas-link-background-color-active;
  //      color: $navbar-offcanvas-link-color-active;
  //    }
  //  }
  //}
}