.search-form {
    margin: $padding-large-vertical auto;
    display: flex;

    label {
      margin: auto;
      display: block;
      width: 100%;

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: normal;
      }
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
}

.search-contents {
  padding-left: $base*4;
  border-left: 1px solid $table-border-color;
}

.search-content__list {
  padding: 0;
  margin: 0;
}

.search-content {
  padding: $base 0;
  list-style: none;
  margin: $base auto;
  border-top: 1px solid $table-border-color;
}

.search-content__left {
  width: 80px;
  min-width: 80px;
}

.search-content__content {
  padding: 0 0 $base 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.search-content__type {
  font-size: 10px;
  text-transform: uppercase;
  color: $brand-secondary;
}

.search-content__title {
  margin: 0;
  font-weight: 600;
  font-family: $font-heading;
}

.search-content__body {
  color: $brand-primary;
}

.search-results-heading {
  font-size: $font-size-base;
  color: $headings-muted-color;
  text-transform: uppercase;
  font-weight: $headings-font-weight;
  letter-spacing: $letter-spacing;
}

.search-content .secondary {
   padding: 0;
   margin-bottom: 10px;
   border-radius: 6px;
   background: #f8f8f8;
   margin-top: 20px;
   margin-right: 40px;
   .main-heading {
      font-size: 18px;
      font-weight: 500;
      padding: 0 10px;
      margin: 10px 0;
      font-size: 28px;
   }
   .module {
      padding: 10px 10px;
      .module-heading {
           font-size: 18px;
           font-weight: 500;
           padding: 5px 15px;
           margin: 0;
           margin-bottom: 20px;
           color: $brand-primary;
           i {
               display: none;
           }
       }
       .active {
           font-weight: bold;
       }
       .module-content {
           .heading {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
            }
            img {
                width: 100%;
               height: auto;
           }
           a img {
               width: auto;
           }
       }
       & > .module {
           padding: 0;
       }
   }
}
