.wrapper--showcase {
  @extend .wrapper;
  background: #f5f5f5;

  .container {

    @media (min-width: $width-lg) {
      width: 1200px;
    }
  }

  .heading {
    margin-bottom: $base*2;
  }
}

.showcase__wrapper {
  float: left;
  width: $base*30;
  padding-left: $base;
  padding-right: $base;
}

.showcase {
  background: $brand-primary;
  color: #fff;
  border-bottom-left-radius: $base*2;
  border-bottom-right-radius: $base*2;
  position: relative;
  margin-bottom: $base*6;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 16px;
    width: 0;
    height: 0;
    border: 124px solid transparent;
    border-top: 26px solid $brand-primary;
  }
}

.showcase__content {
  padding: $base*2;
}

.showcase__title {
  text-align: center;
  font-family: $font-heading;
}

.showcase__text {
  color: #fff;
}

.showcase__link {
  color: #fff;
}

.showcase__footer {
  width: 75%;
  margin: $base*2 auto 0;
  padding: $base 0;
  border-top: 1px solid $brand-primary-light;
  text-align: center;

  .material-icons {
    margin: $base 0;
    color: $brand-secondary-light;
  }
}