.sidebar {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:first-child {
      a,
      .sidebar-item-inner {
        border-top-right-radius: $border-radius-round;
      }
    }

    li:last-child {
      a,
      .sidebar-item-inner {
        border-bottom-left-radius: $border-radius-round;
      }
    }
  }

  ul + ul {
    margin-top: $base;
  }

  .sidebar-section {
    padding: $padding-large-vertical 0;
  }
}

.sidebar-item {
  padding: 0;
  background: transparent;

  a,
  .sidebar-item-inner {
    transition: all $transition-speed-base $transition-curve-base;
    width: 100%;
    padding: $padding-large-vertical $padding-large-horizontal*1.5;
    position: relative;
    display: block;
    background: $sidebar-item-bg;
    color: $sidebar-item-color;
  }

  &:hover {
    a {
      background: $sidebar-item-bg-active;
      color: $sidebar-item-color-active;
    }

    .sidebar-icon-wrapper {
      right: 0;
    }
  }

  .sidebar-icon-wrapper {
    transition: all $transition-speed-base $transition-curve-base;
    display: inline-block;
    height: $base*3.2;
    width: $base*3.2;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    span {
      font-size: $font-size-large;
      line-height: $base*3.2;
      margin-right: 0;
    }
  }
}

.sidebar-item--highlight {
  @extend .sidebar-item;

  a,
  .sidebar-item-inner {
    background: $sidebar-item-bg--highlight;
    color: $sidebar-item-color--highlight;
  }

  &:hover {
    a {
      background: $sidebar-item-bg-active--highlight;
      color: $sidebar-item-color-active--highlight;
    }
  }
}

.sidebar-heading {
  @extend .sidebar-item;
  font-size: $font-size-large;
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}