.stats {
  display: none;
  margin-top: $base*2;
  padding-bottom: $base*6;
  color: $stats-text-color;

  @media (min-width: $width-sm) {
    display: flex;
    justify-content: center;
  }
  .stat__link {
    color: $stats-text-color;;
    height: 70px;
  }
}


.stat__wrapper {
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-left: 1px solid $stats-text-color;

  @media (min-width: $width-md) {
    text-align: left;
  }

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-left: none;
    margin-left: auto;
  }

  .btn {
    vertical-align: middle;
  }
}

.stat {
  display: inline-block;
  text-align: center;
  padding-left: $base*2;
  padding-right: $base*2;

  & > div {
    display: inline-block;
    vertical-align: middle;
    padding-left: $base;
    padding-right: $base;
  }
}

.stat__value {
  font-family: $font-heading;
  font-size: 5rem;
}
