.stats {
  display: flex;
  justify-content: space-around;
  margin: $base*6 auto $base*6 auto;
  color: $stats-text-color;

  @media (min-width: $width-sm) {
    max-width: 600px;
  }
  .stat__link {
    color: $stats-text-color;
  }
}

.stat__wrapper {
  text-align: center;
  border-left: 1px solid $stats-text-color;

  @media (min-width: $width-md) {
    text-align: left;
  }

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-left: none;
    margin-left: auto;
  }

  .btn {
    vertical-align: middle;
  }
}

.stat {
  display: inline-block;
  text-align: center;

  background: rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: $base*0.2 $base*2;

  & > div {
    display: block;

    &.stat__value {
      display: inline-block;
    }
  }
}

.stat__value {
  font-family: $font-heading;
  font-size: $font-size-xlarge;
}

.stat__description {
  font-size: 13px;
}
