.twitterfeed {

  .ctf-tweets {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $base*10;
  }
}

#ctf {
  
  .ctf-item {
    width: 32%;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    margin-right: 1%;
    margin-top: $base*4;
    padding: 0;
    position: relative;
    overflow: visible;
  }

  .ctf-author-box {
    margin-left: 0;
    background: $brand-primary;
    color: #fff;
    padding: $base;

    .ctf-author-box-link {
      display: block;

      a {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        margin-top: 0;
        color: #fff !important;
      }
    }

    .ctf-author-avatar {
      margin: 0;
      float: none;
      height: 32px;
      width: 32px;

      img {
        height: 32px;
      }
    }

    .ctf-author-name {
      margin-left: $base;
      margin-right: 0;
    }
  }

  .ctf-tweet-content {
    padding: $base*2 $base*2 $base;
    margin: 0;
    margin-bottom: $base;
  }

  .ctf-tweet-actions {
    padding: $base $base*2;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    position: absolute;
      bottom: -24px;
      right: -1px;
      left: -1px;
    z-index: 1;
    background: #fff;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .ctf-quoted-tweet {
    margin: 7px 20px 24px 20px;
  }

  .ctf-twitterlink, 
  .ctf-screename-sep,
  .ctf-context,
  .ctf-verified,
  .ctf-tweet-meta {
    display: none;
  }
}