ul.hierarchy-tree-top {
  list-style-type: none;
  padding-left: 0;

  > li.hierarchy-tree-node {
    margin-top: $margin-base-vertical;

    a {
      color: $link-color;

      &.active,
      &:focus {
        color: $link-color-active;
        text-decoration: none;
      }

      &:hover {
        color: $brand-primary-light;
      }
    }
  }
}

#publisher-tree {
  ul.hierarchy-tree-top {
    padding-left: $padding-base-horizontal;
  }
}