.home-main {
  background: $white;
  box-shadow: 0 4px 3px rgba(50,50,93,0.6),0 -4px 3px rgba(0,0,0,.08);

  .home-highlight {
    padding: $padding-base-vertical*2 $padding-base-horizontal;

    .highlight-header {
      margin-left: 15px;
    }
  }
}
