.media-grid {
  margin: 0 -15px 20px -15px;
}

.media-item {
  @extend %box;
  padding: 15px;
  width: 290px;

  img {
    width: 100%;
    height: auto;
  }    
}

.media-view:hover {
  box-shadow: none;
}