  .module-resource {
    @extend .card;
    margin-left: 15px;
    margin-right: 15px;

    .actions {
      float: none;
      
      ul {
        padding-left: 0;
      }
    }

    .resource-view {
      .ckanext-datapreview {
        background: $gray-lighter;
        padding: 0;

        img {
          max-height: 100%;
          width: auto;
          margin: 0;
        }
      }
    }

    @media (min-width: $width-sm) {
      margin-left: 0;
    }
  }