.stats-list {
  .stats-list-item {
    text-align: center;
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;

    @media (min-width: $width-md) {
      padding-top: $padding-base-vertical*2;
      padding-bottom: $padding-base-vertical*2;
    }

    .item-value {
      font-size: 38px;
      font-weight: bold;
    }

    .item-description {
      font-size: 18px;
    }
  }
}