.tag-list {
  padding: 10px 0;
  list-style: none;

  li {
    @extend .box-shadow;
    background-color: $tag-background-color;
    color: $tag-text-color;
    border: $border-base solid $brand-primary;
    border-radius: $border-radius-large;
    font-size: $font-size*0.9;
    display: inline-block;
    padding: 0px 10px 2px 10px;
    margin-right: 5px;
    margin-bottom: 8px;

    &:hover {
      @extend .box-shadow-highlight;
      background-color: $tag-background-color-active;
      border-color: $tag-background-color-active;
      color: $tag-text-color-active;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $tag-text-color;
      text-decoration: none;
    }
  }
}