.toolbar {
  position: relative;
  margin: $base 0;
  padding: 5px 0;
}

.breadcrumb {
  margin: 0;
  background: none;

  li {
    +li:before {
      content: "/ ";
      padding: 0 5px;
      color: $gray-light;
    }
  }

  a {
    color: $gray-base;
  }
}