<!DOCTYPE html>
<html>
<head>
    <title>{{public_facing_hostname}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/static/main.css">
</head>
<body>
<div id="heading">
    <div>
        <a href="/sv">{{public_facing_hostname}}</a>
    </div>
</div>
<div class="container">
<div id="content">
    <h1>404 Sidan kunde inte hittas</h1>
    <p>
    Kontrollera att adressen är rätt stavat.<br>
    Gå till vår <a href="/sv">hem</a> och söka efter önskad sida genom att använda sök-eller platskartan.<br>
    Om problem uppstår, kan du även skicka <a href="{{email.contact}}"> återkoppling.</a>
    </p>

</div>
  </div>
</body>
</html>
