
server {

  listen [::1]:80;
  listen 127.0.0.1:80;
  listen 443 ssl;
  server_name {{ public_facing_hostname }};

  error_page 405 500 502 503 504 @internal_error;

   location @internal_error {
      root {{ static_path }};
      set $not_found /500.fi.html;
      if ( $request_uri ~* "/(fi|en_gb|en_GB|sv)/" ){
          set $not_found /500.$1.html;
      }
      rewrite ^(.*)$ $not_found break;
    }

  error_page 404 @not_found;

  location @not_found {
    root {{ static_path }};
    set $not_found /404.fi.html;
    if ( $request_uri ~* "/(fi|en_gb|en_GB|sv)/" ){
        set $not_found /404.$1.html;
    }
    rewrite ^(.*)$ $not_found break;
  }

  error_page 401 @unauthorized;

  location @unauthorized {
    root {{ static_path }};
    set $not_found /401.fi.html;
    if ( $request_uri ~* "/(fi|en_gb|en_GB|sv)/" ){
        set $not_found /401.$1.html;
    }
    rewrite ^(.*)$ $not_found break;
  }

  error_page 403 @forbidden;

  location @forbidden {
    root {{ static_path }};
    set $not_found /403.fi.html;
    if ( $request_uri ~* "/(fi|en_gb|en_GB|sv)/" ){
        set $not_found /403.$1.html;
    }
    rewrite ^(.*)$ $not_found break;
  }



  location = /robots.txt {
    root {{ static_path }};
  }

  ### CKAN

  location /data/ {
    proxy_pass {{ ckan_internal_url }};
    proxy_read_timeout 300s;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_intercept_errors on;
  }

  location ~ ^/data/(fi|sv|en_GB)/$ {
    return 302 /data/$1/dataset;
  }

  location = /data/ {
    return 302 /data/fi/dataset;
  }


  ### WordPress

  location / {
    alias /opt/wordpress/;
    try_files $uri $uri/ //index.php?$args; # https://trac.nginx.org/nginx/ticket/97
    index index.php index.html;
    include php.conf;
  }

  location = / {
    if ($arg_s = "") {
      return 302 /fi/;
    }
  }

  location /assets/ {
    alias {{ assets_path }}/;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }

  # file upload size in megabytes
  client_max_body_size {{ nginx_max_resource_size }}m;
}

# Redirect unknown hostnames to primary hostname
server {
  listen 443 ssl default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# Redirect HTTP to HTTPS
server {
  listen 80 default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# PHPPgAdmin
server {
    server_name phppgadmin.{{ public_facing_hostname }};
    root    /usr/share/phppgadmin;
    index   index.php;
    include php.conf;
    listen 8000 ssl;
    error_page 497 https://phppgadmin.{{ public_facing_hostname }}:8000$request_uri;
}
