
server {

  listen [::1]:80;
  listen 127.0.0.1:80;
  listen 443 ssl;
  server_name {{ public_facing_hostname }};

  error_page 500 502 503 504 /50x.html;

  location = /50x.html {
    root {{ static_path }};
    internal;
  }

  location = /robots.txt {
    root {{ static_path }};
  }

  ### CKAN

  location /data/ {
    proxy_pass {{ ckan_internal_url }};
    proxy_read_timeout 300s;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_set_header Host $host;
  }

  location ~ ^/data/(fi|sv|en_GB)/$ {
    return 302 /data/$1/dataset;
  }

  location = /data/ {
    return 302 /data/fi/dataset;
  }


  ### WordPress

  location / {
    alias /opt/wordpress/;
    try_files $uri $uri/ //index.php?$args; # https://trac.nginx.org/nginx/ticket/97
    index index.php index.html;
    include php.conf;
  }

  location = / {
    if ($arg_s = "") {
      return 302 /fi/;
    }
  }

  location /assets/ {
    alias {{ assets_path }}/;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }

  # file upload size in megabytes
  client_max_body_size {{ nginx_max_resource_size }}m;
}

# Redirect unknown hostnames to primary hostname
server {
  listen 443 ssl default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# Redirect HTTP to HTTPS
server {
  listen 80 default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# PHPPgAdmin
server {
    server_name phppgadmin.{{ public_facing_hostname }};
    root    /usr/share/phppgadmin;
    index   index.php;
    include php.conf;
    listen 8000 ssl;
    error_page 497 https://phppgadmin.{{ public_facing_hostname }}:8000$request_uri;
}
