{% ckan_extends %}

{% block resource_additional_information_inner %}
  <div class="module-content main-content">
    <h3>{{ _('Additional Information') }}</h3>

    <div class="api-link">
      {% block api_link %}
        <a class="btn btn-block btn-transparent" href="{{ h.url_for('/', locale='default', qualified=true) }}api/action/resource_show?id={{c.resource.id}}">{{ _('Metadata API') }}</a>
      {% endblock %}
    </div>

    <table class="table table-condensed table-borderless table-striped" data-module="table-toggle-more">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- block resource_last_updated -%}
          <tr>
            <th scope="row">{{ _('Last updated') }}</th>
            <td>
              {{ h.render_datetime(res.last_modified, date_format='%d.%m.%Y') 
              or h.render_datetime(res.revision_timestamp, date_format='%d.%m.%Y') 
              or h.render_datetime(res.created, date_format='%d.%m.%Y') 
              or _('unknown') }}
            </td>
          </tr>
        {%- endblock -%}
        {%- block resource_created -%}
          <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.render_datetime(res.created, date_format='%d.%m.%Y') 
              or _('unknown') }}
            </td>
          </tr>
        {%- endblock -%}
        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_fields -%}

            {%- set exclude_fields = [
            'name',
            'description',
            'url',
            'format',
            'name_translated',
            'description_translated'
            ] -%}

          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
              and field.display_snippet is not none 
              and res[field.field_name] -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
      </tbody>
    </table>
  </div>
{% endblock %}
