{% ckan_extends %}

{% block links -%}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/4f2a9d3d3d.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />

  {% if h.get_cookiehub_domain_code() %}
    <script src="https://cdn.cookiehub.eu/c2/{{h.get_cookiehub_domain_code()}}.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
        var cpm = {
          onInitialise: function(status) {
            if (this.hasConsented('analytics')) {
              console.log('The analytics category is allowed');
              _paq.push(['setCookieConsentGiven']);
            }
          },
          onStatusChange: function(status, previousStatus) {
            if (this.hasConsented("analytics")) {
              console.log('The analytics category is allowed');
              _paq.push(['setCookieConsentGiven']);
            }
          },
          onAllow: function(category) {
            if (category == 'analytics') {
              console.log('The analytics category was just allowed');
              _paq.push(['setCookieConsentGiven']);
            }
          },
          onRevoke: function(category) {
            if (category == 'analytics') {
              console.log('The analytics category was just revoked');
              _paq.push(['forgetCookieConsentGiven']);
            }
          }
        };
        window.cookiehub.load(cpm);
      });
    </script>
  {% endif %}
{% endblock -%}

{% block meta -%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock -%}

{% block head_extras %}
  {{ super() }}
{% endblock %}

{% block styles %}
  {% asset 'sixodp/sixodp_css' %}
{% endblock %}