{% ckan_extends %}

{%- block page -%}

  {% set navigation_items = h.get_navigation_items() %}
  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header scoped %}
      {% set navigation_slug = h.get_navigation_slug('ckanext.sixodp.wp_main_menu_location') %}
      {% snippet "sixodp_header.html", navigation_items=navigation_items[navigation_slug] %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
   {% block maintag %}<div role="main" id="main" class="content-area">{% endblock %}
      <div id="mobile-indicator"></div>
      <div id="content">
        {% block main_content %}
          {% block service_alerts %}
            {% snippet 'snippets/service_alerts.html' %}
          {% endblock %}
          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            <div class="pre-primary">
              {% block pre_primary %}
                <div class="page-hero"></div>
                {% block toolbar %}
                  <div class="toolbar">
                    <div class="container">
                      {% block breadcrumb %}
                        {% if self.breadcrumb_content() | trim %}
                          <ol class="breadcrumb">
                            {% snippet 'snippets/home_breadcrumb_item.html' %}
                            {% block breadcrumb_content %}{% endblock %}
                          </ol>
                        {% endif %}
                      {% endblock %}
                    </div>
                  </div>
                  {% if self.subtitle() %}
                  <div class="toolbar--site-subtitle">
                    <h1>{% block subtitle %}{% endblock %}</h1>
                  </div>
                  {% endif %}
                {% endblock %}
              {% endblock %}
            </div>

            <div class="container">
              {% block flash %}
              <div class="flash-messages">
                {% block flash_inner %}
                {% for category, message in h.get_flashed_messages(with_categories=true) %}
                <div class="alert fade in {{ category }}">
                  {{ h.literal(message) }}
                </div>
                {% endfor %}
                {% endblock %}
              </div>
              {% endblock %}
              {% block primary %}

              {% block offcanvas_button %}
                {% snippet 'snippets/sixodp_offcanvas-button.html' %}
              {% endblock %}
                <div class="primary border-left col-md-9 col-sm-12 col-xs-12">
                  {#
                  The primary_content block can be used to add content to the page.
                  This is the main block that is likely to be used within a template.

                  Example:

                    {% block primary_content %}
                      <h1>My page content</h1>
                      <p>Some content for the page</p>
                    {% endblock %}
                  #}
                  {% block primary_content %}
                    <article class="module">
                      {% block page_header %}
                        <header class="module-content page-header">
                          {% if self.content_action() | trim %}
                            <div class="content_action">
                              {% block content_action %}{% endblock %}
                            </div>
                          {% endif %}
                          {% block content_primary_nav_headings %}{% endblock %}
                          <ul class="nav nav-tabs">
                            {% block content_primary_nav %}{% endblock %}
                          </ul>
                        </header>
                      {% endblock %}
                      <div class="module-content main-content">
                        {% if self.page_primary_action() | trim %}
                          <div class="page_primary_action">
                            {% block page_primary_action %}{% endblock %}
                          </div>
                        {% endif %}
                        {% block primary_content_inner %}
                        {% endblock %}
                      </div>
                    </article>
                  {% endblock %}
                </div>
              {% endblock %}

              {% block secondary %}
                {% block offcanvas_navigation %}
                  <aside class="secondary border-right col-md-3 col-sm-12 navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
                    {% snippet 'snippets/sixodp_offcanvas-close-button.html' %}
                    {% block secondary_content %}{% endblock %}
                  </aside>
                {% endblock %}
              {% endblock %}
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer scoped %}
    {% set footer_navigation_slug = h.get_navigation_slug('ckanext.sixodp.wp_footer_menu_location') %}
    {% set social_navigation_slug = h.get_navigation_slug('ckanext.sixodp.wp_social_menu_location') %}

    {% snippet "footer.html", footer_navigation_items=navigation_items[footer_navigation_slug], social_navigation_items=navigation_items[social_navigation_slug] %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
    {% asset 'base/main' %}
    {% asset 'base/ckan' %}
    {% asset 'sixodp/sixodp_js' %}

    {% if g.tracking_enabled %}
      {% asset 'base/tracking' %}
    {% endif %}
  {{ super() }}


{% endblock -%}
