.wpcw-widget .form p {
	margin: 0 0 10px 1px;
}
.wpcw-widget .form p.sortable-placeholder {
	margin: 0 0 8px 1px;
}
.wpcw-widget .form.ui-sortable p span.dashicons {
	top: 25px;
}
.wpcw-widget .form.ui-sortable p.textarea span.dashicons {
	top: 80px;
}
.wpcw-widget .ui-sortable.form > p .widefat {
	display: inline;
}
/**
 * IE8 fix and woraround
 */
.ie8 .wpcw-widget .form.ui-sortable p span.dashicons {
	top: 0;
}
.ie8 .wpcw-widget-social .icons a.inactive {
	color: #ccc;
}
