{% ckan_extends %}

{% block pre_primary %}
  <div class="page-hero"></div>
  <div class="search-form-container row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      {{ h.snippet('snippets/search_input.html', query=c.q, placeholder=_('Search organizations...'), query_params=c.fields_grouped, sorting=c.sort_by_selected) }}
    </div>
  </div>
  {% block toolbar %}{{ super() }}{% endblock %}
{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active">{% link_for h.humanize_entity_type('organization', group_type, 'breadcrumb') or _('Organizations'), named_route=group_type+'.index' %}</li>
{% endblock %}

{% block organizations_search_form %}
  <div class="search-options">
    {% snippet 'snippets/search_form_without_input.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, sorting='disabled', count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  </div>
{% endblock %}

{% block organizations_list %}
  {% if page.items or request.params %}
    {% if page.items %}
      {% snippet "organization/snippets/organization_list.html" %}
    {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
{% endblock %}

{% block page_pagination %}
{% endblock %}