{% ckan_extends %}

  {% block search_input %}
    <div class="input-group {{ search_class }}">
      <input type="text" class="form-control form-control-lg" name="q" value="{{ query }}" placeholder="{{ placeholder }}" autocomplete="off" aria-label="{{ _('Search') }}">
        {% block search_input_button %}
          <button class="btn btn-primary btn-lg" type="submit" value="search">
            {{ _('Submit') }}
          </button>
        {% endblock %}
    </div><!-- /input-group -->
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
      <div class="form-group control-order-by">
        <select id="field-order-by" name="sort" class="form-control form-select" aria-label="{{ _('Sort') }}">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% if not request.args.get('sort') %}
          <input type="hidden" name="sort" value="score desc, metadata_modified desc" />
        {% endif %}
        {% block search_sortby_button %}
        <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>
    {% endif %}
  {% endblock %}

{% block search_facets %}
{% endblock %}


{% block search_title %}
  {% if not no_title %}
    <h2 class="search-result-text">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
  {% endif %}
{% endblock %}
