body {
  background-color: #fff;
  font-family: sans;
  margin: 0;
}

.dashboard {
}
.dashboard-section {
  min-height: 600px;
  position: relative;
}
.dashboard-section-content {
  margin: auto;
  padding: 60px;
  padding-bottom: 120px;
  width: 1024px;
}
.dashboard-section:nth-child(1) {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
}
.dashboard-section:nth-child(2) {
  color: #fff;
  background-color: #074a74;
}
.dashboard-section:nth-child(3) {
  color: #fff;
  background-color: #033a64;
}
.dashboard-section:nth-child(4) {
  color: #000;
  background-color: #fff;
}

.dashboard-footer {
  padding: 30px;
  text-align: center;
}
.dashboard-footer a {
  color: inherit;
  font-size: 12px;
}
