---

- name: Create paths
  file: path={{ item }} state=directory mode="0775" owner=root group=root
  with_items:
      - "{{ cache_path }}/solr"
      - "/opt/solr/"

- name: Download Solr package
  get_url: url={{ solr_download_url }} dest={{ cache_path }}/solr/solr-{{ solr_version }}.tgz checksum={{ solr_checksum }} mode="0644" owner=root group=root

- name: Extract Solr installer from the archive
  unarchive: src={{ cache_path }}/solr/solr-{{ solr_version }}.tgz dest={{ cache_path }}/solr copy=no creates={{ cache_path }}/solr/solr-{{ solr_version }}

- name: Install Solr
  command:
    "{{ cache_path }}/solr/solr-{{ solr_version }}/bin/install_solr_service.sh {{ cache_path }}/solr/solr-{{ solr_version }}.tgz -d /var/solr -u {{ solr_user }} -s solr -p 8983 -i /opt/solr -f"
  args:
    creates: /opt/solr/solr-{{ solr_version }}
  become: true

- name: Start solr
  service: name=solr state=started

- name: Check Solr is running
  uri:
    url: http://localhost:8983

- name: Create Solr core
  command:
    "/opt/solr/solr/bin/solr create -c ckan"
  args:
    creates: /var/solr/data/ckan
  become: true
  become_user: solr
  ignore_errors: True

- name: Copy CKAN Solr schema and config
  copy: src={{ item }} dest=/var/solr/data/ckan/conf/{{ item }} mode="0644" owner=solr group=solr
  with_items:
    - schema.xml
    - solrconfig.xml
  become: true
  become_user: solr
  register: fetch_schema

- name: Remove old schema
  file: path=/var/solr/data/ckan/conf/managed-schema state=absent
  become: true
  become_user: solr

- name: Update logging properties
  copy: src=log4j.properties dest=/var/solr/log4j.properties mode="0640" owner=solr group=solr
  become: true
  become_user: solr

- name: Restart solr
  service: name=solr state=restarted
