---

patches_cache_path: "{{ cache_path }}/patch"
ckan_source_path: "{{ virtualenv }}/src/ckan"

ckan_patches:
  - { file: "alert_fix" }
  - { file: "allow_org_admins_create_users" }
  - { file: "set_attachment_content_disposition" }
  - { file: "package_group_list_fix" }
  - { file: "enable_multiple_image_uploads" }
  - { file: "fix-default-search-field" }
  - { file: "make_creating_tags_optional" }
  - { file: "fix-popped-wrong-app-context" }
  - { file: "fix_unicode_decode_error_in_error_page" }
  - { file: "fix-data-viewer-race-condition"}
  - { file: "remove_members_from_group_read"}
  - { file: "remove_user_activity_from_group_activity_list"}
  - { file: "optimize_group_show" }
  - { file: "optimize_template_loading" }
  - { file: "group_include_extras" }
  - { file: "add_group_extra_resource_db_indices" }
  - { file: "correctly_flatten_extras" }

files_created_by_patches:
  - { file: '/usr/lib/ckan/default/src/ckan/ckan/lib/csrf_token.py'}
