---

patches_cache_path: "{{ cache_path }}/patch"

ckan_patches:
  - { file: "allow_org_admins_create_users" }
  - { file: "set_attachment_content_disposition" }
  - { file: "enable_multiple_image_uploads" }
  - { file: "fix-default-search-field" }
  - { file: "fix-data-viewer-race-condition"}
  - { file: "optimize_group_show" }
  - { file: "optimize_template_loading" }
  - { file: "group_include_extras" }
  - { file: "add_group_type_to_group_search" }
  - { file: "replace_btn-default_with_btn-secondary" }
  - { file: "fix_markdown_extract" } # https://github.com/ckan/ckan/pull/9176

#files_created_by_patches:
#  - { file: '/usr/lib/ckan/default/src/ckan/ckan/lib/csrf_token.py'}
