body {
  font-family: $font;
  font-size: $font-size;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
}

a {
  color: $link-color;
  word-break: break-word;

  &:hover {
    color: $link-color-active;
    text-decoration: none;
  }
}
