// Base
$base: 10px;

// Colors
$lighten-intensity: 10%;
$darken-intensity: 20%;

$gray-base: #57575b;
$gray-darker:            darken($gray-base, $darken-intensity*2);
$gray-dark:              darken($gray-base, $darken-intensity);
$gray:                   lighten($gray-base, $lighten-intensity*1.5);
$gray-light:             lighten($gray-base, $lighten-intensity*3);
$gray-lighter:           lighten($gray-base, $lighten-intensity*6);

$black: $gray-base;
$white: #ffffff;

$brand-primary: #534f97;
$brand-success: #97ba54;
$brand-info: #446eb5;
$brand-warning: #f0ad4e; // Bootstrap default color
$brand-danger: #d9534f; // Bootstrap default color

$brand-background: #eeeeee;
$body-background: $brand-primary;
$homepage-gradient-start: rgba(83, 79, 151, 0.3);
$homepage-grandient-end: rgba(83, 79, 151, 0.1);

$brand-primary-light: lighten($brand-primary, $lighten-intensity);
$brand-success-light: lighten($brand-success, $lighten-intensity);
$brand-info-light: lighten($brand-info, $lighten-intensity);
$brand-warning-light: lighten($brand-warning, $lighten-intensity);
$brand-danger: lighten($brand-danger, $lighten-intensity);

$brand-primary-dark: darken($brand-primary, $darken-intensity);
$brand-success-dark: darken($brand-success, $darken-intensity);
$brand-info-dark: darken($brand-info, $darken-intensity);
$brand-warning-dark: darken($brand-warning, $darken-intensity);
$brand-danger-dark: darken($brand-danger, $darken-intensity);

$state-success-text: darken($brand-success, $darken-intensity);
$state-success-bg: lighten($brand-success, $lighten-intensity);
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text: #31708f;
$state-info-bg:  #d9edf7;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text: #8a6d3b;
$state-warning-bg: #fcf8e3;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text: #a94442;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%);

// Typography
$font-size: $base*1.6;
$font-size-small: $base*1.4;
$font: 'Work Sans', sans-serif;
$text-color: $black;

// Navigation
$navbar-height: 110px;
$navbar-background: $white;
$navbar-logos-background-color: $gray-lighter;
$navbar-link-color: $gray-base;
$navbar-link-color-active: $brand-primary;
$navbar-toggle-color: $brand-primary;
$navbar-toggle-color-active: lighten($navbar-toggle-color, 30%);

$nav-tabs-color: $white;
$nav-tabs-active: $brand-primary;

// Button
$button-background-color: $brand-primary;
$button-background-color-active: lighten($button-background-color, 20%);
$button-text-color: $white;
$button-text-color-active: $white;

// Card
$card-background-color: $white;
$card-background-color-active: $white;
$card-text-color: $text-color;
$card-text-color-active: $text-color;
$card-border-highlight-color: $brand-primary;
$card-border-highlight-color-active: $brand-success;

// Footer
$footer-background: transparent;
$footer-text-color: $white;
$footer-link-color: $white;
$footer-link-color-active: $gray-lighter;

// Tag-list
$tag-background-color: $brand-primary;
$tag-background-color-active: lighten($tag-background-color, 20%);
$tag-text-color: $white;
$tag-text-color-active: $white;

// Stages
$stages-background-color: $gray-lighter;
$stages-background-color-active: $brand-primary;
$stages-background-color-filled: $gray-light;
$stages-text-color: $text-color;
$stages-text-color-active: $white;
$stages-text-color-filled: $white;

// Other component colors
$link-color: $brand-primary;
$link-color-active: lighten($link-color, 20%);
$badge-background-color: $brand-primary;
$badge-background-color-active: $brand-primary;
$topic-list-background-color: $gray-lighter;

// Components
$border-radius-base: 2px;
$border-radius-large: 0.25em;
$border-radius-small: 2px;

$border-base: 2px;

$padding-base-horizontal: 25px;
$padding-base-vertical: 20px;
$margin-base-horizontal: 25px;
$margin-base-vertical: 20px;

// Breakpoints
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
$width-xl: 1400px;

$grid-float-breakpoint: 992px; // Navbar collapse point