{% ckan_extends %}
{% block head_extras -%}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ h.get_translated(pkg ,'description')|forceescape|trim }}">
{% endblock -%}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_showcase_list', _('Showcases'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_collection_list', _('Collections'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block heading %}
    <h1 class="main-heading">{{ h.dataset_display_name(pkg) }}</h1>
  {% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
    {% endif %}
  {% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

  {% block package_openness %}
    {% if c.pkg_dict %}
      <div class="module module-narrow module-shallow context-info">
        <h2 class="module-heading">{{ _('Openness') }}</h2>
        <section class="module-content">
          {{ h.get_qa_openness(c.pkg_dict) }}<br>
        </section>
      </div>
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  {% block package_license %}
  {% endblock %}
{% endblock %}