footer {
  hr {
    margin: 0;
  }

  .footer-section {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
  }

  &.site-footer {
    background: transparent;
    padding: $padding-base-vertical*2 0;
    font-size: 14px;
    color: $white;

    a,
    label,
    small {
      color: $white;

      &:hover {
        color: $gray-lighter;
      }
    }

    .footer-logo {
      height: 264px;
      text-align: center;

      img {
        max-width: 300px;
        height: auto;
        @include vertical-align();
      }    
    }

    .footer-links {
      height: 264px;

      table {
        @include vertical-align();
        font-size: 16px;
        list-style: none;

        td {
          padding: 10px 15px;

          a {
            cursor: pointer;
          }
        }
      }
    }

    .footer-follow-links {
      @include vertical-align();

      .footer-follow-title {
        margin-right: 5px;
      }

      i {
        vertical-align: middle;
      }
    }

    .attribution {
      color: $white;
           
      .ckan-footer-logo {
        display: block;
        width: 68px;
        height: 21px;
        margin-top: 2px;
        background: url("../../../base/images/ckan-logo-footer.png") no-repeat top left;
        text-indent: -900em;
      }
    }
  }
}