.resource-list {
  padding-left: 0;
  list-style: none;

  .resource-item {
    @extend .card-hover;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    background-color: #f2f2f2;

    a {
      &:hover {
        text-decoration: none;
      }
      .caret {
        zoom: 1.5;
        color: $brand-primary;
      }
      .description {
        font-size: $font-size*0.9;
      }
    }
  }
}