.hero {
  margin: 0;
  padding-top: $base*5;
  min-height: 400px;
  background: transparent;
}

.site-title {
  @extend %title;
  font-size: 26px;

  @media (min-width: $width-sm) {
    font-size: 40px;
  }
}

.site-subtitle {
  @extend %title;
  line-height: 1;
  font-weight: normal;
  font-size: 18px;

  @media (min-width: $width-sm) {
    font-size: 24px;
  }
}

.hero__content {
  display: block;
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
}

.hero__search {
  width: 100%;
  max-width: 480px;
  margin: $base*6 auto;

  button {
    left: -2px;
    padding: $base*1.5 0 !important;
    line-height: $base*1.5;
  }

  input {
    height: $base*4.5;
  }
}
