local all postgres peer
host {{ database_ckan.name }} {{ database_ckan.username }} {{ database_ckan.allowed_ip_range }} md5
host {{ database_ckan.name }} {{ database_ckan.username }} 127.0.0.0/8 md5
host {{ database_ckan_datastore.name }} {{ database_ckan.username }} {{ database_ckan.allowed_ip_range }} md5
host {{ database_ckan_datastore.name }} {{ database_ckan.username }} 127.0.0.0/8 md5
host {{ database_ckan_datastore.name }} {{ database_ckan_datastore.username }} {{ database_ckan_datastore.allowed_ip_range }} md5
host {{ database_ckan_datastore.name }} {{ database_ckan_datastore.username }} 127.0.0.0/8 md5